@media (max-width: 480px){
  #wrapper .mainContainer {
  }
}

@media (min-width: 480px and max-width:600px){
  #wrapper .mainContainer {
  }
}

@media (max-width: 590px){

  .menu .megamenu, .menu .halfmenu {
    width:100%;
    max-width:100%;
    padding:0;
    position: relative;
  }

  #wrapper .footer, #wrapper .header {
    padding:0;
  }

  .quarter{
    width:100%;
  }

  #wrapper #registerSpan #registerText, #wrapper #registerSpan #registerButton, #wrapper #registerSpan #registerBottom {
  	width: 100%;
  	padding: 0;
  }

  #wrapper #signUpBox #signUpHeader, #wrapper #signUpBox #signUpBody, #wrapper #signUpBox #signUpFooter {
  	width: auto;
  	padding-left: 10px;
  	padding-right: 10px;
  	display: block;

  }

  .verify, #wrapper #signUpBox {
    padding: 0;
  }

  .newsfeedFilter, .newsfeedFilter li {
    font-size: 12px !important;
  }

  #wrapper .header .headerSearch { 
    float:left;
    width:100%;
  }

  #wrapper .header .headerSearch input {
    width:100%!important;
  }

  #wrapper .profileInfo .profileBio {
    float: none;
    max-width:100%;
    display: block;
  }

  #wrapper .profileInfo .profilePhoto {
    max-width: 100%;
    display: block;
  }

  .leftContent, .leftContentHomepage {
    display: none;
  }

  #menuProfile {
    display: block;
  }

  .rightContent, .rightContentHomepage {
    width: 100%;
    border-left: none;
  }

  .memberSince {
    clear: both;
    float: left;
    text-align: left;
    width:100%;
  }

  .profileEditDiv {
    margin-top: 5px;
    text-align: center;
  }

  .profileEditDiv button {
    margin: 0;
    width: 49%;
  }

  .profileCountry {
    margin-bottom: 5px;
  }

  #wrapper .header .headerSearch {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .memberSince {
    margin-top: 0;
  }

  .chapterNext, .chapterPrevious {
    display:block;
  }

  .jOrgChart .node {
    width: 80px !important;
  }

  .chapterPrevious {
    width: 100%;
    border-bottom: 1px dotted #cccccc;
  }

  .chapterPrevious .chapterPreviousHeader {
    border: none;
  }

  .chapterNext {

  }

  .chapterNext .chapterNextHeader {
    border:none;
  }

  .profileInfo button, .newsfeedFilter button {
  }
}

@media (max-width: 1024px){
  .breadcrumbs {
    margin-left: 10px;
position: relative;
margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .tree {
    display:none;
  }
  .menu li a {
    padding: 8px!important;
  }
  #adminButtons {
    margin-top: 10px;
  }
  .tags  {
    display: block;
    clear:both;
    margin-top: 10px;
  }

  .likesBookmarksDiv {
    display:block;
    clear:both;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {

  #wrapper #registerSpan {
    margin-left:0;
  }
 
.menu{display:none;width: 100%;}
 
.mobile-menu{display:block;width:auto;}

.menu ul li a {
  width: auto;
}
 
nav{margin:0;
background:none;}
 
.menu li{
display:block;
margin:0;
width:100%;}
 
.menu li a {background:#ffffff;
color:#797979;
border-top:1px solid #e0e0e0;
border-left:3px solid #ffffff;}
 
.menu li a:hover, .menu li:hover > a{
background:#f0f0f0;
color:#797979;
border-left:3px solid #9CA3DA;}
 
.menu ul {display:none;
position:relative;
top:0;
left:0;
width:100%;}
 
.menu ul ul {left:0;}
 
}