/*
* Place css styles below.
*/

html {
	min-height: 100%;
	margin: 0;
	padding: 0;
	overflow-x:hidden;
}

body {
	background: #e7ebf2;
	/**background: #ecf0f1;**/
	min-height: 100%;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

.breadcrumbs {
	background: #ffffff;
	max-width: 1024px;
	margin:auto;
	margin-top: 10px;

}

.breadcrumbs .breadcrumbsContainer {
	padding: 10px;
	display: inline-block;
}

.breadcrumbs a, .breadcrumbs a:hover {
	color: #000000;
}

#wrapper {
	margin: auto;
	max-width: 100%;
	position:absolute;
	min-height: 100%;
	width:100%;
}

#wrapper .mainContent {
	display: inline-block;
	width: 100%;
}

#wrapper .headerContainer {
	z-index:5;
	width:100%;
}

#wrapper .header {
	position: relative;
	margin: auto;
	left: 0;
	padding: 10px;
	padding-bottom: 0;
	color: #ffffff;
	font-size:24px;
	background-color: #372847;
}

#wrapper .mainContainer {
	padding: 10px;
	max-width: 1024px;
	margin: auto;
	position:relative;
}

#wrapper .mainContainer .leftContent .newsfeedSearch {
	height: 30px;
	border: 1px solid #cccccc;
	width: 100%;
	margin-bottom: 10px;
	font-size: 18px;
	padding: 5px;
	box-sizing: border-box;
}

#wrapper .mainContainer .leftContent .unfollow {
	color: #ffffff;
	position: absolute;
	right: 4px;
	top: 4px;
	display: none;
	color: #ae1819;
}

#wrapper .mainContainer .submitStatusBox {
	width: 100%;
	position: relative;
	margin-bottom: 10px;
}

#wrapper .mainContainer .submitReplyButton {
	margin-bottom: 10px;
}

#wrapper .sendMessage, #wrapper .homepageLoadMore, #wrapper .unpinTopicButton, #wrapper .pinTopicButton, #wrapper .manageMembersButton, #wrapper .editCommentSubmit, #wrapper .replyTopicButton, #wrapper .editTopicButton, #wrapper .subscribeTopicButton, #wrapper .unsubscribeTopicButton, #wrapper .unrequestJoinCircleButton, #wrapper .requestJoinCircleButton, #wrapper .editCircleButton, #wrapper .newTopicButton, #wrapper .unjoinCircleButton, #wrapper .joinCircleButton, #wrapper #saveTopic, #wrapper #saveCircle, #wrapper .viewAllTable, #wrapper .repostConfirm, #wrapper .cancelRepost, #wrapper .subscribedToChallenge, #wrapper .unsubscribeToChallenge, #wrapper .subscribeToChallenge, #wrapper .editChallengeButton, #wrapper .unsubscribeToBrainstormTopic, #wrapper .subscribedToBrainstormTopic, #wrapper .subscribeToBrainstormTopic, #wrapper .saveEmailSettings, #wrapper .changeEmailSubmit, #wrapper .changePasswordSubmit, #wrapper .unsubscribeToStory,#wrapper .subscribedToStory,#wrapper .editStoryButton, #wrapper .subscribeToStory,#wrapper #publishSubmission, #wrapper .mainContainer #saveChallenge,#wrapper .mainContainer .unsubscribeToBrainstorm,#wrapper .mainContainer .subscribeToBrainstorm,#wrapper .mainContainer .createNewBrainstormTopic,#wrapper .mainContainer #replyTopicButton,#wrapper .mainContainer #sendNewTopicButton, #wrapper .mainContainer #sendNewMessageButton, #wrapper .mainContainer #replyMessageButton,#wrapper .mainContainer #saveStoryDetails, #wrapper .mainContainer #saveStoryDetails, #wrapper .mainContainer #goToStep1, #wrapper .mainContainer #goToStep2, #wrapper .mainContainer #editChapterButton, #wrapper .mainContainer #saveDraft, #wrapper .mainContainer #saveChapterDraft, #wrapper .mainContainer #publish, #wrapper .mainContainer #publishChapter, #wrapper .mainContainer #submitStatusButton, #wrapper .mainContainer .submitReplyButton {
	border: none;
	background: #372847;
	color: #ffffff;
	margin-right: 0;
	padding: 10px;
	font-size: 14px;
	border-radius: 5px;
	margin-top:10px;
}

#wrapper #publishSubmission, #wrapper .mainContainer #publish {
	background: #648e2a;
	margin-left: 5px;
}

#wrapper .sendMessage:hover, #wrapper .homepageLoadMore:hover, #wrapper .unpinTopicButton:hover, #wrapper .pinTopicButton:hover, #wrapper .manageMembersButton:hover, #wrapper .editCommentSubmit:hover, #wrapper .replyTopicButton:hover, #wrapper .editTopicButton:hover, #wrapper .subscribeTopicButton:hover, #wrapper .unsubscribeTopicButton:hover, #wrapper .unrequestJoinCircleButton:hover, #wrapper .requestJoinCircleButton:hover, #wrapper .editCircleButton:hover, #wrapper .newTopicButton:hover, #wrapper .unjoinCircleButton:hover, #wrapper .joinCircleButton:hover, #wrapper #saveTopic:hover, #wrapper #saveCircle:hover, #wrapper .viewAllTable:hover, #wrapper .repostConfirm:hover, #wrapper .cancelRepost:hover, #wrapper .subscribedToChallenge:hover,  #wrapper .subscribeToChallenge:hover, #wrapper .editChallengeButton:hover, #wrapper .subscribedToBrainstormTopic:hover, #wrapper .subscribeToBrainstormTopic:hover, #wrapper .saveEmailSettings:hover, #wrapper .changeEmailSubmit:hover, #wrapper .changePasswordSubmit:hover, #wrapper .subscribedToStory:hover, #wrapper .editStoryButton:hover,#wrapper .subscribeToStory:hover,#wrapper #publishSubmission:hover,#wrapper .mainContainer #saveChallenge:hover,#wrapper .mainContainer .unsubscribeToBrainstorm:hover,#wrapper .mainContainer .subscribeToBrainstorm:hover,#wrapper .mainContainer .createNewBrainstormTopic:hover,#wrapper .mainContainer #replyTopicButton:hover,#wrapper .mainContainer #sendNewTopicButton:hover, #wrapper .mainContainer #sendNewMessageButton:hover, #wrapper .mainContainer #replyMessageButton:hover,#wrapper .mainContainer #saveStoryDetails:hover ,#wrapper .mainContainer #goToStep1:hover, #wrapper .mainContainer #goToStep2:hover, #wrapper .mainContainer #editChapterButton:hover, #wrapper .mainContainer #saveDraft:hover, #wrapper .mainContainer #saveChapterDraft:hover, #wrapper .mainContainer #publish:hover, #wrapper .mainContainer #publishChapter:hover #wrapper .mainContainer #submitStatusButton:hover, #wrapper .mainContainer .submitReplyButton:hover {
	background: linear-gradient(#5e4378, #785599 100%);
}

#wrapper #publishSubmission:hover,#wrapper .mainContainer #publish:hover {
	background: #72a230;
}

.step1Error, .step2Error {
	color: #ae1819;
}

.authorStatsClear{
	vertical-align: bottom;
	position: relative;
	height: 100%;
	margin-top: 3px;
}

textarea {
	width: 100%;
	border: 1px solid #cccccc;
	font-size: 18px;
	padding: 0;
	padding: 5px;
	background: #ffffff;
	box-sizing: border-box;
	resize: vertical;
}

.nicEdit-main {
	background: #ffffff;
	color:#000000;
	margin:0!important;
	width:100%!important;
}

.mainContent .submitStatusBox #submitStatus {
	height: 100px;
}

#wrapper .mainContainer .leftContent .leftMenuHeader, #wrapper .mainContainer .rightContent .rightMenuHeader {
	padding: 5px;
}

#wrapper .profileInfo {
	margin-bottom: 10px;
	background: #ffffff;
	padding: 10px;
}

#wrapper .profileInfo .profilePhoto {
	max-width: 24%;
display: inline-block;
position: relative;
height: auto;
}

#wrapper .profileInfo .profileBio {
	max-width: 74%;
vertical-align: top;
display: inline-block;
}

#wrapper .profileInfo .profileBio .bio, #wrapper .profileInfo .profileBio .website, #wrapper .profileInfo .profileBio .socialLinks {

}

#wrapper .profileInfo .profilePhoto, #wrapper .profileInfo .profileBio {
	display: inline-block;
}

#wrapper .profileInfo .profileName {
	border-bottom:1px solid #cccccc; 
	padding-bottom:10px;
	margin-bottom:10px;
	font-size:24px;
}

#wrapper .profileInfo .profilePhoto img {
    width:100%;
}

#wrapper .mainContainer .leftContent .leftMenuHeader {
	background: #372847;
	color: #ffffff;
	word-break: break-word;
}

#wrapper .mainContainer .leftContent ul {
	padding-left: 0;
	margin: 0;
}

#wrapper .mainContainer .leftContent ul li {
	list-style: none;
	vertical-align: top;
	min-height: 30px;
	margin-bottom: 5px;
	cursor: pointer;
	position: relative;
	border-bottom: 1px dotted #cccccc;
	padding: 3px;
}

#wrapper .mainContainer .leftContent ul li:last-child {
	border-bottom: none;
}

#wrapper .mainContainer .leftContent ul li:hover {
	background: #BDAEC6;
	color: #ffffff;
}

#wrapper .mainContainer .leftContent ul li:hover a {
	color: #ffffff;
}

#wrapper .mainContainer .mainContent .banner {
	height: 350px;
	display: table;
	background: #372847;
}

#wrapper .mainContainer .mainContent .description {
	font-size: 24px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
}

#wrapper .mainContainer .mainContent .banner #bannerText {
	vertical-align: middle;
	display: table-cell;
	font-size: 30px;
	color: #ffffff;
}

#wrapper .mainContainer .mainContent .banner #bannerText #bannerTitle {
	font-size: 42px;
	font-weight: bold;
}

#wrapper .mainContainer .mainContent .banner #bannerText #bannerInstructions {
	font-size: 20px;
}

#wrapper .header #headerProfile {
    display: inline-block;
    vertical-align: top;
}

#wrapper .header #headerProfile img {
	border-radius: 50%;
    behavior: url(PIE.htc);
    cursor: pointer;
}

#wrapper .header #headerLogo {
	color: #2ecc71;
}

#wrapper .searchContainer {
	display: inline-block;
}

#wrapper .header .headerSearch {
	margin-top: 18px;
	margin-right: 10px;
}

#wrapper .searchContainer #searchResults {
	color: black;
	font-size: 16px;
	top: 40px;
	right: 10px;
	text-shadow: white 0 1px;
	background: -webkit-linear-gradient(#DDD, #CCC);
	background: -moz-linear-gradient(#DDD, #CCC);
	background: -ms-linear-gradient(#DDD, #CCC);
	background: -o-linear-gradient(#DDD, #CCC);
	background: linear-gradient(#DDD, #CCC);
	background-clip: padding-box;
	box-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
	border-radius: 1px;
	position: absolute;
	width: 250px;
	margin-left: -125px;
	margin-bottom: 15px;
	padding: 5px;
	display:none;
}

#wrapper #search {
	height: 27px;
	vertical-align: top;
	background: #cccccc;
	border: 0;
	border-radius: 5px;
	font-size: 20px;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
	width: 140px;
}

#wrapper #search:focus {
	width: 180px;
}

#wrapper #searchType {
	background: #bdc3c7;
	height: 30px;
	vertical-align: top;
	font-size: 20px;
	border-radius: 0;
	position: relative;
	right: 4px;
	border: none;
	z-index: 0;
	color: #3F3EAA;
}

#wrapper #headerMenu {
	font-size: 17px;
	background: #512265;
	color: transparent !important;
	position: relative;
}

#wrapper #headerMenu button{
	background-color: transparent;
}

#wrapper #headerMenu .floatLeft img {
	position: relative;
	top: -4px;
	opacity: 1;
}

#wrapper #headerMenu .floatLeft .notifications {
	cursor: pointer;
	opacity: 0.6;
	position: relative;
	display: inline-block;
	margin-right: 19px;
}

#wrapper #headerMenu .floatLeft .notifications:hover{
	opacity: 1;
}

#wrapper #headerMenu .floatLeft .notificationNumber {
	position: absolute;
	bottom: 16px;
	left: 34px;
	border-radius: 50%;
	background: red;
	width: 14px;
	text-align: center;
	height: 14px;
	font-size: 10px;
	padding: 2px;
}

#wrapper #headerMenu button {
	border: none;
	font-size: 15px;
	vertical-align: top;
	color: #ffffff;
	outline:none;
	height: 38px;
	padding: 10px;
	margin:	0;
}

#wrapper #headerMenu .menuButtonLoggedIn {
	position: absolute;
	right: 0;
	top: 0;
}

#wrapper #headerMenu .menuButton {
	position: absolute;
	left: 0;
	top: 0;
}

#wrapper #headerMenu #login:hover, #wrapper #headerMenu #login.activeButton, #wrapper #headerMenu #about:hover {
}

#wrapper #headerMenu #register:hover {
}

#wrapper #headerMenu #logout:hover, #wrapper #headerMenu #logout.activeButton, #wrapper #headerMenu #features:hover {
	
}

#wrapper .footer {

	font-size: 16px;
	color: #ffffff;
	padding: 10px;

	background-color: #372847;

}

#wrapper #register {
	text-align: center;
	margin-left: 25%;
}

#wrapper #register #registerButton {
	width: 50%;
	text-align: center;
	padding:10px;
	margin-top: 10px;
	background: #372847;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	font-size: 30px;
}

#wrapper #register #registerText {
	width: 50%;
	text-align: center;
	padding:10px;
	font-size: 24px;
}

#wrapper #register #registerBottom {
	width: 50%;
	text-align: center;
	padding:10px;
	margin-top: 10px;
	font-size: 18px;
}

#wrapper #register #registerBottom a {
	color: #33163f;
}

#wrapper #features {
	padding-top: 10px;
}
/**
#wrapper #signUpBox {
	margin-left: 25%;
	display: none;
	margin-top: 10px;
}
**/
#wrapper #signUpBox #signUpHeader {
	min-height: 10px;
	padding: 10px;
	border-radius: 10px 10px 0 0;
	color: #ffffff;
	font-size: 24px;
}

.modalBox #closeModal {
	text-align: right;
	position: absolute;
	top: -10px;
	right: -5px;
}

.modalBox #closeModal span {
	color: red;
	font-size: 20px;
	cursor: pointer;
}

#wrapper #signUpBox #signUpBody, #wrapper #signUpBox #signUpFooter {
	padding: 10px;
	color: #ffffff;
	padding-top: 0;
	text-align: left;
}

#wrapper .reportUserSubmit, #wrapper .modalBox .sendMessageConfirm,#wrapper #signUpBox #signUpFooter #otherRegistration {
	margin-top: 10px;
	font-size: 20px;
	text-align: center;
	color: #ffffff;
}

 #wrapper #signUpBox #registerButton, .rateModal button, #wrapper #signUpBox #signUpFooter #editProfileButton, #wrapper #signUpBox #signUpFooter #signUpButton, #wrapper #signUpBox #signUpFooter #forgotPasswordButton, #wrapper #signUpBox #signUpFooter #loginButton, #wrapper #signUpBox #signUpFooter #signUpTwitterButton, #wrapper #signUpBox #signUpFooter #signUpFacebookButton, .modalBox .verifyDeleteChapterButton, .modalBox .cancelDeleteChapterButton {
	text-align: center;
	padding:10px;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	font-size: 22px;
	border:0;
}

.modalBox .cancelDeleteChapterButton {
	margin-top: 10px;
	background: #ff3333;
}

#wrapper .learnAbout, #wrapper .reportUserSubmit, #wrapper .modalBox .sendMessageConfirm, .rateModal button, #wrapper #signUpBox #signUpFooter #editProfileButton, #wrapper #signUpBox #signUpFooter #signUpButton, #wrapper #signUpBox #signUpFooter #loginButton, #wrapper #signUpBox #signUpFooter #forgotPasswordButton, .modalBox .verifyDeleteChapterButton {
	background: #00603f;
}

#wrapper .reportUserSubmit, .rateModal button, #wrapper .modalBox .sendMessageConfirm {
	width: 100%;
	border: 0;
}

#wrapper .reportUserSubmit, #wrapper .modalBox .sendMessageConfirm {
	padding:10px;
}

#wrapper #signUpBox #signUpFooter #signUpFacebookButton {
	background: #1F3A93;
	margin-top: 10px;
}

#wrapper #signUpBox #registerButton{
	background: #CF000F;
	margin-top:10px;
}

#wrapper #signUpBox hr {
	background: #ffffff;
}

input {
	border: none;
	height: 30px;
	width: 100%;
	font-size: 18px;
	outline: none;
	margin-bottom: 10px;
	border: 1px solid #cccccc;
}

select {
	border: 1px solid #cccccc;
	margin-bottom: 10px;
	width: 100%;
	height: 30px;
}

#wrapper #signUpBox #signUpBody .label {
	margin-bottom: 10px;
	font-size: 18px;
}

#wrapper #signUpBox #signUpFooter {
	border-radius: 0 0 10px 10px;
}

#wrapper .newsfeedPosts {

}

#wrapper .leftMenuAvatarHolder {
	max-height: 30px;
	display: inline-block;
	float: left;
	margin-right: 5px;
}

#wrapper .leftMenuAvatarHolder img {
	max-height: 30px;
}

#wrapper .leftMenuUsernameHolder {
	display:inline-block;
	vertical-align:middle;
}

#wrapper .newsfeedPosts .avatar, #wrapper .newsfeedFilter .avatar {
    vertical-align: middle;
}

#wrapper .newsfeedFilter .profileHeader {
	vertical-align: top;
	margin-bottom: 5px;
	font-size: 20px;
	text-align: center;
	background: #fff;
}

#wrapper .newsfeedFilter .profileHeader img{
	width: 100%;
}

#wrapper .newsfeedFilter a, #wrapper .newsfeedPosts a, #wrapper .profileInfo a {
	color: #33163f;
	vertical-align: top;
}

.profileEditDiv {
	width: 100%;
	margin-bottom: 5px;
}

.profileEditDiv button, .chapterContainer button {
	padding: 10px;
	border-radius: 5px;
	background: linear-gradient(#372847, #443157 100%);
	color: #ffffff;
	border: 0;
	outline: none;

	font-size: 14px;
	margin-right: 0;
	margin-top: 0;
}

.profileEditDiv button:hover, .chapterContainer button:hover {
	background: linear-gradient(#5e4378, #785599 100%);
}

#wrapper .newsfeedPosts .loadMore button {
	width: 100%;
	height: 30px;
	background: #512265;
	border: none;
	outline: none;
	color: #ffffff;
	font-size: 18px;
	border-radius: 5px;
}

#wrapper .newsfeedPosts .singlePost {
	border-bottom: 2px solid #cccccc;
	margin-bottom: 10px;
	padding-bottom: 10px;
	display: inline-block;
	width: 100%;
}

#wrapper .newsfeedPosts .singlePost:last-child {
	border-bottom: none;
}

#wrapper .newsfeedPosts .singlePost .commentTo {
	vertical-align: top;
	width: 24px;
}

#wrapper .newsfeedPosts .imgUsername {
	display: inline-block;
	position: relative;
	width: 100%;
}

#wrapper .newsfeedPosts .imgUsername .img {
	display: inline-block;
}

#wrapper .newsfeedPosts .imgUsername .username {
	vertical-align: top;
}

#wrapper .newsfeedPosts .replies {
	border-top: 1px dotted #a6a6a6;
	padding-top: 10px;
	padding:10px;
}

#wrapper .newsfeedPosts .repliesContainer {
	background: #ced6e4;
	display:none;
}

#wrapper .newsfeedPosts .replyArea {
	margin-top: 10px;
	display: none;
}

#wrapper .newsfeedPosts .postContent {
	margin-top: 10px;
	margin-bottom: 10px;
}

#wrapper .newsfeedPosts .content {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
	width: 100%;
}

#wrapper .newsfeedPosts .content .replyBoxDiv .replyBox {
	height: 30px;
	border: 1px solid #cccccc;
	width: 100%;
	font-size: 18px;
	padding: 5px;
	box-sizing: border-box;
	margin-top: 10px;
	display: none;
}

#wrapper .newsfeedPosts .content .replies {
	margin-left: 20px;
	margin-top: 10px;
	border-top: 2px dotted #cccccc;
	padding-top: 10px;
}

#wrapper .newsfeedPosts .content .functionButtons a {
	vertical-align: bottom;
}

#wrapper .newsfeedPosts .content .functionButtons .deleteButton {
	width: 24px;
}

#wrapper .newsfeedPosts .content .functionButtons img {
	margin-right: 5px;
	opacity: 0.7;
	cursor: pointer;
}

#wrapper .newsfeedPosts .content .functionButtons img:hover {
	opacity: 1;
}

#wrapper .newsfeedPosts .content .functionButtons .replyButton {
	vertical-align:bottom;
}

#wrapper .newsfeedPosts .deleteStatusButton, #wrapper .newsfeedPosts .deleteReplyButton {
	width: 22px;
}


.likesPopup {
	display:inline;
	cursor: pointer;
}

.modalBox {
	padding: 10px;
	background: #4d2c5b;
	max-width: 400px;
	color: #ffffff;
	z-index: 101;
	top: 0;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}

.modalBox .forgotPassword {
	font-size: 12px !important;
	cursor: pointer;
}

.verify input {
	border: none;
	height: 30px;
	width: 100%;
	font-size: 18px;
	outline: none;
	margin-bottom: 10px;
	margin-top: 10px;
}

.verify button {
	text-align: center;
	padding: 10px;
	background: #1E824C;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	font-size: 30px;
	width: 100%;
	border: none;
}

.verify .instruction {
	font-size: 18px;
	font-weight: bold;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	max-width: 100%;
	height: 100%;
	width: 100%;
	z-index: 100;
}

.modal .bg {
	background: #6c7a89;
	opacity: 0.5;
	height: 100%;
	width: 100%;
}

.invalid {
	background: rgb(255, 84, 84);
	color: #ffffff;
}

.valid {
	background: rgb(53, 90, 28);
	color: #ffffff;
}

.pennameError, .emailError, .passwordError, .loginError, .modalBox .sendMessageModalError, #replyMessageError {
	color: rgb(255, 84, 84);
}

.fullWidth {
	width:100%;
}

.fullWidth a, .fullWidth a:hover {
	color:#000000;
}

.notificationRectangle {
	background:#ffffff;
	border-bottom: 1px solid #cccccc;
	cursor:pointer;
}

.notificationRectangle:hover {
	background: #e6e6e6;
}

.notificationRectangle .unread{
	color:#ff3333;
}

.notificationRectangle .read{
	color:#00603f;
}

.notificationRectangle:last-child{
	border:0;
	margin-bottom:0;
}

.leftContent {
	width: 30%;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	vertical-align: top;
	float: left;
	height: 100%;
}

.leftContent ul {
	background: #ffffff;
}

.leftContentHomepage {
	width: 30%;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	vertical-align: top;
	float: left;
	height: 100%;
}

.rightContent {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	width: 68.5%;
	vertical-align: top;
	float: right;
	padding: 10px;
	background: white;
}

.rightContentHomepage {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	width: 68.5%;
	vertical-align: top;
	float: right;
	padding: 10px;
	background: white;
}

.floatLeft{
	float:left;
}

.floatRight{
	float:right;
}

.clear {
	clear: both;
}

.clearAndMargin {
	clear: both;
	margin-top: 5px;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.error {
	padding: 0.75em;
	margin: 0.75em;
	border: 1px solid #990000;
	max-width: 400px;
	color: #990000;
	background-color: #FDF0EB;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

.inline {
	display: inline-block;
}

.quarter {
	width: 25%;
	display: inline-block;
	float: left;
	margin-bottom: 10px;
}

.bold {
	font-weight: bold;
}

.padding {
	padding-bottom: 10px;
}
	
.paddingLeftRight {
	padding-left: 10px;
	padding-right: 10px;
}

.fontSize14 {
	font-size: 14px;
}

#arrowUp {
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	opacity: 0.5;
}

#arrowUp:hover {
	opacity: 1;
}

.social a i {
	font-size: 30px;
}

.social .facebook {
	color: #3b579d;
}

.social .twitter {
	color: #55acee;
}

.social .google {
	color: #df4a32
}

.social .tumblr {
	color: #304e6c;
}

.social .reddit {
	color: #4e4e4e;
}

ul {
	margin: 0;
}

p,li {
	color: #000000;
	font-size: 16px;
	line-height: 1.5em;
	list-style: none;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
	text-decoration: underline;
}

form input {
	border: 1px solid #999999;
	border-bottom-color: #cccccc;
	border-right-color: #cccccc;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	margin: 2px;
}

button {
	cursor: pointer;
}

table {width:100%;}

.individualStory {
	width: 50%;
	float:left;
	margin-bottom: 10px;
	word-break: break-word;
}

.individualStory .individualStoryHeader name {
	font-size:16px;
	font-weight: bold;
	display: block;
}

.individualStory .individualStoryHeader name a{
}

.individualStory .individualStoryHeader .storyName {
	font-size: 20px;
}

.individualStory .individualStoryHeader at {
	display: block;
	font-size: 14px;
}

.individualStory .individualStoryHeader by {
	display: block;
	font-weight: bold;
	font-size: 16px;
}

.individualStory .individualStoryHeader tags {
	display:block;
	clear:both;
}

.individualStory .individualStoryHeader tags a, .searchTags {
	padding: 2px;
	background: #8dc63f;
	border-radius: 3px;
	color: #ffffff;
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
}

.individualStory .individualStoryDescription {
	font-size:16px;
	margin-top: 5px;
}

.individualStory a {
	color: #33163f;
}

.individualStory at a {
	padding: 2px;
	background: #8dc63f;
	border-radius: 3px;
	color: #ffffff;
	font-size: 12px;
}

.individualStory .individualStoryBody {
	font-size: 16px;
}

#wrapper .mainContainer .leftContent .whoIFollow li:hover > div.unfollow {
	display:block;
	font-weight: bold;
	font-size: 18px;
}

.profileCountry {
	font-size:14px;
}

.updateAlbum, .profileInfo .updateAvatar, .profileInfo .follow, .profileInfo .unfollow, .profileInfo .following {
	max-width: 100%;
	width: 100%;
	text-align: center;
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;
}

.updateAlbum:hover, .updateAvatar:hover, .follow:hover {
	background: linear-gradient(#5e4378, #785599 100%);
}

.updateAlbum, .updateAvatar, .follow, .following, button {
	border-radius: 5px;
	background: linear-gradient(#372847, #443157 100%);
	color: #ffffff;
	border:0
}

.profileInfo button, .newsfeedFilter button {
	text-align: center;
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	padding:10px;
}

.newsfeedFilter button {
	width: 100%;
	margin-bottom: 5px;
}

.profileInfo a button, .newsfeedFilter a button {
	color: #ffffff !important;
}

#wrapper .unsubscribeToBrainstormTopic, .profileInfo .unfollow,  #wrapper .unsubscribeToStory, #wrapper .unsubscribeToChallenge {
	background: linear-gradient(#ff3333, #ff4d4d 100%);
	color: #ffffff;
	border-radius: 5px;
}

.memberSince {
	font-size: 14px;
	margin-top: 6px;
	text-align: right;
}

.homeSubscriptions {
	margin-bottom: 10px;
}

#menuProfile {
	margin-bottom: 10px;
	height: 100%;
	display:none;
	background: #372847;
}

.menu li a i {
	font-size: 20px;
}

.menu{display:inline;padding:0;}
 
.menu li{display: inline-block;
position: relative;
}

.menu li > ul {
	z-index:100;
}
 
.menu li a {font-weight:600;
text-decoration:none;
padding:8px;
display:block;
color:#ffffff;
 
-webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   -o-transition: all 0.2s ease-in-out 0s;
   -ms-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;
}
 
.menu li a:hover, .menu li:hover > a{color:#512265;
background:#BDAEC6;}

/* hide the second level menu */
.menu ul {
display: none;
margin: 0;
padding: 0;
width: 100%;
position: absolute;
top: inherit;
left: 0px;
background: #ffffff;
}

.menu .megamenu {
display: none;
margin: 0;
padding: 10px;
width: 500px;
position: absolute;
top: inherit;
left: 0px;
max-width:500px;
background: #372847;
}

.menu .halfmenu {
display: none;
margin: 0;
padding: 10px;
width: 100%;
position: absolute;
top: inherit;
left: 0px;
max-width:500px;
background: #372847;
}

.menu .megamenu li, .menu .halfmenu li {
	color: #ffffff;
}

.menu .megamenu li span, .menu .halfmenu li span {
	margin-right:2px;
}

.menu .megamenu .menuHeader, .menu .halfmenu .menuHeader {
	font-size:16px;
	border-bottom: 1px dotted #cccccc;
}

.menu .megamenu a, .menu .halfmenu a {
	padding:0;
	text-transform: uppercase;
	padding-top:5px;
	padding-bottom:5px;
}

.menu .quarter a {
	display: inline-block;
	background: #372847;
}

.menu .quarter, .menu .quarter a {
	background: #372847;
	width:24%;
	display: inline-block;
}

.menu .quarter {
	vertical-align: top;
}

.menu .third a {
	display: inline-block;
	background: #372847;
}

.menu .third {
	background: #372847;
	width:32%;
	display: inline-block;
	vertical-align: top;
}

.menu .half a {
	display: inline-block;
	background: #372847;
}

.menu .half a:hover{
	background: #372847;
}

.menu .half {
	background: #372847;
	width:49%;
	display: inline-block;
	vertical-align: top;
}

.menu .full a {
	display: inline-block;
	background: #372847;
}

.menu .full {
	background: #372847;
	width:99%;
	display: inline-block;
	vertical-align: top;
}

@media screen and (min-width: 767px) {
/* display second level menu on hover */
.menu li:hover > ul{ }

}
 
.menu ul li {display:block;
float: none;
background:none;
margin:0;
padding:0;
}
 
.menu ul li a {font-size:12px;
font-weight:normal;
display:block;
color:#ffffff;
background:#512265;
width: 100%;
z-index:1200;
}
 
.menu ul li a:hover, .menu ul li:hover > a{
color:#ffffff;
}

.menu ul ul {left: 149px;
	top: 0px;
}

.menu li a:active {
	color:#512265;
	background:#BDAEC6;
}

.mobile-menu{display:none;
width:100%;
padding:11px;
background:#512265;
color:#ffffff;
text-transform:uppercase;
font-weight:600;
}
.mobile-menu:hover{background:#512265;
color:#ffffff;
text-decoration:none;
}

.tpd-skin-dark {
	font-size: 14px !important;
}

#cropContainerHeader {
	width: 200px;
	height: 200px;
	position:relative; /* or fixed or absolute */
}

.chapterContainer .chapterBy, .chapterContainer .chapterActions, .chapterContainer .chapterHeader h4 {
	margin-bottom: 10px;
}

.chapterContainer .chapterHeader h4 {
	font-size: 24px;
	margin-top: 10px;
	display: inline-block;
}

.chapterContainer a {
	color: #33163f
}

.chapterContainer .tree a {
	color: #ffffff;
}

.chapterContainer .chapterBody, .submitStatusBox .previousChapter {
	background: #ced6e4;
	padding: 10px;
	border-radius: 5px;
	margin-bottom:10px;
}

.chapterContainer .chapterBody {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chapterContainer .chapterFooter {
	margin-bottom: 10px;
}

#wrapper .tags a, #wrapper .tags {
	padding: 2px;
	background: #8dc63f;
	border-radius: 3px;
	color: #ffffff;
	font-size: 14px;
	padding-left: 5px;
	margin-right: 5px;
	display:inline-block;
}

.chapterContainer .chapterComments {
	display: inline-block;
	width:100%;
}

.chapterContainer .chapterComments .commentsHeader {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.chapterContainer .chapterComments .commentsContainer .replies {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.chapterContainer .chapterComments .commentsContainer .replies:last-child {
	border: 0 !important;
	margin-bottom:0 !important;
}

.chapterContainer .chapterComments .replies .username a {
	vertical-align: top
}

.chapterContainer .chapterComments .replies .postContent {
	margin-top:10px;
	margin-bottom:10px;
}

.chapterContainer .chapterFooter .ratingDiv {
	display: inline-block;
}

.chapterPrevious {
	float:left;
}

.chapterPrevious .chapterPreviousHeader {
	text-align: left;
	font-size: 16px;
	border-bottom: 1px dotted #cccccc;
}

.chapterNext {
	float:right;
}

.chapterNext .chapterNextHeader {
	text-align: right;
	font-size: 16px;
	border-bottom: 1px dotted #cccccc;
}

.storyList .chapters {
	margin-top: 10px;
}

.chapterPreviousNext {
	margin-top:10px;
	font-size:20px;
}

.storyList .storyListHeader {
	padding:10px;
	background: #372847;
	color: #ffffff;
}

.rightContent .individualMessage {
	border-bottom:2px solid #cccccc;
}

.rightContent .individualMessage:last-child {
	border:0;
}

.rightContent .inboxContainer .unread {
	background: #ced6e4;
}

.ui-widget-header {
	background: #372847;
	border: 0;
}

.ui-widget-content {
	background: #e7ebf2;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #ffffff;
	color: #372847;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	border: 1px dotted #372847;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: 1px solid #372847;
}

.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover {
	background: transparent;
	border:0;
}

.ui-datepicker .ui-datepicker-next:hover span {
	background-image: url("images/ui-icons_ffffff_256x240.png")
}

.ui-datepicker .ui-datepicker-prev:hover span {
	background-image: url("images/ui-icons_ffffff_256x240.png");
}

.storiesContainer:before, .storiesContainer:after{
	display: table;
	content: "";
	line-height: 0;
}

.storiesContainer:after{
	clear:both;
}

.storiesContainer{
	display: block;
	width:100%;
	min-height:100px;
	margin-bottom: 10px;
}

.storiesContainer:last-child{
	border:none;
}

#listOfChapters .individualStory:last-child{
	border:0!important;
}

.accountSettings input[type=checkbox]{
	width:auto;
	vertical-align:middle;
	margin:0;
}

.leaderboardTable tr{
	min-height:50px;
	text-align: center;
}

.leaderboardTable tr:nth-child(even){
	background: #cccccc;
}

.leaderboardTable .me{
	background: #512265!important;
	color:#ffffff;
}

table th.50pc{
	width:50%;
}

table th.25pc {
	width:25%;
}

.bootpag li {
	display: inline-block;
	background: #33163f;
	border: 1px solid #e4e4e4;
	padding:5px;
	padding-right:10px;
	padding-left:10px;
}

.bootpag li a {
	color: #ffffff;
}

.page {
	display: block;
	clear: both;
}

.leftBid {
	text-align: center;
}

.topBid {
	margin-bottom: 10px;
}