@import 'tipi.less';

div.rating-container {
  text-align: center;
  padding-top: 20px;

  div.stars {
    display: block;

    i {
      font-size: 20px;
      color: white;
      cursor: pointer;
      margin-right: 3px;
      padding: 3px;
    }
  }

  span {
    padding-top: 15px;
    display: block;
  }
}
