<div class="fullWidth" style="background:#ffffff;">
	<div style="padding:10px;">
	<h2>LEAVE US A MESSAGE!</h2>
	<div>
	Your Name:
	<input type="text" id="yourName"/>
	Your Email:
	<input type="text" id="yourEmail"/>
	Your Message:
	<textarea id="message" style="height:200px;"></textarea>
	<button class="sendMessage">Send Message!</button>
	<div class="sendMessageError">

	</div>
	</div>
	</div>
</div>