<div class="fullWidth errorDiv"><span class="inline fullWidth" style="">
	<% _.each(notifications, function(notification){ %>
		<div class="notificationRectangle" style="padding:10px;padding-top:10px;padding-bottom:10px;" read="<%=notification.is_read%>" id="<%=notification.notification_id%>">
		<% if(notification.activity_type == "new_chapter"){ %>
		<a href="http://www.bloqly.com/story/<%=notification.chapter[0].story_id%>/<%=notification.chapter[0].story_slug%>/<%=notification.chapter[0].chapter_slug%>">
				<span class="floatLeft" style="margin-right:10px;">
				<img src="<%=notification.chapter[0].avatar%>" width="100"/>
				</span>
				<span class="floatRight">
					<%=app.timeago(notification.action_done_at)%> ago
					<% if(notification.is_read == 1){ %>
					<div class="read" style="text-align:right;">
						Read
					</div>
					<% }else{ %>
					<div class="unread" style="text-align:right;">
						Unread
					</div>
					<% } %>	
				</span>
				<span style="vertical-align:top;">
					<%=notification.chapter[0].real_name%> has added a new chapter to your story <%=notification.chapter[0].story_name%>
				</span>
				<div>
						"<%=notification.chapter[0].chapter_body%>..."
				</div>
				<div class="clear"></div>
		</a>
		<% }else if(notification.activity_type == "comment_chapter"){ %>
		<a href="http://www.bloqly.com/story/<%=notification.chapter[0].story_id%>/<%=notification.chapter[0].story_slug%>/<%=notification.chapter[0].chapter_slug%>">
				<span class="floatLeft" style="margin-right:10px;">
				<img src="<%=notification.chapter[0].avatar%>" width="100"/>
				</span>
				<span class="floatRight">
					<%=app.timeago(notification.action_done_at)%> ago
					<% if(notification.is_read == 1){ %>
					<div class="read" style="text-align:right;">
						Read
					</div>
					<% }else{ %>
					<div class="unread" style="text-align:right;">
						Unread
					</div>
					<% } %>	
				</span>
				<span style="vertical-align:top;">
					<%=notification.chapter[0].real_name%> has commented on your chapter <%=notification.chapter[0].chapter_name%>
				</span>
				<div>
						"<%=notification.chapter[0].comment_body%>..."
				</div>
				<div class="clear"></div>
		</a>
		<% }else if(notification.activity_type == "rate_chapter"){ %>
		<a href="http://www.bloqly.com/story/<%=notification.chapter[0].story_id%>/<%=notification.chapter[0].story_slug%>/<%=notification.chapter[0].chapter_slug%>">
				<span class="floatLeft" style="margin-right:10px;">
				<img src="<%=notification.chapter[0].avatar%>" width="100"/>
				</span>
				<span class="floatRight">
					<%=app.timeago(notification.action_done_at)%> ago
					<% if(notification.is_read == 1){ %>
					<div class="read" style="text-align:right;">
						Read
					</div>
					<% }else{ %>
					<div class="unread" style="text-align:right;">
						Unread
					</div>
					<% } %>	
				</span>
				<span style="vertical-align:top;">
					<%=notification.chapter[0].real_name%> has rated your chapter <%=notification.chapter[0].chapter_name%> <%=notification.chapter[0].rating%>/5 <i class="fa fa-star"></i>
				</span>
				<div>
						"<%=notification.chapter[0].comment_body%>..."
				</div>
				<div class="clear"></div>
		</a>
		<% }else if(notification.activity_type == "bookmark_chapter"){ %>
		<a href="http://www.bloqly.com/story/<%=notification.chapter[0].story_id%>/<%=notification.chapter[0].story_slug%>/<%=notification.chapter[0].chapter_slug%>">
				<span class="floatLeft" style="margin-right:10px;">
				<img src="<%=notification.chapter[0].avatar%>" width="100"/>
				</span>
				<span class="floatRight">
					<%=app.timeago(notification.action_done_at)%> ago
					<% if(notification.is_read == 1){ %>
					<div class="read" style="text-align:right;">
						Read
					</div>
					<% }else{ %>
					<div class="unread" style="text-align:right;">
						Unread
					</div>
					<% } %>	
				</span>
				<span style="vertical-align:top;">
					<%=notification.chapter[0].real_name%> has bookmarked your chapter <%=notification.chapter[0].chapter_name%>
				</span>
				<div class="clear"></div>
		</a>
		<% }else if(notification.activity_type == "favourite_chapter"){ %>
		<a href="http://www.bloqly.com/story/<%=notification.chapter[0].story_id%>/<%=notification.chapter[0].story_slug%>/<%=notification.chapter[0].chapter_slug%>">
				<span class="floatLeft" style="margin-right:10px;">
				<img src="<%=notification.chapter[0].avatar%>" width="100"/>
				</span>
				<span class="floatRight">
					<%=app.timeago(notification.action_done_at)%> ago
					<% if(notification.is_read == 1){ %>
					<div class="read" style="text-align:right;">
						Read
					</div>
					<% }else{ %>
					<div class="unread" style="text-align:right;">
						Unread
					</div>
					<% } %>	
				</span>
				<span style="vertical-align:top;">
					<%=notification.chapter[0].real_name%> has favourited your chapter <%=notification.chapter[0].chapter_name%>
				</span>
				<div class="clear"></div>
		</a>
		<% }else if(notification.activity_type == "follow_you"){ %>
		<a href="http://www.bloqly.com/profile/<%=notification.pen_name%>">
				<span class="floatLeft" style="margin-right:10px;">
				<img src="<%=notification.avatar%>" width="100"/>
				</span>
				<span class="floatRight">
					<%=app.timeago(notification.action_done_at)%> ago
					<% if(notification.is_read == 1){ %>
					<div class="read" style="text-align:right;">
						Read
					</div>
					<% }else{ %>
					<div class="unread" style="text-align:right;">
						Unread
					</div>
					<% } %>	
				</span>
				<span style="vertical-align:top;">
					<%=notification.real_name%> has started following you
				</span>
				<div class="clear"></div>
		</a>
		<% }else if(notification.activity_type == "new_your_brainstorm"){ %>
		<a href="http://www.bloqly.com/brainstorm/<%=notification.brainstorm[0].story_id%>/<%=notification.brainstorm[0].story_slug%>/read/<%=notification.brainstorm[0].thread_id%>/<%=notification.brainstorm[0].thread_slug%>">
				<span class="floatLeft" style="margin-right:10px;">
				<img src="<%=notification.avatar%>" width="100"/>
				</span>
				<span class="floatRight">
					<%=app.timeago(notification.action_done_at)%> ago
					<% if(notification.is_read == 1){ %>
					<div class="read" style="text-align:right;">
						Read
					</div>
					<% }else{ %>
					<div class="unread" style="text-align:right;">
						Unread
					</div>
					<% } %>	
				</span>
				<span style="vertical-align:top;">
					<%=notification.real_name%> has started a new discussion in the Brainstorm of your story <%=notification.brainstorm[0].story_name%>
				</span>
				<div class="clear"></div>
		</a>
		<% }else if(notification.activity_type == "new_following_brainstorm"){ %>
		<a href="http://www.bloqly.com/brainstorm/<%=notification.brainstorm[0].story_id%>/<%=notification.brainstorm[0].story_slug%>/read/<%=notification.brainstorm[0].thread_id%>/<%=notification.brainstorm[0].thread_slug%>">
				<span class="floatLeft" style="margin-right:10px;">
				<img src="<%=notification.avatar%>" width="100"/>
				</span>
				<span class="floatRight">
					<%=app.timeago(notification.action_done_at)%> ago
					<% if(notification.is_read == 1){ %>
					<div class="read" style="text-align:right;">
						Read
					</div>
					<% }else{ %>
					<div class="unread" style="text-align:right;">
						Unread
					</div>
					<% } %>	
				</span>
				<span style="vertical-align:top;">
					<%=notification.real_name%> has started a new discussion in the Brainstorm of the story <%=notification.brainstorm[0].story_name%> you are subscribed to
				</span>
				<div class="clear"></div>
		</a>
		<% }else if(notification.activity_type == "reply_your_brainstorm"){ %>
		<a href="http://www.bloqly.com/brainstorm/<%=notification.brainstorm[0].story_id%>/<%=notification.brainstorm[0].story_slug%>/read/<%=notification.brainstorm[0].thread_id%>/<%=notification.brainstorm[0].thread_slug%>">
				<span class="floatLeft" style="margin-right:10px;">
				<img src="<%=notification.avatar%>" width="100"/>
				</span>
				<span class="floatRight">
					<%=app.timeago(notification.action_done_at)%> ago
					<% if(notification.is_read == 1){ %>
					<div class="read" style="text-align:right;">
						Read
					</div>
					<% }else{ %>
					<div class="unread" style="text-align:right;">
						Unread
					</div>
					<% } %>	
				</span>
				<span style="vertical-align:top;">
					<%=notification.real_name%> has replied to the thread <%=notification.brainstorm[0].thread_title%> in <%=notification.brainstorm[0].story_name%> that you started.
				</span>
				<div class="clear"></div>
		</a>
		<% }else if(notification.activity_type == "reply_following_brainstorm"){ %>
		<a href="http://www.bloqly.com/brainstorm/<%=notification.brainstorm[0].story_id%>/<%=notification.brainstorm[0].story_slug%>/read/<%=notification.brainstorm[0].thread_id%>/<%=notification.brainstorm[0].thread_slug%>">
				<span class="floatLeft" style="margin-right:10px;">
				<img src="<%=notification.avatar%>" width="100"/>
				</span>
				<span class="floatRight">
					<%=app.timeago(notification.action_done_at)%> ago
					<% if(notification.is_read == 1){ %>
					<div class="read" style="text-align:right;">
						Read
					</div>
					<% }else{ %>
					<div class="unread" style="text-align:right;">
						Unread
					</div>
					<% } %>	
				</span>
				<span style="vertical-align:top;">
					<%=notification.real_name%> has replied to the thread <%=notification.brainstorm[0].thread_title%> in <%=notification.brainstorm[0].story_name%> that you are subscribed to.
				</span>
				<div class="clear"></div>
		</a>
		<% }else if(notification.activity_type == "submit_challenge"){ %>
		<a href="http://www.bloqly.com/challenge/<%=notification.challenge[0].challenge_id%>/<%=notification.challenge[0].challenge_slug%>">
				<span class="floatLeft" style="margin-right:10px;">
				<img src="<%=notification.avatar%>" width="100"/>
				</span>
				<span class="floatRight">
					<%=app.timeago(notification.action_done_at)%> ago
					<% if(notification.is_read == 1){ %>
					<div class="read" style="text-align:right;">
						Read
					</div>
					<% }else{ %>
					<div class="unread" style="text-align:right;">
						Unread
					</div>
					<% } %>	
				</span>
				<span style="vertical-align:top;">
					<%=notification.real_name%> has submitted a new story <%=notification.challenge[0].story_name%> to your challenge <%=notification.challenge_name%>
				</span>
				<div class="clear"></div>
		</a>
		<% }else if(notification.activity_type == "submit_challenge_subscription"){ %>
		<a href="http://www.bloqly.com/challenge/<%=notification.challenge[0].challenge_id%>/<%=notification.challenge[0].challenge_slug%>">
				<span class="floatLeft" style="margin-right:10px;">
				<img src="<%=notification.avatar%>" width="100"/>
				</span>
				<span class="floatRight">
					<%=app.timeago(notification.action_done_at)%> ago
					<% if(notification.is_read == 1){ %>
					<div class="read" style="text-align:right;">
						Read
					</div>
					<% }else{ %>
					<div class="unread" style="text-align:right;">
						Unread
					</div>
					<% } %>	
				</span>
				<span style="vertical-align:top;">
					<%=notification.real_name%> has submitted a new story <%=notification.challenge[0].story_name%> to the challenge <%=notification.challenge_name%>
				</span>
				<div class="clear"></div>
		</a>
		<% }else if(notification.activity_type == "comment_challenge"){ %>
		<a href="http://www.bloqly.com/challenge/<%=notification.challenge[0].challenge_id%>/<%=notification.challenge[0].challenge_slug%>">
				<span class="floatLeft" style="margin-right:10px;">
				<img src="<%=notification.avatar%>" width="100"/>
				</span>
				<span class="floatRight">
					<%=app.timeago(notification.action_done_at)%> ago
					<% if(notification.is_read == 1){ %>
					<div class="read" style="text-align:right;">
						Read
					</div>
					<% }else{ %>
					<div class="unread" style="text-align:right;">
						Unread
					</div>
					<% } %>	
				</span>
				<span style="vertical-align:top;">
					<%=notification.real_name%> has left a comment on your challenge <%=notification.challenge[0].challenge_name%>
				</span>
				<div class="clear"></div>
		</a>
		<% }else if(notification.activity_type == "status_to_you"){ %>
		<a href="http://www.bloqly.com/profile/<%=storage.get('profile').pen_name%>/status/<%=notification.status[0].status_id%>">
				<span class="floatLeft" style="margin-right:10px;">
				<img src="<%=notification.avatar%>" width="100"/>
				</span>
				<span class="floatRight">
					<%=app.timeago(notification.action_done_at)%> ago
					<% if(notification.is_read == 1){ %>
					<div class="read" style="text-align:right;">
						Read
					</div>
					<% }else{ %>
					<div class="unread" style="text-align:right;">
						Unread
					</div>
					<% } %>	
				</span>
				<span style="vertical-align:top;">
					<%=notification.real_name%> has left you a comment on your wall
				</span>
				<div>	
					"<%=notification.status[0].status_body%>"
				</div>
				<div class="clear"></div>
		</a>
		<% }else if(notification.activity_type == "status_share"){ %>
		<a href="http://www.bloqly.com/profile/<%=notification.pen_name%>/status/<%=notification.status[0].status_id%>">
				<span class="floatLeft" style="margin-right:10px;">
				<img src="<%=notification.avatar%>" width="100"/>
				</span>
				<span class="floatRight">
					<%=app.timeago(notification.action_done_at)%> ago
					<% if(notification.is_read == 1){ %>
					<div class="read" style="text-align:right;">
						Read
					</div>
					<% }else{ %>
					<div class="unread" style="text-align:right;">
						Unread
					</div>
					<% } %>	
				</span>
				<span style="vertical-align:top;">
					<%=notification.real_name%> has reposted one of your statuses
				</span>
				<div>	
					"<%=notification.status[0].status_body%>"
				</div>
				<div class="clear"></div>
		</a>
		<% }else if(notification.activity_type == "reply_status"){ %>
		<a href="http://www.bloqly.com/profile/<%=notification.status[0].pen_name%>/status/<%=notification.status[0].status_id%>">
				<span class="floatLeft" style="margin-right:10px;">
				<img src="<%=notification.avatar%>" width="100"/>
				</span>
				<span class="floatRight">
					<%=app.timeago(notification.action_done_at)%> ago
					<% if(notification.is_read == 1){ %>
					<div class="read" style="text-align:right;">
						Read
					</div>
					<% }else{ %>
					<div class="unread" style="text-align:right;">
						Unread
					</div>
					<% } %>	
				</span>
				<span style="vertical-align:top;">
					<%=notification.real_name%> has replied to one of your statuses
				</span>
				<div>	
					"<%=notification.status[0].reply_body%>"
				</div>
				<div class="clear"></div>
		</a>
		<% }else if(notification.activity_type == "topic_reply"){ %>
		<a href="http://www.bloqly.com/circle/<%=notification.topic[0].group_id%>/<%=notification.topic[0].group_slug%>/topic/<%=notification.topic[0].topic_id%>/<%=notification.topic[0].topic_slug%>">
				<span class="floatLeft" style="margin-right:10px;">
				<img src="<%=notification.avatar%>" width="100"/>
				</span>
				<span class="floatRight">
					<%=app.timeago(notification.action_done_at)%> ago
					<% if(notification.is_read == 1){ %>
					<div class="read" style="text-align:right;">
						Read
					</div>
					<% }else{ %>
					<div class="unread" style="text-align:right;">
						Unread
					</div>
					<% } %>	
				</span>
				<span style="vertical-align:top;">
					<%=notification.real_name%> has posted a reply in <%=notification.topic[0].topic_name%>
				</span>
				<div>	
					"<%=notification.topic[0].post_content%>"
				</div>
				<div class="clear"></div>
		</a>
		<% }else if(notification.activity_type == "accept_circle_request"){ %>
		<a href="http://www.bloqly.com/circle/<%=notification.circle[0].group_id%>/<%=notification.circle[0].group_slug%>/topics">
				<span class="floatLeft" style="margin-right:10px;">
				<img src="<%=notification.avatar%>" width="100"/>
				</span>
				<span class="floatRight">
					<%=app.timeago(notification.action_done_at)%> ago
					<% if(notification.is_read == 1){ %>
					<div class="read" style="text-align:right;">
						Read
					</div>
					<% }else{ %>
					<div class="unread" style="text-align:right;">
						Unread
					</div>
					<% } %>	
				</span>
				<span style="vertical-align:top;">
					<%=notification.real_name%> has accepted your request to join <%=notification.circle[0].group_name%>
				</span>
				<div>	

				</div>
				<div class="clear"></div>
		</a>
		<% }else if(notification.activity_type == "request_circle"){ %>
		<a href="http://www.bloqly.com/circle/<%=notification.circle[0].group_id%>/<%=notification.circle[0].group_slug%>/manage-users">
				<span class="floatLeft" style="margin-right:10px;">
				<img src="<%=notification.avatar%>" width="100"/>
				</span>
				<span class="floatRight">
					<%=app.timeago(notification.action_done_at)%> ago
					<% if(notification.is_read == 1){ %>
					<div class="read" style="text-align:right;">
						Read
					</div>
					<% }else{ %>
					<div class="unread" style="text-align:right;">
						Unread
					</div>
					<% } %>	
				</span>
				<span style="vertical-align:top;">
					<%=notification.real_name%> has requested to join <%=notification.circle[0].group_name%>
				</span>
				<div>	
				
				</div>
				<div class="clear"></div>
		</a>
		<% } %>
		</div>
	<% }); %>
	<% if(notifications.length == 0){ %>
		<div class="notificationRectangle" style="padding:10px;padding-top:10px;padding-bottom:10px;" read="1" id="none">
		You have no notifications to display.
		</div>
	<% } %>
</span></div>