<div class="fullWidth newsfeedFilter" style="margin-bottom:10px;background:#ffffff">
	<div style="padding:10px;font-size:18px;">
	<span>
		<input type="text" id="searchInput" name="searchInput" placeholder="Type here to search..."/>
	</span>
	<span class="leftMenuHeader">Filter by:</span>
	<span>
		<a href="http://www.bloqly.com/search">Browse</a>,
		<a href="http://www.bloqly.com/search/stories/recent">Recent Stories</a>,
		<a href="http://www.bloqly.com/search/stories/popular">Popular Stories</a>,
		<a href="http://www.bloqly.com/search/chapters/recent">Recent Chapters</a>,
		<a href="http://www.bloqly.com/search/chapters/popular">Popular Chapters</a>,
		<a href="http://www.bloqly.com/search/authors/recent">New Authors</a>,
		<a href="http://www.bloqly.com/search/authors/popular">Popular Authors</a>
	</span>
	</div>
</div>
<div class="fullWidth searchDiv" style="background:#ffffff;">

</div>