div.tipi {
  background-color: #1f1f1f;
  color: #f1f1f1;
  position: absolute;
  padding: 5px;
  display: none;
  font-size: 12px;
}
div.rating-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
div.rating-container div.stars {
  display: block;
}
div.rating-container div.stars i {
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-right: 1px;
  padding: 1px;
}
div.rating-container span {
  display: block;
}
