/*
* Place css styles below.
*/

html {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #6C7A89;
	min-height: 100%;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	position: absolute;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

#wrapper {
	margin: auto;
	overflow-x: hidden;
	max-width: 1024px;
}

#wrapper .mainContent {
	display: inline-block;
}

#wrapper .headerContainer {
	z-index:5;
	width:100%;
}

#wrapper .header {
	position: relative;
	margin: auto;
	left: 0;
	height: 30px;
	padding: 10px;
	background: #2C3E50;
	color: #ffffff;
	font-size:24px;
	border-radius: 10px 10px 0 0;
}

#wrapper .mainContainer {
	padding: 10px;
	max-width: 100%;
	margin: auto;
	background: #ecf0f1;
	position:relative;
}

#wrapper .mainContainer .leftContent .newsfeedSearch {
	height: 30px;
	border: 1px solid #cccccc;
	width: 100%;
	margin-bottom: 10px;
	font-size: 18px;
	padding: 5px;
	box-sizing: border-box;
}

#wrapper .mainContainer .leftContent .unsubscribe {
	color: #CF000F;
	position: absolute;
	right: 4px;
	top: 0px;
	display: none;
}

#wrapper .mainContainer .leftContent .unsubscribe.showButton {
	display: block;
	font-weight: bold;
	font-size: 18px;
}

#wrapper .mainContainer .submitStatusBox {
	width: 100%;
	position: relative;
}

#wrapper .mainContainer #submitStatusButton {
	border: none;
	background: #6C7A89;
	color: #ffffff;
	margin-right: 0;
	padding: 10px;
	font-size: 14px;
}

#wrapper .mainContainer .submitStatusBox #submitStatus {
	width: 100%;
	height: 80px;
	border: 1px solid #cccccc;
	font-size: 18px;
	resize: none;
	padding: 0;
	padding: 5px;
	box-sizing: border-box;
}

#wrapper .mainContainer .leftContent .leftMenuHeader, #wrapper .mainContainer .rightContent .rightMenuHeader {
	padding: 5px;
	margin-bottom: 5px;
}

#wrapper .mainContainer .leftContent .leftMenuHeader {
	background: #6C7A89;
	color: #ffffff;
	word-break: break-word;
}

#wrapper .mainContainer .leftContent ul {
	padding-left: 0;
	margin: 0;
	margin-bottom: 10px;
}

#wrapper .mainContainer .leftContent ul li {
	list-style: none;
	vertical-align: top;
	min-height: 30px;
	margin-bottom: 5px;
	cursor: pointer;
	position: relative;
	border-bottom: 1px dotted #cccccc;
}

#wrapper .mainContainer .leftContent ul li:last-child {
	border-bottom: none;
}

#wrapper .mainContainer .leftContent ul li:hover {
	background: #BDC3C7;
	color: #ffffff;
}

#wrapper .mainContainer .mainContent .banner {
	height: 350px;
	display: table;
	background: #1E824C;
}

#wrapper .mainContainer .mainContent .description {
	font-size: 24px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
}

#wrapper .mainContainer .mainContent .banner #bannerText {
	vertical-align: middle;
	display: table-cell;
	font-size: 30px;
	color: #ffffff;
}

#wrapper .mainContainer .mainContent .banner #bannerText #bannerTitle {
	font-size: 42px;
	font-weight: bold;
}

#wrapper .mainContainer .mainContent .banner #bannerText #bannerInstructions {
	font-size: 20px;
}

#wrapper .header #headerProfile {
    display: inline-block;
    vertical-align: top;
}

#wrapper .header #headerProfile img {
	border-radius: 50%;
    behavior: url(PIE.htc);
    cursor: pointer;
}

#wrapper .header #headerLogo {
	color: #2ecc71;
	position: absolute;
	top: 3px;
}

#wrapper .searchContainer {
	display: inline-block;
}

#wrapper .searchContainer #searchResults {
	color: black;
	font-size: 16px;
	top: 40px;
	right: 10px;
	text-shadow: white 0 1px;
	background: -webkit-linear-gradient(#DDD, #CCC);
	background: -moz-linear-gradient(#DDD, #CCC);
	background: -ms-linear-gradient(#DDD, #CCC);
	background: -o-linear-gradient(#DDD, #CCC);
	background: linear-gradient(#DDD, #CCC);
	background-clip: padding-box;
	box-shadow: 0 0px 2px rgba(0, 0, 0, 0.5);
	border-radius: 1px;
	position: absolute;
	width: 250px;
	margin-left: -125px;
	margin-bottom: 15px;
	padding: 5px;
	display:none;
}

#wrapper #search {
	height: 27px;
	vertical-align: top;
	background: #cccccc;
	border: 0;
	border-radius: 5px;
	font-size: 20px;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
	width: 140px;
}

#wrapper #search:focus {
	width: 180px;
}

#wrapper #searchType {
	background: #bdc3c7;
	height: 30px;
	vertical-align: top;
	font-size: 20px;
	border-radius: 0;
	position: relative;
	right: 4px;
	border: none;
	z-index: 0;
	color: #3F3EAA;
}

#wrapper #headerMenu {
	height: 28px;
	padding: 5px;
	padding-right: 10px;
	font-size: 17px;
	background: #4f5d73;
	color: #ffffff;
	position: relative;
}

#wrapper #headerMenu button{
	background-color: transparent;
}

#wrapper #headerMenu .floatLeft img {
	position: relative;
	top: -4px;
	opacity: 1;
}

#wrapper #headerMenu .floatLeft .notifications {
	cursor: pointer;
	opacity: 0.6;
	position: relative;
	display: inline-block;
	margin-right: 19px;
}

#wrapper #headerMenu .floatLeft .notifications:hover{
	opacity: 1;
}

#wrapper #headerMenu .floatLeft .notificationNumber {
	position: absolute;
	bottom: 16px;
	left: 34px;
	border-radius: 50%;
	background: red;
	width: 14px;
	text-align: center;
	height: 14px;
	font-size: 10px;
	padding: 2px;
}

#wrapper #headerMenu button {
	border: none;
	font-size: 15px;
	vertical-align: top;
	color: #ffffff;
	outline:none;
	height: 38px;
	padding: 10px;
	margin:	0;
}

#wrapper #headerMenu .menuButtonLoggedIn {
	position: absolute;
	right: 0;
	top: 0;
}

#wrapper #headerMenu .menuButton {
	position: absolute;
	left: 0;
	top: 0;
}

#wrapper #headerMenu #login:hover, #wrapper #headerMenu #login.activeButton, #wrapper #headerMenu #about:hover {
	background-color: #16a085;
}

#wrapper #headerMenu #register:hover {
	background-color: #2980b9;
}

#wrapper #headerMenu #logout:hover, #wrapper #headerMenu #logout.activeButton, #wrapper #headerMenu #features:hover {
	background-color: #8e44ad;
}

#wrapper .footer {
	position: relative;
	max-width: 100%;
	font-size: 16px;
	background: #2c3e50;
	color: #16A085;
	padding: 10px;
	width: auto;
	border-radius: 0 0 10px 10px
}

#wrapper #registerSpan {
	text-align: center;
	margin-left: 25%;
}

#wrapper #registerSpan #registerButton {
	width: 50%;
	text-align: center;
	padding:10px;
	margin-top: 10px;
	background: #1E824C;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	font-size: 30px;
}

#wrapper #registerSpan #registerText {
	width: 50%;
	text-align: center;
	padding:10px;
	font-size: 24px;
}

#wrapper #registerSpan #registerBottom {
	width: 50%;
	text-align: center;
	padding:10px;
	margin-top: 10px;
	font-size: 18px;
}

#wrapper #registerSpan #registerBottom a {
	color: #D64541;
}

#wrapper #featuresSpan {
	padding-top: 10px;
}

#wrapper #signUpBox {
	margin-left: 25%;
	display: none;
	margin-top: 10px;
}

#wrapper #signUpBox #signUpHeader {
	width: 50%;
	min-height: 10px;
	padding: 10px;
	border-radius: 10px 10px 0 0;
	background-color: #2C3E50;
	color: #ffffff;
	font-size: 24px;
}

#wrapper #signUpBox #signUpBody, #wrapper #signUpBox #signUpFooter {
	background-color: #2C3E50;
	width: 50%;
	padding: 10px;
	color: #ffffff;
	padding-top: 0;
	text-align: center;
}

#wrapper #signUpBox #signUpFooter #otherRegistration {
	margin-top: 10px;
	font-size: 20px;
}

#wrapper #signUpBox #signUpFooter #signUpButton, #wrapper #signUpBox #signUpFooter #signUpTwitterButton, #wrapper #signUpBox #signUpFooter #signUpFacebookButton {
	text-align: center;
	padding:10px;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	font-size: 22px;
}

#wrapper #signUpBox #signUpFooter #signUpButton {
	background: #1E824C;
}

#wrapper #signUpBox #signUpFooter #signUpFacebookButton {
	background: #1F3A93;
	margin-bottom: 10px;
	margin-top: 10px;
}

#wrapper #signUpBox #signUpFooter #signUpTwitterButton {
	background: #55acee;
}

#wrapper #signUpBox #signUpBody input {
	border: none;
	height: 30px;
	width: 100%;
	font-size: 18px;
	outline: none;
	margin-bottom: 10px;
}

#wrapper #signUpBox #signUpBody .label {
	margin-bottom: 10px;
	font-size: 18px;
}

#wrapper #signUpBox #signUpFooter {
	border-radius: 0 0 10px 10px;
}

#wrapper .newsfeedPosts {
	margin-top: 10px;
}

#wrapper .newsfeedFilter .leftMenuAvatarHolder {
	height: 100%;
	display: inline-block;
	float: left;
	margin-right: 5px;
}

#wrapper .newsfeedFilter .leftMenuUsernameHolder {
	display:inline;
	vertical-align:top;
}

#wrapper .newsfeedPosts .avatar, #wrapper .newsfeedFilter .avatar {
	border-radius: 50%;
    behavior: url(PIE.htc);
}

#wrapper .newsfeedFilter .profileHeader {
	vertical-align: top;
	margin-bottom: 5px;
	font-size: 18px;
}

#wrapper .newsfeedFilter a, #wrapper .newsfeedPosts a {
	color: #D64541;
	vertical-align: top;
}

#wrapper .newsfeedPosts .loadMore button {
	width: 100%;
	height: 30px;
	background: #6C7A89;
	border: none;
	outline: none;
	color: #ffffff;
	font-size: 18px;
	border-radius: 5px;
}

#wrapper .newsfeedPosts .singlePost {
	border-bottom: 2px solid #cccccc;
	margin-bottom: 10px;
	padding-bottom: 10px;
	display: inline-block;
	width: 100%;
}

#wrapper .newsfeedPosts .singlePost:last-child {
	border-bottom: none;
}

#wrapper .newsfeedPosts .singlePost .commentTo {
	vertical-align: top;
	width: 24px;
}

#wrapper .newsfeedPosts .imgUsername {
	display: inline-block;
	position: relative;
	width: 100%;
}

#wrapper .newsfeedPosts .imgUsername .img {
	display: inline-block;
}

#wrapper .newsfeedPosts .imgUsername .username {
	vertical-align: top;
}

#wrapper .newsfeedPosts .content {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
}

#wrapper .newsfeedPosts .content .functionButtons a {
	vertical-align: bottom;
}

#wrapper .newsfeedPosts .content .functionButtons img {
	margin-right: 5px;
	opacity: 0.7;
	cursor: pointer;
}

#wrapper .newsfeedPosts .content .functionButtons img:hover {
	opacity: 1;
}

#wrapper .newsfeedPosts .content .functionButtons .replyButton {
	vertical-align:bottom;
}

#wrapper .newsfeedPosts .content .functionButtons .deleteButton {
	width: 22px;
}

.fullWidth {
	width:100%;
}

.leftContent {
	width: 24%;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	vertical-align: top;
	float: left;
}

.rightContent {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	width: 74.5%;
	vertical-align: top;
	float: right;
}

.floatLeft{
	float:left;
}

.floatRight{
	float:right;
}

.clear {
	clear: both;
}

.clearAndMargin {
	clear: both;
	margin-top: 5px;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.error {
	padding: 0.75em;
	margin: 0.75em;
	border: 1px solid #990000;
	max-width: 400px;
	color: #990000;
	background-color: #FDF0EB;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

.inline {
	display: inline-block;
}

.quarter {
	width: 25%;
	display: inline-block;
	float: left;
	margin-bottom: 10px;
}

.bold {
	font-weight: bold;
}

.padding {
	padding-bottom: 10px;
}
	
.paddingLeftRight {
	padding-left: 10px;
	padding-right: 10px;
}

.fontSize14 {
	font-size: 14px;
}

#arrowUp {
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	opacity: 0.5;
}

#arrowUp:hover {
	opacity: 1;
}

p,li {
	color: #555555;
	font-size: 16px;
	line-height: 1.5em;
}

a {
	color: #2ecc71;
	text-decoration: none;
}

a:hover {
	color: #16A085;
}

form input {
	border: 1px solid #999999;
	border-bottom-color: #cccccc;
	border-right-color: #cccccc;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	margin: 2px;
}

button {
	cursor: pointer;
}

table {width:98%; text-align:left; border:1px solid #DDDDDD; font-size:12px; color:#000;background:#fff; margin-bottom:10px;}
table th {background-color:#E5E5E5; border:1px solid #BBBBBB; padding:3px 6px; font-weight:normal; color:#000;}
table tr td {border:1px solid #DDDDDD; padding:5px 6px;}
table tr.alt td {background-color:#E2E2E2;}
table tr:hover {background-color:#F0F0F0; color:#000;}