<div class="accountSettings storyList">
	<div class="storyListHeader">
		ACCOUNT SETTINGS
	</div>	
	<div class="clear">&nbsp;</div>
	<div>
		<div style="margin-bottom:10px;">
			CHANGE EMAIL:
		</div>
		<div class="clear">
			<input type="text" name="email" id="email" value="<%=window.storage.get('profile').email%>"/>
		</div>
		<div class="clear">
			<button class="changeEmailSubmit" style="margin-top:0;margin-bottom:10px;">Change Email</button>
		</div>
		<div class="clear emailError" style="margin-bottom:10px;">
			
		</div>
		<div class="clear" style="margin-bottom:5px;border-bottom:1px solid #cccccc;">

		</div>
		<div class="clear" style="margin-bottom:10px;">
			CHANGE PASSWORD:
		</div>
		<div class="clear">
			<table>
				<tr style="width:">
					<td>
						Old Password:
					</td>
					<td>
						<input type="password" name="oldPassword" id="oldPassword"/>
					</td>
				</tr>
				<tr>
					<td>
						New Password:
					</td>
					<td>
						<input type="password" name="password1" id="password1"/>
					</td>
				</tr>
				<tr>
					<td>
						Verify Password:
					</td>
					<td>
						<input type="password" name="password2" id="password2"/>
					</td>
				</tr>	
			</table>
		</div>
		<div class="clear">
			<button class="changePasswordSubmit" style="margin-top:0;">Change Password</button>
		</div>
		<div class="clear passwordError">
			
		</div>
	</div>
</div>