<div class="modalBox">
	<div id="closeModal">
		<span><i class="fa fa-times-circle"></i><span>
	</div>
	<div id="signUpBody" style="margin:20px">
	Thank you for activating your account. Log in now and join the fun!
	</div>
</div>