<div class="modalBox">
	<div id="closeModal">
		<span><i class="fa fa-times-circle"></i><span>
	</div>
	<div id="signUpBody" style="margin:20px">
	There was an error activating your account. Please contact support to activate your account.
	</div>
</div>