<% console.log(bookmarks)%>
<% var fivebookmarks = _.first(bookmarks, 5); %>
<% _.each(fivebookmarks, function(bookmark){ %>
<li>
	<a href="http://www.bloqly.com/story/<%=bookmark.story_id%>/<%=bookmark.story_slug%>/<%=bookmark.chapter_slug%>">"<%=bookmark.chapter_name%>" in "<%=bookmark.story_name%>"</a>
</li>
<% }); %>
<% if(bookmarks.length > 5){ %>
<li><a href="http://www.bloqly.com/search/bookmarks">View more of your bookmarks</a></li>
<% } %>