<div class="leftMenuHeader">TOPICS IN THIS BRAINSTORM</div>
	<ul class="myBrainstorms">
<% _.each(brainstorms, function(brainstorm){ %>
<li><div class="leftMenuUsernameHolder"><a href="http://www.bloqly.com/brainstorm/<%=brainstorm.story_id%>/<%=brainstorm.story_slug%>/read/<%=brainstorm.id%>/<%=brainstorm.thread_slug%>"><%=brainstorm.thread_title%></a></div></li>
<% }); %>
</ul>