<div class="inboxContainer storyList">
	<div class="storyListHeader">
		<%=topic[0].thread_title%>
	</div>	
	<% var messageNum = 1 %>
	<div style="text-align:right;margin-top:10px;">
		<% if(topic[0].have_i_subscribed == 0){ %>
		<button class="subscribeToBrainstormTopic" style="margin-top:10px;margin-bottom:0px;"><i class="fa fa-bookmark"></i> Subscribe</button>
		<% }else{ %>
		<button class="subscribedToBrainstormTopic" style="margin-top:0px;margin-bottom:10px;"><i class="fa fa-bookmark"></i> Subscribed</button>
		<% } %>
	</div>
	<% _.each(topic[0].posts, function(post){ %>
	<div class="individualMessage" style="margin-top:10px;margin-bottom:10px;">
		<div id="threadTitle">
			<div style="margin-bottom:10px;">
				<a href="http://www.bloqly.com/profile/<%=post.posted_by_pen_name%>" style="color:#33163f;"><img src="<%=post.posted_by_avatar%>" width="64"/></a> <span class="floatRight" style="vertical-align:top;font-size:12px;">
					<% if(app.timeago(post.posted_at) != "Just now!"){ %>
						Sent <%=app.timeago(post.posted_at)%> ago
					<% }else{ %>
						Sent just now!
					<% } %>
				</span><a href="http://www.bloqly.com/profile/<%=post.posted_by_pen_name%>" style="color:#33163f;vertical-align:top"><%=post.posted_by_real_name%></a>
			</div>
			<div style="margin-bottom:10px;">
				<span><%=post.post_body%></span>
			</div>
		</div>
	</div>
	<% messageNum++; %>
	<% }); %>
	<div class="replyTopicDiv" style="margin-top:10px;">
		<textarea name="replyTopic" id="replyTopic" style="height:100px;">Type here to reply...</textarea>
		<div class="clear"><button id="replyTopicButton">Send Reply!</button></div>
		<div clear="clear replyMessageError"></div>
	</div>
</div>