<div class="inboxContainer storyList">
	<div class="storyListHeader">
		LATEST BRAINSTORM TOPICS
	</div>	
	<div class="clear" style="text-align:right;display:block;">
	<button class="createNewBrainstormTopic" onclick="appRouter.navigate('/brainstorm/<%=options.id%>/<%=options.story%>/new', {trigger: true})"><i class="fa fa-plus"></i> New Brainstorm topic</button> <% if(typeof brainstorms != "undefined" && brainstorms.length > 0){ %><% if(brainstorms[0].have_i_subscribed == 0){ %><button class="subscribeToBrainstorm"><i class="fa fa-bookmark"></i> Subscribe</button><% }else{ %><button class="unsubscribeToBrainstorm"><i class="fa fa-bookmark"></i> Unsubscribe</button><% } %><% }else if(haveISubscribed == 1){%><button class="unsubscribeToBrainstorm"><i class="fa fa-bookmark"></i> Unsubscribe</button><% }else if(haveISubscribed == 0){ %><button class="subscribeToBrainstorm"><i class="fa fa-bookmark"></i> Subscribe</button><% } %>
	</div>
	<% _.each(brainstorms, function(brainstorm){ %>
	<div class="individualMessage" style="margin-top:10px;margin-bottom:10px;">
		<div id="threadTitle">
			<div style="border-bottom:1px dotted #cccccc;padding-bottom:10px;">
				<a href="http://www.bloqly.com/brainstorm/<%=brainstorm.story_id%>/<%=brainstorm.story_slug%>/read/<%=brainstorm.id%>/<%=brainstorm.thread_slug%>" style="color:#33163f;"><%=brainstorm.thread_title%></a> 
				<span class="tags" style="margin-left:10px;background:#8dc63f;padding:5px;color:white;border-radius:5px;font-size:12px;">
				 <%=brainstorm.thread_type%>
				</span>
				<div class="floatRight" style="vertical-align:top;font-size:12px;">
					<% if(app.timeago(brainstorm.latest_post) != "Just now!"){ %>
						Last post <%=app.timeago(brainstorm.latest_post)%> ago
					<% }else{ %>
						Last post submitted just now!
					<% } %>
				</div>
			</div>
		</div>
		<div class="threadRecipients" style="margin-top:10px;padding-bottom:10px;font-size:14px;">
			Topic started by: <a href="http://www.bloqly.com/profile/<%=brainstorm.thread_started_by_pen_name%>" style="margin-right:5px;color:#33163f;" class=""><%=brainstorm.thread_started_by_real_name%></a>
		</div>
	</div>
	<% }); %>
	<% if(brainstorms.length == 0){ %>
		No one has posted a topic in this Brainstorm. 
	<% } %>
</div>