<div class="inboxContainer storyList">
	<select id="challengeLeaderboardFilterType" name="challengeLeaderboardFilterType">
		<% if(filter == "allTime"){ %>
			<% var filterString = "so far"; %>
			<% var titleString = "ALL TIME"; %>
			<option value="allTime" selected>All Time leaderboard</option>
		<% }else{ %>
			<option value="allTime">All Time leaderboard</option>
		<% }if(filter == "lastMonth"){ %>
			<% var filterString = "in the previous 30 days"; %>
			<% var titleString = "LAST 30 DAYS"; %>
			<option value="lastMonth" selected>Previous 30 days</option>
		<% }else{ %>
			<option value="lastMonth">Previous 30 days</option>
		<% }if(filter == "7days"){ %>
			<% var filterString = "in the previous 7 days"; %>
			<% var titleString = "LAST 7 DAYS"; %>	
			<option value="7days" selected>Previous 7 days</option>
		<% }else{ %>
			<option value="7days">Previous 7 days</option>
		<% } %>
	</select>
	<div class="storyListHeader">
		CHALLENGE LEADERBOARD - <%=titleString%>
	</div>	
	<div>
		<% if(results.length > 0){ %>
		<table class="leaderboardTable">
			<tr>
				<th class="50pc">
					#
				</th>
				<th class="50pc">
					Author
				</th>
				<th class="25pc">
					# submissions
				</th>
				<th class="25pc">
					# wins
				</th>
				<th class="25pc">
					Highest rating
				</th>
			</tr>
			<% _.each(results, function(result){ %>
				<% if(storage.get('profile').id != result.author_id){ %>
				<tr id="<%=result.position%>">
					<td>
						<%=result.position%>
					</td>
					<td>
						<a href="http://www.bloqly.com/profile/<%=result.pen_name%>" style="color:#372847"><%=result.real_name%></a>
					</td>
					<td>
						<%=result.numSubmitted%>
					</td>
					<td>
						<%=result.numWins%>
					</td>
					<td>
						<% if(result.max_final_rating != null){ %>
							<%=result.max_final_rating%>/5
						<% }else{ %>
							N/A
						<% } %>
					</td>
				</tr>
				<% }else{ %>
				<tr class="me" id="<%=result.position%>">
					<td>
						<%=result.position%>
					</td>
					<td>
						<a href="http://www.bloqly.com/profile/<%=result.pen_name%>"><%=result.real_name%></a>
					</td>
					<td>
						<%=result.numSubmitted%>
					</td>
					<td>
						<%=result.numWins%>
					</td>
					<td>
						<% if(result.max_final_rating != null){ %>
							<%=result.max_final_rating%>/5
						<% }else{ %>
							N/A
						<% } %>
					</td>
				</tr>
				<% } %>
			<% }); %>
			<tr class="viewAllButtonContainer" style="background:#ffffff;">
				<td colspan="5">
				<button class="viewAllTable" style="width:100%;">Show All</button>
				</td>
			</tr>
		</table>
		<% }else{ %> 
			No one has submitted a story to any challenge <%=filterString%>. If you would like to participate, explore Active Challenges, located to your left.
		<% } %>
	</div>
</div>