<div class="inboxContainer storyList">
	<div class="storyListHeader">
		CHALLENGE WINNERS
	</div>	
	<% var numChallenges = 0; %>
	<% _.each(challenges, function(challenge){ %>
	<% if(challenge.story_name != null){ %>
	<% numChallenges++ %>
	<div class="individualMessage" style="margin-top:10px;margin-bottom:10px;">
		<div id="threadTitle">
			<div style="border-bottom:1px dotted #cccccc;padding-bottom:10px;">
				<span class="floatLeft">
					<a href="http://www.bloqly.com/profile/<%=challenge.pen_name%>"><img src="<%=challenge.avatar%>" width="64"></a>
				</span>
				<span class="floatLeft">
					<a href="http://www.bloqly.com/profile/<%=challenge.pen_name%>" style="color:#33163f;"><%=challenge.real_name%></a>
				</span>
				<span>
					<div class="" style="vertical-align:top;font-size:12px;text-align:right;">
						Ended: <%=app.timeToShort(challenge.challenge_end_date)%>
					</div>
				</span>
				<div class="clear">
					<span style="vertical-align:top;">
						<a href="http://www.bloqly.com/profile/<%=challenge.pen_name%>" style="color:#33163f;"><%=challenge.real_name%></a> has won the challenge <a href="http://www.bloqly.com/challenge/<%=challenge.challenge_id%>/<%=challenge.challenge_slug%>" style="color:#33163f;"><%=challenge.challenge_name%></a>, beating <%=challenge.story_count -1%> other stories, with the story <a href="http://www.bloqly.com/story/<%=challenge.story_id%>/<%=challenge.story_slug%>" style="color:#33163f;"><%=challenge.story_name%></a> with an average rating of <%=challenge.story_rating%>/5.
					</span>
				</div>
			</div>
		</div>
	</div>
	<% } %>
	<% }); %>
	<% if(numChallenges == 0){ %>
		There has been no past winners of any Challenge. If you would like to participate, search for a Challenge in the Active Challenges tab to the left!
	<% } %>
	<div class="page">Page:

	</div>
</div>