<div class="inboxContainer storyList">
	<div class="storyListHeader">
		<%=results[0].group_name%>
	</div>	
	<div style="text-align:right;">
		<% if(results[0].am_i_admin == 1){ %>
			<button class="editCircleButton"><i class="fa fa-edit"></i> Edit Circle</button> <button class="manageMembersButton"><i class="fa fa-users"></i> Manage Members</button> 
		<% } %>
		<% if(results[0].have_i_joined == 1 && results[0].status == 1){ %>
			<button class="newTopicButton"><i class="fa fa-pencil"></i> New Topic</button> <% if(results[0].group_owner != storage.get('profile').id){ %><button class="unjoinCircleButton"><i class="fa fa-remove"></i> Leave Circle</button><% } %>
		<% }else if(results[0].have_i_joined == 0 && results[0].group_type == 1){ %>
			<button class="joinCircleButton"><i class="fa fa-plus"></i> Join Circle</button>
		<% }else if(results[0].group_type != 1 && results[0].status == 0 && results[0].have_i_requested == 0){ %>
			<button class="requestJoinCircleButton"><i class="fa fa-plus"></i> Request to Join Circle</button>
		<% }else if(results[0].group_type != 1 && results[0].status == 0 && results[0].have_i_requested == 1){ %>
			<button class="unrequestJoinCircleButton"><i class="fa fa-remove"></i> Unrequest to Join Circle</button>
		<% } %>
	</div>
	<% var numTopics = 0; %>
	<% _.each(results[0].topics, function(post){ %>
	<% numTopics++ %>
	<% if(page == post.page){ %>
	<% if(post.is_pinned == 1){ %>
	<div class="individualMessage" style="margin-top:10px;padding:10px;background:#ff3333;color:#ffffff;">
	<% }else{ %>
	<div class="individualMessage" style="margin-top:10px;padding:10px;">
	<% } %>
		<div id="threadTitle">
			<div>
				<span class="floatLeft">
					<% if(post.is_pinned == 1){ %>
						<i class="fa fa-thumb-tack" style="color:#ffffff"></i> Pinned: 
					<a href="http://www.bloqly.com/circle/<%=results[0].id%>/<%=results[0].slug%>/topic/<%=post.topic_id%>/<%=post.slug%>" style="color:#ffffff;font-weight:bold;font-size:18px;"><%=post.topic_name%></a><br/>
					Started by <a href="http://www.bloqly.com/profile/<%=post.started_by_pen_name%>" style="color:#ffffff;"><%=post.started_by_real_name%></a> <%=window.app.timeago(post.started_at)%> ago
					<% }else{ %>
					<a href="http://www.bloqly.com/circle/<%=results[0].id%>/<%=results[0].slug%>/topic/<%=post.topic_id%>/<%=post.slug%>" style="color:#33163f;font-weight:bold;font-size:18px;"><%=post.topic_name%></a><br/>
					Started by <a href="http://www.bloqly.com/profile/<%=post.started_by_pen_name%>" style="color:#33163f;"><%=post.started_by_real_name%></a> <%=window.app.timeago(post.started_at)%> ago
					<% } %>
				</span>
				<span class="floatRight" style="text-align:right;">
				<% if(post.is_pinned == 1){ %>
					Last post <%=window.app.timeago(post.posted_at)%><br/>
					by <a href="http://www.bloqly.com/profile/<%=post.last_post_pen_name%>" style="color:#ffffff;"><%=post.last_post_real_name%></a>
				<% }else{ %>
					Last post <%=window.app.timeago(post.posted_at)%><br/>
					by <a href="http://www.bloqly.com/profile/<%=post.last_post_pen_name%>" style="color:#33163f;"><%=post.last_post_real_name%></a>
				<% } %>
				</span>
				<div class="clear"></div>
			</div>
			<div>
				<i class="fa fa-comments"></i> <%=post.post_count%> <i class="fa fa-eye"></i> <%=post.view_count%>
			</div>
		</div>
		
	</div>
	<% } %>
	<% }); %>
	<% if(numTopics == 0){ %>
		<div style="margin-top:10px;">No topics have been posted in this circle yet, to start one click on the New Topic button above!</div>
	<% } %>
</div>