<div class="inboxContainer storyList">
	<div class="storyListHeader">
		COMPOSE NEW MESSAGE
	</div>	
	<div class="clear">
		Select recipients:
		<input type="text" name="messageRecipients" id="messageRecipients"/>
		<div class="clear"></div>
		Title:
		<input type="text" id="newMessageTitle" name="newMessageTitle"></input>
		<div class="clear"></div>
		Message:
		<textarea id="newMessage" name="newMessage"></textarea>
		<div class="clear"><button id="sendNewMessageButton">Send Message!</button></div>
		<div class="clear sendMessageError"></div>
	</div>
</div>
