<span class="center inline fullWidth modalBox" id="signUpBox" style="overflow:scroll;">
	<div id="closeModal" style="right:5px;top:0px;">
		<span><i class="fa fa-times-circle"></i><span>
	</div>
	<div id="signUpHeader">
		EDIT YOUR PROFILE
	</div>
	<div id="signUpBody">
		<span>
			<div class="inline label">
				REAL NAME:
			</div>
			<div class="inline fullWidth">
				<input type="text" name="realName" id="realName" value="<%=window.storage.get('profile').real_name%>"/>
			</div>
		</span>
		<span>
			<div class="inline label">
				BIO: 
			</div>
			<div class="inline fullWidth">
				<textarea name="bio" id="bio" placeholder="Say something about yourself!" style="height: 120px"><%=window.storage.get('profile').bio%></textarea>
			</div>
			<div class="pennameError"></div>
		</span>
		<span>
			<div class="inline label">
				WHERE DO YOU LIVE?
			</div>
			<div class="inline fullWidth">
				<input type="text" name="country" id="country" value="<%=window.storage.get('profile').country%>"/>
			</div>
			<div class="emailError"></div>
		</span>
		<span>
			<div class="inline label">
				YOUR WEBSITE:
			</div>
			<div class="inline fullWidth">
				<input type="text" name="website" id="website" value="<%=window.storage.get('profile').website_link%>"/>
			</div>
		</span>
		<span>
			<div class="inline label">
				YOUR FACEBOOK PROFILE:
			</div>
			<div class="inline fullWidth">
				<input type="text" name="facebook" id="facebook" value="<%=window.storage.get('profile').facebook_link%>"/>
			</div>
		</span>
		<span>
			<div class="inline label">
				YOUR TWITTER PROFILE:
			</div>
			<div class="inline fullWidth">
				<input type="text" name="twitter" id="twitter" value="<%=window.storage.get('profile').twitter_link%>">
			</div>
		</span>
		<span>
			<div class="inline label">
				YOUR GOOGLE PLUS PROFILE:
			</div>
			<div class="inline fullWidth">
				<input type="text" name="googleplus" id="googleplus" value="<%=window.storage.get('profile').google_link%>">
			</div>
		</span>
	</div>
	<div id="signUpFooter">
		<div id="editProfileButton">
			SAVE PROFILE
		</div>
	</div>
</span>