<div class="submitStatusBox step1">
	<div class="clear" style="font-weight:bold;font-size:24px;">EDIT CHAPTER: <%=chapters.chapter_name%></div>
	<div class="clear">&nbsp;</div>
	Chapter Title:*
	<div style="font-size:12px;">What would you like to call this chapter?</div>
	<div class="clear type">
		<input type="text" id="chapterName" name="chapterName" value="<%=chapters.chapter_name%>"/>
	</div>
	Start writing! *
	<div style="font-size:12px;">Have fun! Don't forget to save your changes, or it will be lost!</div>
		<textarea name="storyContent" id="storyContent" placeholder=""><%=chapters.chapter_body%></textarea>
	<div style="margin-top:10px;"><button id="editChapterButton" name="editChapterButton"><i class="fa fa-save"></i> Save Chapter</button></div>
	<div class="clear">
		<div style="font-size:12px;">Fields marked with * are required</div>
	</div>
	<div class="clear step2Error">
	</div>
</div>