<div class="accountSettings storyList">
	<div class="storyListHeader">
		EMAIL SETTINGS
	</div>	
	<div class="clear">&nbsp;</div>
	<div>
		Would you like Bloqly to send you an email notification whenever...
	</div>
	<div>
		&nbsp;
	</div>
	<div>
		<h3>Stories and Chapters</h3>
	</div>
	<div>
		<div><input type="checkbox" name="emailSettings[]" value="1"/> Someone posts a new chapter in a story you started</div>
		<div><input type="checkbox" name="emailSettings[]" value="2"/> Someone comments on a chapter you wrote</div>
		<div><input type="checkbox" name="emailSettings[]" value="3"/> Someone rated a chapter you wrote</div>
		<div><input type="checkbox" name="emailSettings[]" value="4"/> Someone bookmarks a story you started</div>
		<div><input type="checkbox" name="emailSettings[]" value="5"/> Someone bookmarks a chapter you wrote</div>
		<div><input type="checkbox" name="emailSettings[]" value="6"/> Someone favourites a chapter you wrote</div>
		<div><input type="checkbox" name="emailSettings[]" value="7"/> Someone you follow publishes a new story</div>
		<div><input type="checkbox" name="emailSettings[]" value="8"/> Someone you follow publishes a new chapter in any story</div>
	</div>
	<div>
		&nbsp;
	</div>
	<div>
		<h3>Authors and Messages</h3>
	</div>
	<div>
		<div><input type="checkbox" name="emailSettings[]" value="9"/> Someone follows you</div>
		<div><input type="checkbox" name="emailSettings[]" value="10"/> Someone sends you a private message</div>
		<div><input type="checkbox" name="emailSettings[]" value="19"/> Someone posts a comment on your wall</div>
		<div><input type="checkbox" name="emailSettings[]" value="18"/> Someone replies to one of your statuses</div>
		<div><input type="checkbox" name="emailSettings[]" value="21"/> Someone reposts one of your statuses</div>
	</div>
	<div>
		&nbsp;
	</div>
	<div>
		<h3>Brainstorms and Challenges</h3>
	</div>
	<div>
		<div><input type="checkbox" name="emailSettings[]" value="11"/> Someone starts a new Brainstorm topic in a story you started</div>
		<div><input type="checkbox" name="emailSettings[]" value="12"/> Someone replies to a Brainstorm topic in a story you started</div>
		<div><input type="checkbox" name="emailSettings[]" value="13"/> Someone starts a new topic in a Brainstorm you subscribe to</div>
		<div><input type="checkbox" name="emailSettings[]" value="14"/> Someone replies to a topic in a Brainstorm you subscribe to</div>
		<div><input type="checkbox" name="emailSettings[]" value="15"/> Someone submits a story to one of your challenges</div>
		<div><input type="checkbox" name="emailSettings[]" value="16"/> Someone comments on one of your challenges</div>
		<div><input type="checkbox" name="emailSettings[]" value="20"/> Someone submits a story to a challenge you follow</div>
		<div><input type="checkbox" name="emailSettings[]" value="17"/> A challenge you own or have submitted a story to ends</div>
	</div>
	<div>
		&nbsp;
	</div>
	<div>
		<h3>Circles</h3>
	</div>
	<div>
		<div><input type="checkbox" name="emailSettings[]" value="22"/> Someone replies to one of your subscribed Circle topics</div>
		<div><input type="checkbox" name="emailSettings[]" value="24"/> Someone requests access to one of your restricted Circles</div>
		<div><input type="checkbox" name="emailSettings[]" value="23"/> A Circle admin accepted your Circle request</div>
	</div>
	<div>
		<button class="saveEmailSettings">Save Email Settings</button>
	</div>
	<div class="subscriptionError">

	</div>
</div>