<% var fivefavourites = _.first(favourites, 5); %>
<% _.each(fivefavourites, function(favourite){ %>
<li>
	<a href="http://www.bloqly.com/story/<%=favourite.story_id%>/<%=favourite.story_slug%>/<%=favourite.chapter_slug%>">"<%=favourite.chapter_name%>" in "<%=favourite.story_name%>"</a>
</li>
<% }); %>
<% if(favourites.length > 5){ %>
<li><a href="http://www.bloqly.com/search/favourites">View more of your favourites</a></li>
<% } %>