<% console.log(suggestions) %>
<% _.each(suggestions, function(suggestion){ %>
<li><a href="http://www.bloqly.com/profile/<%=suggestion.pen_name%>"><div class="leftMenuAvatarHolder"><img src="<%=suggestion.avatar%>" class="avatar"></div> <div class="leftMenuUsernameHolder"><%=suggestion.real_name%></div><div style="font-size:14px;">Followed by: <% numFollowers = suggestion.followed_by.length; if(numFollowers > 3){ numFollowers = 3 } var andOthers = suggestion.followed_by.length - 3; var followedByString = ""; for(var i=0;i<numFollowers;i++){ followedByString += suggestion.followed_by[i].real_name + ", "; } if(followedByString.length > 2){followedByString = followedByString.substring(0,followedByString.length-2)}; %><%=followedByString%> <% if(andOthers > 0){ %><span style="font-size:12px">and <%=andOthers%> other authors you follow</span><% } %></div></a></li>
<% }); %>
<% if(suggestions.length == 0){ %>
	<li><div class="leftMenuAvatarHolder"></div> <div class="leftMenuUsernameHolder">We have no authors to suggest at this present time.</div></li>
<% } %>