<div class="modalBox" style="max-height:400px;height:100%;overflow:scroll;">
	<div id="closeModal" style="right:5px;top:0px;">
		<span><i class="fa fa-times-circle"></i><span>
	</div>
	<h3 style="text-align:center;"><%=type%></h3>
	<div class="clear">&nbsp;</div>
	<% _.each(results, function(result){ %>
	<div style="display:flex;margin-bottom:5px;">
		<span style="float:left;margin-right:5px;">
			<a href="http://www.bloqly.com/profile/<%=result.pen_name%>"><img src="<%=result.avatar%>" width="100"/></a>
		</span>
		<span style="vertical-align:top;">
			<a href="http://www.bloqly.com/profile/<%=result.pen_name%>"><%=result.real_name%></a>
			<% if(result.country != null){ %>
				<div><i><%=result.country%></i></div>
			<% } %>
			<% if(result.bio != null && result.bio != false){ %>
				<% if(result.bio.length == 100){ %>
				<div style="max-width:300px;"><%=result.bio%>...</div>
				<% }else{ %>
				<div style="max-width:300px;"><%=result.bio%></div>
				<% } %>
			<% } %>
		</span>
	</div>
	<% }); %>
</div>