<span class="center inline fullWidth modalBox" id="signUpBox">
	<div id="closeModal">
		<span><i class="remove icon"></i><span>
	</div>
	<div id="signUpHeader">
		SEND NEW PASSWORD
	</div>
	<div id="signUpBody">
		<span>
			<div class="inline label">
				EMAIL:
			</div>
			<div class="inline fullWidth">
				<input type="text" name="loginEmail" id="loginEmail"></input>
			</div>
			<div class="emailError"></div>
		</span>
	</div>
	<div id="signUpFooter">
		<div id="forgotPasswordButton">
			SEND NEW PASSWORD
		</div>
	</div>
</span>