<div class="modalBox">
	<div id="closeModal">
		<span><i class="fa fa-times-circle"></i><span>
	</div>
	<div id="signUpBody" style="margin:20px">
	Your new password has been emailed to you, please check your inbox!
	</div>
</div>