<a id="touch-menu" class="mobile-menu" href="#"><i class="fa fa-bars"></i> Menu</a>
<nav>
    <ul class="menu floatLeft">
   <li><a href="http://www.bloqly.com/"><i class="fa fa-home"></i> HOME</a></li>
   <li class="mobileMenuStories"><a href="http://www.bloqly.com#"><i class="fa fa-user"></i> PROFILE <i class="fa fa-caret-down"></i></a>
   <ul class="sub-menu megamenu">
   <li><span class="third"><div class="menuHeader"><%=storage.get('profile').real_name%></div><div><a href="http://www.bloqly.com/profile/<%=storage.get('profile').pen_name%>">Profile Page</a><a href="http://www.bloqly.com/home">Newsfeed</a><a href="http://www.bloqly.com/settings/account">Settings</a></div></span><span class="third"><div class="menuHeader">FAVOURITES</div><div class="favouritesMenu"><a href="http://www.bloqly.com#">You have no favourites</a></div></span><span class="third"><div class="menuHeader">BOOKMARKS</div><div class="bookmarksMenu"><a href="http://www.bloqly.com#">You have no bookmarks</a></div></span></li>
   </ul>
   </li>
  <li class="mobileMenuSearch"><a href="http://www.bloqly.com#"><i class="fa fa-search"></i> SEARCH <i class="fa fa-caret-down"></i></a>
   <ul class="sub-menu megamenu">
    <li><span class="third"><div class="menuHeader">STORIES</div><div><a href="http://www.bloqly.com/search">Search Stories</a><a href="http://www.bloqly.com/search/stories/recent">Recent Stories</a><a href="http://www.bloqly.com/search/stories/popular">Popular Stories</a></div></span><span class="third"><div class="menuHeader">CHAPTERS</div><div><a href="http://www.bloqly.com/search/chapters">Search Chapters</a><a href="http://www.bloqly.com/search/chapters/recent">Recent Chapters</a><a href="http://www.bloqly.com/search/chapters/popular">Popular Chapters</a></div></span><span class="third"><div class="menuHeader">AUTHORS</div><div><a href="http://www.bloqly.com/search/authors/recent">Search Authors</a><a href="http://www.bloqly.com/search/authors/recent">New Authors</a><a href="http://www.bloqly.com/search/authors/popular">Popular Authors</a></div></span></li>
   </ul>
  </li>
  <li class="mobileMenuChallenges"><a href="http://www.bloqly.com#"><i class="fa fa-pencil"></i> WRITE <i class="fa fa-caret-down"></i></a>
   <ul class="sub-menu halfmenu">
    <li><span class="full"><div class="menuHeader">STORIES</div><div><a href="http://www.bloqly.com/stories/<%=storage.get('profile').pen_name%>">My Stories</a><a href="http://www.bloqly.com/story/new">Write a story</a></div></span></li>
   </ul>
  </li>
  <li class="mobileMenuMessages"><a href="http://www.bloqly.com#"><i class="fa fa-trophy"></i> PARTICIPATE <i class="fa fa-caret-down"></i></a>
   <ul class="sub-menu megamenu">
    <li><span class="third"><div class="menuHeader">CHALLENGES</div><div><a href="http://www.bloqly.com/challenge">Browse Challenges</a><a href="http://www.bloqly.com/challenge/leaderboard">Challenge Leaderboard</a><a href="http://www.bloqly.com/challenge/active">Active Challenges</a><a href="http://www.bloqly.com/challenge/previous">Previous Challenges</a></div></span><span class="third"><div class="menuHeader">CIRCLES</div><div><a href="http://www.bloqly.com/circle/browse">Browse Circles</a></div></span><span class="third"><div class="menuHeader">BRAINSTORMS</div><div><a href="http://www.bloqly.com/brainstorm">My Brainstorms</a></div></span></li>
   </ul>
  </li>
  <li class="mobileMenuFavourites"><a href="http://www.bloqly.com#"><i class="fa fa-envelope"></i> MESSAGES (<span class="menuMessagesNumber"></span>) <i class="fa fa-caret-down"></i></a>
    <ul class="sub-menu halfmenu">
    <li><span class="full"><div class="menuHeader">MESSAGES</div><div><a href="http://www.bloqly.com/messages/compose">Write Message</a><a href="http://www.bloqly.com/messages/inbox">Inbox (<span class="menuMessagesNumber"></span>)</a><a href="http://www.bloqly.com/messages/sent">Sent Messages</a></div></span></li>
   </ul>
  </li>
  <li class="mobileMenuBookmarks"><a href="http://www.bloqly.com#"><i class="fa fa-bell"></i> ALERTS (<span class="menuNotificationsNumber"></span>) <i class="fa fa-caret-down"></i></a>
    <ul class="sub-menu halfmenu">
    <li><span class="full"><div class="menuHeader">NOTIFICATIONS</div><div class="notificationsMenu"></div></span></li>
   </ul>
  </li>
  </ul>
  <div class="parent_expander" style="clear:both;"></div>
  </nav>