<a id="touch-menu" class="mobile-menu" href="#"><i class="fa fa-bars"></i> Menu</a>
<nav>
    <ul class="menu floatLeft">
   <li><a href="http://www.bloqly.com/"><i class="fa fa-home"></i> HOME</a></li>
   <li><a href="http://www.bloqly.com/home"><i class="fa fa-newspaper-o"></i> NEWSFEED</a></li>
  <li><a href="http://www.bloqly.com/profile/<%=window.storage.get('profile').pen_name%>"><i class="fa fa-user"></i> PROFILE</a></li>
  <li class="mobileMenuStories"><a  href="#"><i class="fa fa-pencil"></i> STORIES <i class="fa fa-caret-down"></i></a>
   <ul class="sub-menu">
    <li><a href="http://www.bloqly.com/stories/<%=window.storage.get('profile').pen_name%>">MY STORIES</a></li>
   <li><a href="http://www.bloqly.com/story/new">WRITE A NEW STORY</a></li>
   </ul>
  </li>
  <li><a href="http://www.bloqly.com/brainstorm"><i class="fa fa-lightbulb-o"></i> BRAINSTORM</a>
  </li>
  <li class="mobileMenuSearch"><a href="http://www.bloqly.com#"><i class="fa fa-search"></i> SEARCH <i class="fa fa-caret-down"></i></a>
   <ul class="sub-menu">
    <li><a href="http://www.bloqly.com/search">BROWSE</a></li>
    <li><a href="http://www.bloqly.com/search/stories/recent">RECENT STORIES</a></li>
   <li><a href="http://www.bloqly.com/search/stories/popular">POPULAR STORIES</a></li>
   <li><a href="http://www.bloqly.com/search/chapters/recent">RECENT CHAPTERS</a></li>
   <li><a href="http://www.bloqly.com/search/chapters/popular">POPULAR CHAPTERS</a></li>
   <li><a href="http://www.bloqly.com/search/authors/recent">NEW AUTHORS</a></li>
   <li><a href="http://www.bloqly.com/search/authors/popular">POPULAR AUTHORS</a></li>
   <li><a href="http://www.bloqly.com/search/favourites">MY FAVOURITES</a></li>
   <li><a href="http://www.bloqly.com/search/bookmarks">MY BOOKMARKS</a></li>
   </ul>
  </li>
  <li class="mobileMenuChallenges"><a href="http://www.bloqly.com#"><i class="fa fa-trophy"></i> CHALLENGES <i class="fa fa-caret-down"></i></a>
   <ul class="sub-menu">
    <li><a href="http://www.bloqly.com/challenge">MY CHALLENGES</a></li>
    <li><a href="http://www.bloqly.com/challenge/leaderboard">LEADERBOARD</a></li>
    <li><a href="http://www.bloqly.com/challenge/active">ACTIVE CHALLENGES</a></li>
    <li><a href="http://www.bloqly.com/challenge/previous">PREVIOUS CHALLENGES</a></li>
   </ul>
  </li>
  <li class="mobileMenuMessages"><a  href="#"><i class="fa fa-envelope"></i> MESSAGES (<span class="menuMessagesNumber"></span>) <i class="fa fa-caret-down"></i></a>
    <ul class="sub-menu">
      <li><a href="http://www.bloqly.com/messages/compose">COMPOSE NEW MESSAGE</a></li>
      <li><a href="http://www.bloqly.com/messages/inbox">INBOX (<span class="menuMessagesNumber"></span>)</a></li>
      <li><a href="http://www.bloqly.com/messages/sent">SENT MESSAGES</a></li>
   </ul>
  </li>
  <li><a href="http://www.bloqly.com/circle/browse"><i class="fa fa-group"></i> CIRCLES</a></li>
  <li class="favouritesMenu mobileMenuFavourites"><a href="http://www.bloqly.com#"><i class="fa fa-heart"></i> FAVOURITES <i class="fa fa-caret-down"></i></a>
    <ul class="sub-menu">
      <li><a href="http://www.bloqly.com#">You have no favourites.</a></li>
    </ul>
  </li>
  <li class="bookmarksMenu mobileMenuBookmarks"><a href="http://www.bloqly.com#"><i class="fa fa-bookmark"></i> BOOKMARKS <i class="fa fa-caret-down"></i></a>
    <ul class="sub-menu">
      <li><a href="http://www.bloqly.com#">You have no bookmarks.</a></li>
    </ul>
  </li>
  <li class="notificationsMenu mobileMenuNotifications"><a href="http://www.bloqly.com#"><i class="fa fa-bell"></i> ALERTS (<span class="menuNotificationsNumber"></span>) <i class="fa fa-caret-down"></i></a>
<ul class="sub-menu"></ul></li>
  </ul>
  <div class="parent_expander" style="clear:both;"></div>
  </nav>