<a id="touch-menu" class="mobile-menu" href="#"><i class="fa fa-bars"></i> Menu</a>
<nav>
<ul class="menu floatLeft">
   <li><a href="http://www.bloqly.com/"><i class="fa fa-home"></i> HOME</a></li>
  <li class="mobileMenuStories"><a href="http://www.bloqly.com#"><i class="fa fa-search"></i> SEARCH <i class="fa fa-caret-down"></i></a>
   <ul class="sub-menu megamenu">
    <li><span class="third"><div class="menuHeader">STORIES</div><div><a href="http://www.bloqly.com/search">Search Stories</a><a href="http://www.bloqly.com/search/stories/recent">Recent Stories</a><a href="http://www.bloqly.com/search/stories/popular">Popular Stories</a></div></span><span class="third"><div class="menuHeader">CHAPTERS</div><div><a href="http://www.bloqly.com/search/chapters">Search Chapters</a><a href="http://www.bloqly.com/search/chapters/recent">Recent Chapters</a><a href="http://www.bloqly.com/search/chapters/popular">Popular Chapters</a></div></span><span class="third"><div class="menuHeader">AUTHORS</div><div><a href="http://www.bloqly.com/search/authors/recent">Search Authors</a><a href="http://www.bloqly.com/search/authors/recent">New Authors</a><a href="http://www.bloqly.com/search/authors/popular">Popular Authors</a></div></span></li>
   </ul>
  </li>
  <li class="mobileMenuSearch"><a href="http://www.bloqly.com#"><i class="fa fa-trophy"></i> PARTICIPATE <i class="fa fa-caret-down"></i></a>
   <ul class="sub-menu megamenu">
    <li><span class="half"><div class="menuHeader">CHALLENGES</div><div><a href="http://www.bloqly.com/challenge">Browse Challenges</a><a href="http://www.bloqly.com/challenge/leaderboard">Challenge Leaderboard</a><a href="http://www.bloqly.com/challenge/active">Active Challenges</a><a href="http://www.bloqly.com/challenge/previous">Previous Challenges</a></div></span><span class="half"><div class="menuHeader">CIRCLES</div><div><a href="http://www.bloqly.com/circle/browse">Browse Circles</a></div></span></li>
   </ul>
  </li>
  </ul>
    <ul class="menu floatRight">
  <li style="float:right;"><a href="http://www.bloqly.com#" name="login" id="login"><i class="fa fa-sign-in"></i> LOGIN/REGISTER</a>
  </ul>
  </nav>
  <div class="clear"></div>
  <div class="parent_expander" style="clear:both;"></div>