<div class="floatLeft" id="headerLogo"><a href="http://www.bloqly.com/"><img src="/images/bloqly.png" style="height:70px;"></a> </div>
<div class="floatRight headerAvata" id="logout" style="position: relative;top: 18px;margin-left: 10px;">
	<a href="http://www.bloqly.com#"><i class="fa fa-sign-out" style="font-size:30px;"></i></a>
</div>
<div class="floatRight headerAvatar" style="position: relative;top: 18px;margin-left: 10px;">
	<a href="http://www.bloqly.com/settings/account"><i class="fa fa-cogs" style="font-size:28px;"></i></a>
</div>
<div class="floatRight headerAvatar" style="position: relative;top: 18px;">
	<div id="headerProfile"><a href="http://www.bloqly.com/profile/<%=window.storage.get('profile').pen_name%>" style="font-size:14px;"><img height="30" src="<%=window.storage.get('profile').avatar%>"/></a></div>
</div>
<div class="floatRight headerSearch"><input type="text" id="menuBarSearch" name="menuBarSearch" style="border-radius: 5px;display: inline;width: auto;margin-bottom: 0;vertical-align: top;height: 26px;" placeholder="SEARCH BLOQLY..."/></div>
<div class="parent_expander" style="clear:both;"></div>

