<div class="submitStatusBox">
  <% if(typeof storage.get('profile') == "object"){ %>
		<textarea name="submitStatus" id="submitStatus" placeholder="Share your thoughts..." to="<%=to%>"></textarea>
		<button id="submitStatusButton" name="submitStatusButton"><i class="fa fa-pencil"></i> SHARE YOUR THOUGHTS</button>
  <% } %>
	</div>
	<nav id="menuProfile">
    <ul class="menu displayNone">
   <li><a href="http://www.bloqly.com#">STATUSES</a></li>
  <li><a href="http://www.bloqly.com#">STORIES</a></li>
  <li><a href="http://www.bloqly.com#">CHALLENGES</a></li>
  <li><a href="http://www.bloqly.com#">BRAINSTORM</a></li>
  <li><a href="http://www.bloqly.com#">MY FOLLOWERS</a></li>
  </ul>
  <div class="parent_expander" style="clear:both;"></div>
  </nav>
	<div class="newsfeedPosts postsList">
		<%=newsfeed%>
	</div>