<ul>
<% _.each(results, function(result){ %>
	<li>
		<span class="floatLeft" style="margin-right:5px;"><a href="http://www.bloqly.com/story/<%=result.id%>/<%=result.slug%>"><img src="<%=result.album%>" width="60"></a></span> <span><a href="http://www.bloqly.com/story/<%=result.id%>/<%=result.slug%>" style="color:#33163f;vertical-align:top;"><%=result.story_name%></a> by <a href="http://www.bloqly.com/profile/<%=result.pen_name%>" style="color:#33163f;vertical-align:top;"><%=result.real_name%></a><br/><%=result.story_description%></span><div class="clear"></div>
	</li>
<% }); %>
</ul>
<div class="floatRight">
	<a href="http://www.bloqly.com/search/stories/recent" style="color:#33163f;">More Recent Stories</a>
</div>