<span class="center inline fullWidth modalBox" id="signUpBox">
	<div id="closeModal">
		<span><i class="remove icon"></i><span>
	</div>
	<div id="signUpHeader">
		SIGN UP TO BETA
	</div>
	<div id="signUpBody">
		<span>
			<div class="inline label">
				NAME:
			</div>
			<div class="inline fullWidth">
				<input type="text" name="signUpName" id="signUpName"></input>
			</div>
		</span>
		<span>
			<div class="inline label">
				PEN NAME:
			</div>
			<div class="inline fullWidth">
				<input type="text" name="penname" id="penname"></input>
			</div>
			<div class="pennameError"></div>
		</span>
		<span>
			<div class="inline label">
				EMAIL:
			</div>
			<div class="inline fullWidth">
				<input type="text" name="email" id="email"></input>
			</div>
			<div class="emailError"></div>
		</span>
		<span>
			<div class="inline label">
				PASSWORD:
			</div>
			<div class="inline fullWidth">
				<input type="password" name="password1" id="password1"></input>
			</div>
		</span>
		<span>
			<div class="inline label">
				CONFIRM PASSWORD:
			</div>
			<div class="inline fullWidth">
				<input type="password" name="password2" id="password2"></input>
			</div>
		</span>
	</div>
	<div id="signUpFooter">
		<div id="signUpButton">
			START YOUR ADVENTURE!
		</div>
		<div id="otherRegistration" class="ui horizontal divider">
			OR
		</div>
		<a href="http://www.bloqly.com/api/login/facebook">
			<div id="signUpFacebookButton">
				SIGN UP WITH FACEBOOK
			</div>
		</a>
	</div>
</span>