<span class="banner center inline fullWidth">
	<div id="bannerText"><div id="bannerTitle">BLOQLY.</div><div class="clear">INIFINITE STORIES. INFINITE ENDINGS.</div><div class="clear" id="bannerInstructions">Scroll down to learn more.</div></div>
</span>