<% _.each(results, function(result){ %>
	<% var pixels = 11 + result.tag_percentage; %>
	<a href="http://www.bloqly.com/search/tag/<%=result.slug%>/1" class="searchTags" style="font-size:<%=pixels%>px;margin-top:5px;margin-bottom:5px;display:inline-block;"><%=result.tag%></a>
<% }); %>
<div class="floatRight">
	<a href="http://www.bloqly.com/search/tag" style="color:#33163f;">More Tags</a>
</div>