<% _.each(feed, function(post){ %>
	<% if(typeof post.shared_status == "undefined"){ %>
	<div class="singlePost" id="post_<%=post.id%>" by="<%=post.status_by_id%>" to="<%=post.status_to_id%>">
		<div class="statusContainer">
		<div class="imgUsername">
			<span class="img floatLeft" style="margin-right:10px;">
				<% if(post.avatar != null){ 
					var avatar = post.avatar;
				 }else{ 
					var avatar = post.status_by_avatar;
				 } 
				 if(post.status_by_pen_name != null){
					var pen_name = post.status_by_pen_name;
				}else{ 
					var pen_name = post.by_pen_name;
				} %>
				<a href="http://www.bloqly.com/profile/<%=pen_name%>"><img src="<%=avatar%>" width="64" class="avatar"></a>
			</span>
			<span class="floatRight timeago" time="<%=post.status_time%>"><%=window.app.timeago(post.status_time)%></span>
			<span class="username">
				<% if(post.status_by_id != post.status_to_id && post.status_to_id != null){ %>
				<a href="http://www.bloqly.com/profile/<%=post.by_pen_name%>"><%=post.by_real_name%></a> <img src="/images/right-arrow.png" class="commentTo"> <a href="http://www.bloqly.com/profile/<%=post.status_to_pen_name%>"><%=post.status_to_real_name%></a>
				<% }else{ %>
					<% if(post.type == "status"){ %>
						<a href="http://www.bloqly.com/profile/<%=post.by_pen_name%>"><%=post.by_real_name%></a> 
					<% }else{ %>
						<a href="http://www.bloqly.com/profile/<%=post.status_by_pen_name%>"><%=post.status_by_real_name%></a> 
					<% } %>
				<% if(post.type == "new_story"){ %>
					has published a new story <a href="http://www.bloqly.com/story/<%=post.story_id%>/<%=post.story_slug%>"><%=post.story_name%></a>
				<% }else if(post.type == "new_chapter"){ %>
					has published a new chapter <a href="http://www.bloqly.com/story/<%=post.story_id%>/<%=post.story_slug%>/<%=post.chapter_slug%>"><%=post.chapter_name%></a> under the story <a href="http://www.bloqly.com/story/<%=post.story_id%>/<%=post.story_slug%>"><%=post.story_name%></a>
				<% }else if(post.type == "chapter_comment"){ %>
					has commented on the chapter <a href="http://www.bloqly.com/story/<%=post.story_id%>/<%=post.story_slug%>/<%=post.chapter_slug%>"><%=post.chapter_name%></a> under the story <a href="http://www.bloqly.com/story/<%=post.story_id%>/<%=post.story_slug%>"><%=post.story_name%></a>
				<% }else if(post.type == "challenge_submission"){ %>
					has submitted a story <a href="http://www.bloqly.com/story/<%=post.story_id%>/<%=post.story_slug%>"><%=post.story_name%></a> to the Challenge <a href="http://www.bloqly.com/challenge/<%=post.challenge_id%>/<%=post.challenge_slug%>"><%=post.challenge_name%></a>
				<% }else if(post.type == "challenge_comment"){ %>
					has commented on a Challenge <a href="http://www.bloqly.com/challenge/<%=post.challenge_id%>/<%=post.challenge_slug%>"><%=post.challenge_name%></a>
				<% } %>
				<% } %>
			</span>

		</div>
		<div class="content">
			<% if(post.type == "status"){ %>
				<div class="postContent"><%=post.status%></div>
			<% }else{ %>
				<% if(post.status_text.length < 200){ %>
					<div class="postContent">"<%=post.status_text%>"</div>
				<% }else{ %>
					<div class="postContent">"<%=post.status_text%>..."</div>
				<% } %>
			<% } %>
			<% if(post.type == "status"){ %>
			<div class="fontSize14 clear functionButtons"><% if(_.indexOf(_.pluck(post.likes,'liked_by_id'), window.storage.get('profile').id) == -1){ %><a href="http://www.bloqly.com#" class="likeStatusButton" id="likeStatusButton_<%=post.id%>">Like</a><% }else{ %><a href="http://www.bloqly.com#" class="unlikeStatusButton" id="unlikeStatusButton_<%=post.id%>">Unlike</a><% } %> | <a href="http://www.bloqly.com#" class="replyButton" id="replyButton_<%=post.id%>">Reply</a> | <a href="http://www.bloqly.com#" class="shareButton" id="share_<%=post.id%>">Repost</a> <%if(window.storage.get('profile').id == post.status_by_id || window.storage.get('profile').id == post.status_to_id) { %>| <a href="http://www.bloqly.com#" class="deleteStatusButton" id="deleteStatusButton_<%=post.id%>">Delete</a><% } %></div><% } %> 
			<div class="likesAndComments">
				<% if(typeof post.likes != "undefined" && post.likes.length > 0){ %>
				
					<% var likesString = ''; %>
					<% _.each(post.likes, function(like){ %>
					<% if(typeof like.liked_by_real_name != "undefined"){ %>
					<% likesString += "<a href='/profile/" + like.liked_by_pen_name +"' style='font-size:15px;'>" +like.liked_by_real_name + "</a><br/>"; %>
					<% } %>
					<% }); %>
						<div class="likesPopup" title="<%=likesString%>"><%=post.likes.length%></div> <i class="fa fa-thumbs-o-up"></i>
				<% } %>
				<% if(typeof post.replies != "undefined" && post.replies.length > 0){ %>
					<a href="http://www.bloqly.com#" class="replyButton" id="replyButton_<%=post.id%>"><span class="commentsNum"><%=post.replies.length%></span> <i class="fa fa-comment-o"></i></a>
				<% } %>
			</div>
			<% if(post.type == "status"){ %>
			<div class="fontSize14 clear replyArea" id="replyArea_<%=post.id%>"><input type="text" id="replyAreaInput_<%=post.id%>" name="replyAreaInput_<%=post.id%>" class="replyAreaInput"></input><button class="submitReplyButton" id="submitReplyButton_<%=post.id%>" name="submitReplyButton_<%=post.id%>"><i class="fa fa-reply"></i> SEND REPLY</button></div>
			<% } %>
		</div>
		</div>
		<div class="repliesContainer">
		<% if(post.type == "status"){ %>
		<% _.each(post.replies, function(reply){ %>
		<div class="replies" id="reply_<%=reply.id%>">
			<div class="fontSize14 clear">
				<div class="imgUsername">
					<span class="img">
						<a href="http://www.bloqly.com/profile/<%=reply.reply_by_pen_name%>"><img src="<%=reply.avatar%>" width="64" class="avatar"></a>
					</span>
					<span class="username">
						<a href="http://www.bloqly.com/profile/<%=reply.reply_by_pen_name%>"><%=reply.reply_by_real_name%></a>
						<span class="floatRight timeago" time="<%=reply.replied_at%>"><%=window.app.timeago(reply.replied_at)%></span>
					</span>
				</div>
				<div class="content">
					<div class="postContent"><%=reply.reply%></div>
					<div class="fontSize14 clear functionButtons"><% if(_.indexOf(_.pluck(reply.likes,'liked_by_id'), window.storage.get('profile').id) == -1){ %><a href="http://www.bloqly.com#" class="likeReplyButton" id="likeReplyButton_<%=reply.id%>" data-parent="<%=post.id%>">Like</a><% }else{ %><a href="http://www.bloqly.com#" class="unlikeReplyButton" id="unlikeReplyButton_<%=reply.id%>" data-parent="<%=post.id%>">Unlike</a><% } %> <a href="http://www.bloqly.com#" class="replyButton" id="replyReplyButton_<%=post.id%>">Reply</a> <% if(window.storage.get('profile').id == reply.reply_by_id || window.storage.get('profile').id == post.status_by_id){ %><a href="http://www.bloqly.com#" class="deleteReplyButton" id="deleteReplyButton_<%=reply.id%>">Delete</a><% } %></div>
						<% if(typeof reply.likes != "undefined" && reply.likes.length > 0){ %>
							<% var likesString = ''; %>
							<% _.each(reply.likes, function(like){ %>
							<% if(typeof like.liked_by_real_name != "undefined"){ %>
							<% likesString += "<a href='/profile/" + like.liked_by_pen_name +"' style='font-size:15px;'>" +like.liked_by_real_name + "</a><br/>"; %>
							<% } %>
							<% }); %>
								<div class="likesPopup" title="<%=likesString%>"><%=reply.likes.length%></div> <i class="fa fa-thumbs-o-up"></i>
						<% } %>
				</div>
			</div>
		</div>
		<% }); %>
		<% } %>
		</div>
	</div>
	<% }else{ %>
	<div class="singlePost" id="post_<%=post.id%>" by="<%=post.status_by_id%>" to="<%=post.status_to_id%>">
		<div class="">
			<span class="img floatLeft" style="margin-right:10px;">
				<% if(post.avatar != null){ 
					var avatar = post.avatar;
				 }else{ 
					var avatar = post.status_by_avatar;
				 } 
				 if(post.status_by_pen_name != null){
					var pen_name = post.status_by_pen_name;
				}else{ 
					var pen_name = post.by_pen_name;
				} %>
				<a href="http://www.bloqly.com/profile/<%=pen_name%>"><img src="<%=avatar%>" width="64" class="avatar"></a>
			</span>
			<span class="floatRight timeago" time="<%=post.status_time%>"><%=window.app.timeago(post.status_time)%></span>
			<span class="username">
				<a href="http://www.bloqly.com/profile/<%=pen_name%>" style="color:#000000;"><%=post.by_real_name%></a> reposted a status by <a href="http://www.bloqly.com/profile/<%=post.shared_status[0].by_pen_name%>" style="color:#000000;"><%=post.shared_status[0].by_real_name%></a> 
			</span>
			<div style="margin-top:10px;">
				<%=post.status%>
			</div>
		</div>
		<div class="clear" style="margin-bottom:10px;"></div>
		<div class="statusContainerShared" style="border: 1px solid #cccccc; padding:10px;">
		<div class="imgUsernameShared">
			<span class="imgShared floatLeft" style="margin-right:10px;">
				<% if(post.avatar != null){ 
					var avatar = post.shared_status[0].avatar;
				 }else{ 
					var avatar = post.shared_status[0].status_by_avatar;
				 } 
				 if(post.shared_status[0].status_by_pen_name != null){
					var pen_name = post.shared_status[0].status_by_pen_name;
				}else{ 
					var pen_name = post.shared_status[0].by_pen_name;
				} %>
				<a href="http://www.bloqly.com/profile/<%=pen_name%>"><img src="<%=avatar%>" width="64" class="avatar"></a>
			</span>
			<span class="floatRight timeago" time="<%=post.shared_status[0].status_time%>"><%=window.app.timeago(post.shared_status[0].status_time)%></span>
			<span class="usernameShared">
				<% if(post.shared_status[0].status_by_id != post.shared_status[0].status_to_id && post.shared_status[0].status_to_id != null){ %>
				<a href="http://www.bloqly.com/profile/<%=post.shared_status[0].by_pen_name%>" style="color:#000000;vertical-align:top;"><%=post.shared_status[0].by_real_name%></a> <img src="/images/right-arrow.png" class="commentTo"> <a href="http://www.bloqly.com/profile/<%=post.shared_status[0].status_to_pen_name%>" style="color:#000000;vertical-align:top;"><%=post.shared_status[0].status_to_real_name%></a>
				<% }else{ %>
					<% if(post.type == "status"){ %>
						<a href="http://www.bloqly.com/profile/<%=post.shared_status[0].by_pen_name%>" style="color:#000000;"><%=post.shared_status[0].by_real_name%></a> 
					<% }else{ %>
						<a href="http://www.bloqly.com/profile/<%=post.shared_status[0].status_by_pen_name%>" style="color:#000000;"><%=post.shared_status[0].status_by_real_name%></a> 
					<% } %>
				<% } %>
			</span>
			<div class="clear"></div>
		</div>
		<div class="contentShare">
			<% if(post.shared_status[0].type == "status"){ %>
				<div class="postContent"><%=post.shared_status[0].status%></div>
			<% }else{ %>
				<% if(post.shared_status[0].status_text.length < 200){ %>
					<div class="postContent">"<%=post.shared_status[0].status_text%>"</div>
				<% }else{ %>
					<div class="postContent">"<%=post.shared_status[0].status_text%>..."</div>
				<% } %>
			<% } %>
		</div>
		</div>
		<% if(post.type == "status"){ %>
			<div class="fontSize14 clear functionButtons"><% if(_.indexOf(_.pluck(post.likes,'liked_by_id'), window.storage.get('profile').id) == -1){ %><a href="http://www.bloqly.com#" class="likeStatusButton" id="likeStatusButton_<%=post.id%>">Like</a><% }else{ %><a href="http://www.bloqly.com#" class="unlikeStatusButton" id="unlikeStatusButton_<%=post.id%>">Unlike</a><% } %> | <a href="http://www.bloqly.com#" class="replyButton" id="replyButton_<%=post.id%>">Reply</a> | <a href="http://www.bloqly.com#" class="shareButton" id="share_<%=post.id%>">Repost</a> <%if(window.storage.get('profile').id == post.status_by_id || window.storage.get('profile').id == post.status_to_id) { %>| <a href="http://www.bloqly.com#" class="deleteStatusButton" id="deleteStatusButton_<%=post.id%>">Delete</a><% } %></div><% } %> 
			<div class="likesAndComments">
				<% if(typeof post.likes != "undefined" && post.likes.length > 0){ %>
				
					<% var likesString = ''; %>
					<% _.each(post.likes, function(like){ %>
					<% if(typeof like.liked_by_real_name != "undefined"){ %>
					<% likesString += "<a href='/profile/" + like.liked_by_pen_name +"' style='font-size:15px;'>" +like.liked_by_real_name + "</a><br/>"; %>
					<% } %>
					<% }); %>
						<div class="likesPopup" title="<%=likesString%>"><%=post.likes.length%></div> <i class="fa fa-thumbs-o-up"></i>
				<% } %>
				<% if(typeof post.replies != "undefined" && post.replies.length > 0){ %>
					<a href="http://www.bloqly.com#" class="replyButton" id="replyButton_<%=post.id%>"><span class="commentsNum"><%=post.replies.length%></span> <i class="fa fa-comment-o"></i></a>
				<% } %>
			</div>
			<% if(post.type == "status"){ %>
			<div class="fontSize14 clear replyArea" id="replyArea_<%=post.id%>"><input type="text" id="replyAreaInput_<%=post.id%>" name="replyAreaInput_<%=post.id%>" class="replyAreaInput"></input><button class="submitReplyButton" id="submitReplyButton_<%=post.id%>" name="submitReplyButton_<%=post.id%>"><i class="fa fa-reply"></i> SEND REPLY</button></div>
			<% } %>
		<div class="repliesContainer">
		<% if(post.type == "status"){ %>
		<% _.each(post.replies, function(reply){ %>
		<div class="replies" id="reply_<%=reply.id%>">
			<div class="fontSize14 clear">
				<div class="imgUsername">
					<span class="img">
						<a href="http://www.bloqly.com/profile/<%=reply.reply_by_pen_name%>"><img src="<%=reply.avatar%>" width="64" class="avatar"></a>
					</span>
					<span class="username">
						<a href="http://www.bloqly.com/profile/<%=reply.reply_by_pen_name%>"><%=reply.reply_by_real_name%></a>
						<span class="floatRight timeago" time="<%=reply.replied_at%>"><%=window.app.timeago(reply.replied_at)%></span>
					</span>
				</div>
				<div class="content">
					<div class="postContent"><%=reply.reply%></div>
					<div class="fontSize14 clear functionButtons"><% if(_.indexOf(_.pluck(reply.likes,'liked_by_id'), window.storage.get('profile').id) == -1){ %><a href="http://www.bloqly.com#" class="likeReplyButton" id="likeReplyButton_<%=reply.id%>" data-parent="<%=post.id%>">Like</a><% }else{ %><a href="http://www.bloqly.com#" class="unlikeReplyButton" id="unlikeReplyButton_<%=reply.id%>" data-parent="<%=post.id%>">Unlike</a><% } %> <a href="http://www.bloqly.com#" class="replyButton" id="replyReplyButton_<%=post.id%>">Reply</a> <% if(window.storage.get('profile').id == reply.reply_by_id || window.storage.get('profile').id == post.status_by_id){ %><a href="http://www.bloqly.com#" class="deleteReplyButton" id="deleteReplyButton_<%=reply.id%>">Delete</a><% } %></div>
						<% if(typeof reply.likes != "undefined" && reply.likes.length > 0){ %>
							<% var likesString = ''; %>
							<% _.each(reply.likes, function(like){ %>
							<% if(typeof like.liked_by_real_name != "undefined"){ %>
							<% likesString += "<a href='/profile/" + like.liked_by_pen_name +"' style='font-size:15px;'>" +like.liked_by_real_name + "</a><br/>"; %>
							<% } %>
							<% }); %>
								<div class="likesPopup" title="<%=likesString%>"><%=reply.likes.length%></div> <i class="fa fa-thumbs-o-up"></i>
						<% } %>
				</div>
			</div>
		</div>
		<% }); %>
		<% } %>
		</div>
	</div>
	<% } %>
<% }); %>