<span class="center inline fullWidth" id="register">
	<div id="registerText">
		Have we convinced you yet?
	</div>
	<div id="registerButton">
		SIGN UP!
	</div>
	<div id="registerBottom">
		or alternatively <a href="http://www.bloqly.com/contact">contact us</a> if you would like more information.
	</div>
</span>