<ul>
<% _.each(results, function(result){ %>
	<li>
		<span class="floatLeft" style="margin-right:5px;"><a href="http://www.bloqly.com/profile/<%=result.pen_name%>"><img src="<%=result.avatar%>" width="60"></a></span> <div><a href="http://www.bloqly.com/profile/<%=result.pen_name%>" style="color:#33163f;vertical-align:top;"><%=result.real_name%></a> in <a href="http://www.bloqly.com/story/<%=result.story_id%>/<%=result.story_slug%>/<%=result.chapter_slug%>" style="color:#33163f;vertical-align:top;"><%=result.story_name%></a> </div><div>"<%=result.comment_body%>" <%=app.timeago(result.commented_at)%> ago</div><div class="clear"></div>
	</li>
<% }); %>
</ul>