<span class="center inline fullWidth" id="features">
	<div style="min-height:246px;display:inline-block;">
		<div class="quarter">
			<div class="center">
				<img src="/images/nodes.png"/>
			</div>
			<div class="center bold padding">
				INFINITE POSSIBILITIES
			</div>
			<div class="left paddingLeftRight">
				You can start new branches of any public story, whether they be your own or someone else's, at any point in the story. Why stick to one ending when you can have multiple?
			</div>
		</div>
		<div class="quarter">
			<div class="center">
				<img src="/images/lightbulb.png"/>
			</div>
			<div class="center bold padding">
				BRAINSTORM
			</div>
			<div class="left paddingLeftRight">
				Each story has its own area where writers can share ideas for characters, scenes and dialog for the story.
			</div>
		</div>
		<div class="quarter">
			<div class="center">
				<img src="/images/lock.png"/>
			</div>
			<div class="center bold padding">
				PRIVATE STORIES
			</div>
			<div class="left paddingLeftRight">
				You can choose to make your stories private and only share with whom you wish to collaborate.
			</div>
		</div>
		<div class="quarter">
			<div class="center">
				<img src="/images/connect.png"/>
			</div>
			<div class="center bold padding">
				MARKETPLACE
			</div>
			<div class="left paddingLeftRight">
				Here is where publishers and agents can get in touch with authors! This is the place to showcase your best pieces and potentially be offered a publishing deal! 
			</div>
		</div>
	</div>
	<div style="min-height:246px;display:inline-block;">
		<div class="quarter">
			<div class="center">
				<img src="/images/pencil2.png"/>
			</div>
			<div class="center bold padding">
				COMPETITIONS
			</div>
			<div class="left paddingLeftRight">
				Are you facing writer's block? Then take part in Bloqly's weekly writing challenges. You can also start your own and competition your challenge your friends.
			</div>
		</div>
		<div class="quarter">
			<div class="center">
				<img src="/images/messages.png"/>
			</div>
			<div class="center bold padding">
				FORUMS
			</div>
			<div class="left paddingLeftRight">
				Discuss your favourite stories, whether they be at Bloqly or not, on the message board with your friends and other users in the community.
			</div>
		</div>
		<div class="quarter">
			<div class="center" style="height:128px;">
				<img src="/images/newsfeed.png"/>
			</div>
			<div class="center bold padding">
				NEWSFEED
			</div>
			<div class="left paddingLeftRight">
				Keep updated with authors and stories you choose to subscribe to as well as featured works on the Bloqly newsfeed.
			</div>
		</div>
		<div class="quarter">
			<div class="center">
				<img src="/images/chart.png"/>
			</div>
			<div class="center bold padding">
				STATISTICS
			</div>
			<div class="left paddingLeftRight">
				Statistics are available about your stories, including who viewed and liked the story, and even each chapter in each branch of your story.
			</div>
		</div>
	</div>
</span>