<span class="center inline fullWidth modalBox" id="signUpBox">
	<div id="closeModal">
		<span><i class="remove icon"></i><span>
	</div>
	<div id="signUpHeader">
		LOGIN
	</div>
	<div id="signUpBody">
		<span>
			<div class="inline label">
				EMAIL/PEN NAME:
			</div>
			<div class="inline fullWidth">
				<input type="text" name="loginEmail" id="loginEmail"></input>
			</div>
			<div class="emailError"></div>
		</span>
		<span>
			<div class="inline label floatLeft">
				PASSWORD:
			</div>
			<div class="inline label floatRight forgotPassword">
				Forgot your password?
			</div>
			<div class="inline fullWidth">
				<input type="password" name="loginPassword" id="loginPassword"></input>
				<div class="loginError clear"></div>
			</div>
		</span>
	</div>
	<div id="signUpFooter">
		<div id="loginButton">
			LOGIN
		</div>
		<div id="otherRegistration" class="ui horizontal divider">
			OR
		</div>
		<a href="http://www.bloqly.com/api/login/facebook">
			<div id="signUpFacebookButton">
				LOGIN WITH FACEBOOK
			</div>
		</a>
	</div>
	<div id="signUpFooter">
		<hr>
		<div id="registerButton">
			REGISTER
		</div>
	</div>
</span>