<div class="inboxContainer storyList">
	<div class="storyListHeader">
		<%=results[0].group_name%>: MANAGE MEMBERS
	</div>	
	<% var owner = _.where(results, {"is_owner": "1"}); %>
	<% var admin = _.where(results, {"is_admin": "1"}); %>
	<% var adminArray = _.pluck(admin, 'author_id'); %>
	<% console.log(owner) %>
	<div class="messageContainer">
	<% var numMembers = 0; %>
	<% _.each(results, function(member){ %>
	<% numMembers++ %>
	<div class="individualMessage" style="margin-top:10px;padding:10px;">
		<div id="threadTitle">
			<div>
				<span class="floatLeft">
					<a href="http://www.bloqly.com/profile/<%=member.pen_name%>"><img src="<%=member.avatar%>" width="40"></a> <a href="http://www.bloqly.com/profile/<%=member.pen_name%>" style="color:#33163f;vertical-align:top;"><%=member.real_name%></a> <span style="vertical-align:top;" id="memberStatus"><% if(member.is_owner == 1 && member.is_admin == 1){ %>● Group Owner<% }else if(member.is_owner == 0 && member.is_admin == 1){ %>● Admin<% }else if(member.status == 0){ %>● Requested Access<% }else{ %>● Member<% } %></span>
				</span>
				<span class="floatRight" style="text-align:right;" id="timeagoJoined">
					<% if(member.status == 1){ %>Joined <%=app.timeago(member.date_added)%> ago<% }else if(member.status == 0){ %>Requested access <%=app.timeago(member.date_added)%> ago<% } %>
				</span>
				<div class="clear"></div>
			</div>
			<div id="adminFunctions" style="font-size:14px;">
				<% if(member.status == 1 && member.is_admin == 0 && owner[0].author_id == storage.get('profile').id){ %><a href="http://www.bloqly.com#" class="makeMemberAdmin" style="color:#33163f;vertical-align:top;" id="<%=member.author_id%>">Make Admin</a> | <% }else if(member.status == 1 && member.is_admin == 1 && owner[0].author_id == storage.get('profile').id && owner[0].author_id != member.author_id){ %><a href="http://www.bloqly.com#" class="revokeMemberAdmin" style="color:#33163f;vertical-align:top;" id="<%=member.author_id%>">Revoke Admin</a> | <% } %> <% if(member.status == 0 && $.inArray(storage.get('profile').id,adminArray) > -1){ %><a href="http://www.bloqly.com#" class="approveMember" style="color:#33163f;vertical-align:top;" id="<%=member.author_id%>">Approve Author</a><% }else if(member.status == 1 && member.author_id != owner[0].author_id && $.inArray(storage.get('profile').id,adminArray) > -1){ %><a href="http://www.bloqly.com#" class="removeMember" style="color:#33163f;vertical-align:top;" id="<%=member.author_id%>">Remove Author</a><% } %>
			</div>
		</div>
	</div>
	<% }); %>
	</div>
	<div class="replyTopicError">

	</div>
</div>