<div class="inboxContainer storyList">
	<div class="storyListHeader">
		SENT MESSAGES
	</div>	
	<% _.each(messages, function(message){ %>
	<div class="individualMessage" style="margin-top:10px;margin-bottom:10px;">
		<div id="threadTitle">
			<div style="border-bottom:1px dotted #cccccc;margin-bottom:10px;padding-bottom:10px;">
				<a href="http://www.bloqly.com/messages/read/<%=message.thread_id%>/<%=message.thread_slug%>" style="color:#33163f;"><%=message.thread_title%></a>
				<div class="floatRight" style="vertical-align:top;font-size:12px;">
					<% if(app.timeago(message.message_sent_at) != "Just now!"){ %>
						Sent <%=app.timeago(message.message_sent_at)%> ago
					<% }else{ %>
						Sent just now!
					<% } %>
				</div>
			</div>
			<div class="clear" style="margin-bottom:10px;">
				<%=message.message_body%>
			</div>
		</div>
		<div class="threadRecipients" style="margin-top:5px;">
			Recipients:<br/>
			<% _.each(message.recipients, function(recipient){ %>
				<a href="http://www.bloqly.com/profile/<%=recipient.pen_name%>" style="margin-right:5px;" class="popup" title="<a href='/profile/<%=recipient.pen_name%>'><%=recipient.real_name%></a>"><img src="<%=recipient.avatar%>" width="32"/></a>
			<% }); %>
		</div>
	</div>
	<% }); %>
	<% if(messages.length == 0){ %>
		You have not sent any messages.
	<% } %>
</div>