<% var numberOfUnreadMessages = _.where(messages, {has_read:"0"}).length; %>
<div class="inboxContainer storyList">
	<div class="storyListHeader">
		INBOX (<%=numberOfUnreadMessages%>)
	</div>	
	<% _.each(messages, function(message){ %>
	<div class="individualMessage" style="margin-top:10px;margin-bottom:10px;">
		<div id="threadTitle">
			<div style="border-bottom:1px dotted #cccccc;padding-bottom:10px;">
				<a href="http://www.bloqly.com/messages/read/<%=message.thread_id%>/<%=message.thread_slug%>" style="color:#33163f;"><%=message.thread_title%></a> <% if(message.has_read == 0){ %><span style="font-size:12px;">(NEW MESSAGE)</span><% } %>
				<div class="floatRight" style="vertical-align:top;font-size:12px;">
					<% if(app.timeago(message.latest_message) != "Just now!"){ %>
						Last message sent <%=app.timeago(message.latest_message)%> ago
					<% }else{ %>
						Last message sent just now!
					<% } %>
				</div>
			</div>
		</div>
		<div class="threadRecipients" style="margin-top:10px;">
			Recipients:<br/>
			<% _.each(message.recipients, function(recipient){ %>
				<a href="http://www.bloqly.com/profile/<%=recipient.pen_name%>" style="margin-right:5px;" class="popup" title="<a href='/profile/<%=recipient.pen_name%>'><%=recipient.real_name%></a>"><img src="<%=recipient.avatar%>" width="32"/></a>
			<% }); %>
		</div>
	</div>
	<% }); %>
	<% if(messages.length == 0){ %>
		You have no messages in your inbox.
	<% } %>
</div>