<li><div class="leftMenuUsernameHolder"><a href="http://www.bloqly.com/brainstorm">ALL BRAINSTORMS I'M SUBSCRIBED TO</a></div></li>
<% _.each(brainstorms, function(brainstorm){ %>
<li id="brainstorm-<%=brainstorm.story_id%>"><div class="leftMenuUsernameHolder"><a href="http://www.bloqly.com/brainstorm/<%=brainstorm.story_id%>/<%=brainstorm.story_slug%>"><%=brainstorm.story_name%></a></div></li>
<% }); %>