<div class="inboxContainer storyList">
	<div class="storyListHeader">
		LATEST TOPICS IN BRAINSTORMS I'M SUBSCRIBED TO
	</div>	
	<% _.each(brainstorms, function(brainstorm){ %>
	<div class="individualMessage" style="margin-top:10px;margin-bottom:10px;">
		<div id="threadTitle">
			<div style="border-bottom:1px dotted #cccccc;padding-bottom:10px;">
				<a href="http://www.bloqly.com/brainstorm/<%=brainstorm.story_id%>/<%=brainstorm.story_slug%>/read/<%=brainstorm.id%>/<%=brainstorm.thread_slug%>" style="color:#33163f;"><%=brainstorm.thread_title%></a> in <a href="http://www.bloqly.com/story/<%=brainstorm.story_id%>/<%=brainstorm.story_slug%>" style="color:#33163f;"><%=brainstorm.story_name%></a>
				<span class="tags" style="margin-left:10px;background:#8dc63f;padding:5px;color:white;border-radius:5px;font-size:12px;">
				 <%=brainstorm.thread_type%>
				</span>
				<div class="floatRight" style="vertical-align:top;font-size:12px;">
					<% if(app.timeago(brainstorm.latest_post) != "Just now!"){ %>
						Last post <%=app.timeago(brainstorm.latest_post)%> ago
					<% }else{ %>
						Last post submitted just now!
					<% } %>
				</div>
			</div>
		</div>
		<div class="threadRecipients" style="margin-top:10px;padding-bottom:10px;font-size:14px;">
			Topic started by: <a href="http://www.bloqly.com/profile/<%=brainstorm.thread_started_by_pen_name%>" style="margin-right:5px;color:#33163f;" class=""><%=brainstorm.thread_started_by_real_name%></a>
		</div>
	</div>
	<% }); %>
	<% if(brainstorms.length == 0){ %>
		No one has started a discussion in any of Brainstorms you are subscribed to. If you would like to get the ball rolling, go to a Brainstorm and create a topic.
	<% } %>
</div>