<% _.each(results, function(result){ %>
	<li><div class="leftMenuUsernameHolder"><a href="http://www.bloqly.com/circle/<%=result.id%>/<%=result.slug%>/topics"><%=result.group_name%></a></div></li>
<% }); %>