<div class="inboxContainer storyList">
	<div class="storyListHeader">
		NEW BRAINSTORM TOPIC IN: <%=story[0].story_name%>
	</div>	
	<div class="clear">
		Brainstorm Title:
		<input type="text" id="newTopicTitle" name="newTopicTitle"></input>
		<div class="clear"></div>
		Brainstorm Type:
		<select type="text" id="newTopicCategory" name="newTopicCategory">
			<% _.each(categories, function(category){ %>
				<option value="<%=category.id%>"><%=category.thread_type%></option>
			<%	}); %>
		</select>
		<div class="clear"></div>
		Message:
		<textarea id="newTopic" name="newTopic"></textarea>
		<div class="clear"><button id="sendNewTopicButton">Start new topic!</button></div>
		<div class="clear sendTopicError"></div>
	</div>
</div>
