<div class="submitStatusBox step1">
	<div class="clear" style="font-weight:bold;font-size:24px;">ADD NEW CHAPTER TO: <%=chapters.chapter_name%></div>
	<div class="clear">&nbsp;</div>
	Chapter Title:*
	<div style="font-size:12px;">What would you like to call this chapter?</div>
	<div class="clear type">
		<input type="text" id="chapterName" name="chapterName"/>

	</div>
	Start writing! *
	<div style="font-size:12px;">Have fun! Don't forget to save this chapter as draft or publish, or it will be lost!</div>
		<textarea name="storyContent" id="storyContent" placeholder=""></textarea>
	<div style="margin-top:10px;"><button id="saveChapterDraft" name="saveChapterDraft"><i class="fa fa-save"></i> Save Draft</button> <button id="publishChapter" name="publishChapter"><i class="fa fa-newspaper-o"></i> Publish!</button></div>
	<div class="clear">
		<div style="font-size:12px;">Fields marked with * are required</div>
	</div>
	<div class="clear step2Error">
	</div>
	<div style="margin-top:10px;">
		Previous chapter:
	</div>
	<div class="previousChapter">
		<%=chapters.chapter_body%>
	</div>
</div>