<div class="inboxContainer storyList">
<div class="submitStatusBox step1">
	<% if(type == "edit"){ %>
		<div class="clear" style="font-weight:bold;font-size:24px;">EDIT CIRCLE</div>
	<% }else{ %>
		<div class="clear" style="font-weight:bold;font-size:24px;">CREATE NEW CIRCLE</div>
	<% } %>
	<div class="clear">&nbsp;</div>
	Circle Name:*
	<div style="font-size:12px;">What would you like to call this circle?</div>
	<div class="clear type">
		<% if(typeof circle != "undefined"){ %>
			<input type="text" id="circleName" name="circleName" value="<%=circle[0].group_name%>"/>
		<% }else{ %>
			<input type="text" id="circleName" name="circleName"/>
		<% } %>
	</div>
	Circle Description:*
	<div style="font-size:12px;">Tell us a bit about your group</div>
	<div class="clear type">
		<% if(typeof circle != "undefined"){ %>
			<input type="text" id="circleDescription" name="circleDescription" value="<%=circle[0].group_description%>"/>
		<% }else{ %>
			<input type="text" id="circleDescription" name="circleDescription"/>
		<% } %>
	</div>
	Circle Description:*
	<div style="font-size:12px;">Tell us a bit about your group</div>
	<div class="clear type">
		<select name="circleCategory" id="circleCategory">

		</select>
	</div>
	Group Type:*
	<div style="font-size:12px;">Would you like anyone to be able to join this circle or have to be approved?</div>
	<div class="clear type">
	<% if(typeof circle != "undefined"){ %>
		<% if(circle[0].group_type == 1){ %>
		<select name="circleType" id="circleType">
			<option value="1" selected>Public</option>
			<option value="2">Restricted</option>
		</select>
		<% }else{ %>
		<select name="circleType" id="circleType">
			<option value="1">Public</option>
			<option value="2" selected>Restricted</option>
		</select>
		<% } %>
	<% }else{ %>
		<select name="circleType" id="circleType">
			<option value="1">Public</option>
			<option value="2">Restricted</option>
		</select>
	<% } %>
	<div style=""><button id="saveCircle" name="saveCircle"><i class="fa fa-save"></i> Save Group</button>
	</div>
	<div class="clear">
		<div style="font-size:12px;">Fields marked with * are required</div>
	</div>
	<div class="clear saveCircleError">
	</div>
</div>
</div>