	<div class="submitStatusBox step1">
	<div class="clear" style="font-weight:bold;font-size:24px;">CREATE NEW CHALLENGE</div>
	<div class="clear">&nbsp;</div>
	Challenge Title:*
	<div style="font-size:12px;">What would you like to call this challenge?</div>
	<div class="clear type">
		<% if(typeof challenge != "undefined"){ %>
			<input type="text" id="challengeName" name="challengeName" value="<%=challenge[0].challenge_name%>"/>
		<% }else{ %>
			<input type="text" id="challengeName" name="challengeName"/>
		<% } %>
	</div>
	Challenge From:*
	<div style="font-size:12px;">When would you like this challenge to start?</div>
	<div class="clear type">
		<% if(typeof challenge != "undefined"){ %>
			<input type="text" id="challengeStart" name="challengeStart" value="<%=challenge[0].challenge_start_date.substring(0,10)%>" readonly/>
		<% }else{ %>
			<input type="text" id="challengeStart" name="challengeStart" readonly/>
		<% } %>
	</div>
	Challenge To:*
	<div style="font-size:12px;">When would you like this challenge to end?</div>
	<div class="clear type">
		<% if(typeof challenge != "undefined"){ %>
			<input type="text" id="challengeEnd" name="challengeEnd" value="<%=challenge[0].challenge_end_date.substring(0,10)%>" readonly/>
		<% }else{ %>
			<input type="text" id="challengeEnd" name="challengeEnd" readonly/>
		<% } %>
	</div>
	Challenge Description: *
	<div style="font-size:12px;">Tell us what your challenge is about!</div>
		<% if(typeof challenge != "undefined"){ %>
			<textarea name="challengeDescription" id="challengeDescription" placeholder=""><%=challenge[0].challenge_description%></textarea>
		<% }else{ %>
			<textarea name="challengeDescription" id="challengeDescription" placeholder=""></textarea>
		<% } %>
	<div style="margin-top:10px;"><button id="saveChallenge" name="saveChallenge"><i class="fa fa-save"></i> Save Challenge</button></div>
	<div class="clear">
		<div style="font-size:12px;">Fields marked with * are required</div>
	</div>
	<div class="clear saveChallengeError">
	</div>
</div>