<div class="replies" id="reply_<%=reply.id%>">
	<div class="clear">
		<div class="imgUsername">
			<span class="img">
				<a href="http://www.bloqly.com/profile/<%=reply.pen_name%>"><img src="<%=reply.avatar%>" width="64" class="avatar"></a>
			</span>
			<span class="username" style>
				<div style="display: inline;vertical-align: top;">
				<a href="http://www.bloqly.com/profile/<%=reply.pen_name%>"><%=reply.real_name%></a> 
				</div>
				<% if(reply.rating != null){ %>
				 <span style="vertical-align:top;">rated this chapter</span> <input type="number" class="chapterStars" value="<%=reply.rating%>" title="<%=reply.rating%>/5" isDisabled="1"/>
				<% } %>
				<span class="floatRight timeago" time="<%=reply.commented_at%>"><%=window.app.timeago(reply.commented_at)%></span>
			</span>

		</div>
		<div class="content">
			<div class="postContent"><%=reply.comment_body%></div>
			
		</div>
	</div>
</div>