<div class="submitStatusBox step1">
	<div class="clear" style="font-weight:bold;font-size:24px;">STEP 2: ADD THE FIRST CHAPTER</div>
	<div class="clear">&nbsp;</div>
	Chapter Title:*
	<div style="font-size:12px;">What would you like to call this chapter?</div>
	<div class="clear type">
		<% if(typeof chapters != "undefined"){ %>
			<input type="text" id="chapterName" name="chapterName" value="<%=chapters.chapter_name%>"/>
		<% }else{ %>
			<input type="text" id="chapterName" name="chapterName"/>
		<% } %>

	</div>
	Start writing! *
	<div style="font-size:12px;">Have fun! Don't forget to save this chapter as draft or publish, or it will be lost!</div>
	<% if(typeof chapters != "undefined"){ %>
		<textarea name="storyContent" id="storyContent" placeholder=""><%=chapters.chapter_body%></textarea>
	<% }else{ %>
		<textarea name="storyContent" id="storyContent" placeholder=""></textarea>
	<% } %> 
	<button id="goToStep1" name="goToStep1"><i class="fa fa-chevron-left"></i> Previous Step</button> <button id="saveDraft" name="saveDraft"><i class="fa fa-save"></i> Save Draft</button><button id="publish" name="publish"><i class="fa fa-newspaper-o"></i> Publish!</button>
	<div class="clear">
		<div style="font-size:12px;">Fields marked with * are required</div>
	</div>
	<div class="clear step2Error">
	</div>
</div>