<div class="submitStatusBox step1">
	<div class="clear" style="font-weight:bold;font-size:24px;">STEP 1: STORY DETAILS</div>
	<div class="clear">&nbsp;</div>
	Story Title:*
	<div class="clear"></div>
	<div style="font-size:12px;">What would you like to call this story?</div>
	<div class="clear type">
		<% if(typeof story !== "undefined"){ %>
			<input type="text" id="storyName" name="storyName" value="<%=story.story_name%>"/>
		<% }else{ %>	
			<input type="text" id="storyName" name="storyName"/>
		<% } %>
	</div>
	<!--
	Chapter Title:
	<div class="clear type">
		<input type="text" id="chapterName" name="chapterName"/>
	</div>
	-->
	Story Description:
	<div style="font-size:12px;">Tell us what this story is about</div>
	<div class="clear type">
		<% if(typeof story !== "undefined"){ %>
			<input type="text" id="storyDescription" name="storyDescription" value="<%=story.story_description%>"/>
		<% }else{ %>	
			<input type="text" id="storyDescription" name="storyDescription"/>
		<% } %>
	</div>
	Story Type:
	<div style="font-size:12px;">Are you writing a story or a choose-your-own-adventure game?</div>
	<div class="clear type">
		<select id="storyType" name="storyType" class="ui selection dropdown">
		<% _.each(storyTypes, function(storyType){ %>
			<% if(typeof story !== "undefined"){ %>
			<% if(story.story_type == storyType.id){ %>
				<option value="<%=storyType.id%>" selected><%=storyType.type%></option>
			<% }else{ %>
				<option value="<%=storyType.id%>"><%=storyType.type%></option>
			<% } %>
			<% } %>
		<% }); %>
		</select>
	</div>
	Categories:
	<div style="font-size:12px;">You may select a maximum of three categories</div>
	<div class="clear type">
		<select data-placeholder="Select some categories..." id="category" name="category" class="ui selection dropdown" multiple>
		<% _.each(categories, function(category){ %>
			<% if(typeof story !== "undefined"){ %>
			<% if(story.story_category == category.id){ %>
				<option value="<%=category.id%>" selected><%=category.category%></option>
			<% }else{ %>
				<option value="<%=category.id%>"><%=category.category%></option>
			<% } %>
			<% } %>
		<% }); %>
		</select>
	</div>
	Make story public?
	<div style="font-size:12px;">Public stories are searchable</div>
	<div class="clear type">
		<select id="isPublic" name="isPublic" class="ui selection dropdown">
			<% if(story.is_public != null){ %>
				<% if(story.is_public == 1){ %>
					<option value="1" selected>Yes</option>
					<option value="0">No</option>
				<% }else{ %>
					<option value="1">Yes</option>
					<option value="0" selected>No</option>
				<% } %>
			<% }else{ %>
				<option value="1" selected>Yes</option>
				<option value="0">No</option>
			<% } %>
		</select>
	</div>
	Tags: 
	<div style="font-size:12px;">Which keywords would you like this story to be searchable by? (Press enter to register a tag)</div>
	<div class="clear type">
		<% if(typeof story != "undefined"){ %>
			<input type="text" id="tags" name="tags" value="<%=story.tags%>" data-role="tagsinput"/>
		<% }else{ %>
			<input type="text" id="tags" name="tags" data-role="tagsinput"/>
		<% } %>
	</div>
	<!--
	Start writing!
	<textarea name="storyContent" id="storyContent" placeholder=""></textarea>
	-->
	<button id="goToStep2" name="goToStep2">Next Step <i class="fa fa-chevron-right"></i></button>
	<div class="clear">
		<div style="font-size:12px;">Fields marked with * are required</div>
	</div>
	<div class="clear step1Error">
	</div>
</div>