	<div class="submitStatusBox step1">
	<% if(type == "new"){ %>
		<div class="clear" style="font-weight:bold;font-size:24px;">CREATE NEW TOPIC</div>
	<% }else{ %>
		<div class="clear" style="font-weight:bold;font-size:24px;">EDIT TOPIC</div>
	<% } %>
	<div class="clear">&nbsp;</div>
	Topic Name:*
	<div style="font-size:12px;">What would you like to call this topic?</div>
	<div class="clear type">
		<% if(typeof topic != "undefined"){ %>
			<input type="text" id="topicName" name="topicName" value="<%=topic[0].topic_name%>"/>
		<% }else{ %>
			<input type="text" id="topicName" name="topicName"/>
		<% } %>
	</div>
	<% if(typeof topic == "undefined"){ %>
	Topic Body:*
	<div style="font-size:12px;">Write the first post for this topic</div>
	<div class="clear type">
		<% if(typeof topic != "undefined"){ %>
			<textarea name="topicBody" id="topicBody"><%=topic[0].topic_body%></textarea>
		<% }else{ %>
			<textarea name="topicBody" id="topicBody"></textarea>
		<% } %>
	</div>
	<% } %>
	<div class="clear type">
	<div style=""><button id="saveTopic" name="saveTopic"><i class="fa fa-save"></i> Save Topic</button>
	</div>
	<div class="clear">
		<div style="font-size:12px;">Fields marked with * are required</div>
	</div>
	<div class="clear saveTopicError">
	</div>
</div>