<% _.each(feed, function(post){ %>
<div class="imgUsername">
	<span class="img">
		<a href="http://www.bloqly.com/profile/<%=post.by_pen_name%>"><img src="<%=post.avatar%>" width="64" class="avatar"></a>
	</span>
	<span class="username">
		<% if(post.type == "status"){ %>
		<% if(post.status_by_id != post.status_to_id){ %>
		<a href="http://www.bloqly.com/profile/<%=post.by_pen_name%>"><%=post.by_real_name%></a> <img src="/images/right-arrow.png" class="commentTo"> <a href="http://www.bloqly.com/profile/<%=post.status_to_pen_name%>"><%=post.status_to_real_name%></a>
		<% }else{ %>
		<a href="http://www.bloqly.com/profile/<%=post.by_pen_name%>"><%=post.by_real_name%></a>
		<% } %>
		<span class="floatRight timeago" time="<%=post.status_time%>"><%=window.app.timeago(post.status_time)%></span>
		<% } %>
	</span>
</div>
<div class="content">
	<div class="postContent"><%=post.status%></div>
	<div class="fontSize14 clear functionButtons"><% if(_.indexOf(_.pluck(post.likes,'liked_by_id'), window.storage.get('profile').id) == -1){ %><a href="http://www.bloqly.com#" class="likeStatusButton" id="likeStatusButton_<%=post.id%>">Like</a><% }else{ %><a href="http://www.bloqly.com#" class="unlikeStatusButton" id="unlikeStatusButton_<%=post.id%>">Unlike</a><% } %> | <a href="http://www.bloqly.com#" class="replyButton" id="replyButton_<%=post.id%>">Reply</a> <%if(window.storage.get('profile').id == post.status_by_id || window.storage.get('profile').id == post.status_to_id) { %> | <a href="http://www.bloqly.com#" class="deleteStatusButton" id="deleteStatusButton_<%=post.id%>">Delete</a><% } %></div>
	<div>
		<% if(typeof post.likes != "undefined" && post.likes.length > 0){ %>
					
						<% var likesString = ''; %>
						<% _.each(post.likes, function(like){ %>
						<% if(typeof like.liked_by_real_name != "undefined"){ %>
						<% likesString += "<a href='/profile/" + like.liked_by_pen_name +"' style='font-size:15px;'>" +like.liked_by_real_name + "</a><br/>"; %>
						<% } %>
						<% }); %>
							<div class="likesPopup" title="<%=likesString%>"><%=post.likes.length%></div> <i class="fa fa-thumbs-o-up"></i>
					<% } %>
					<% console.log(post); %>
					<% if(typeof post.reply_count != "undefined" && post.reply_count > 0){ %>
						<a href="http://www.bloqly.com#" class="replyButton" id="replyButton_<%=post.id%>"><span class="commentsNum"><%=post.reply_count%></span> <i class="fa fa-comment-o"></i></a>
					<% } %>
	</div>
	<div class="fontSize14 clear replyArea" id="replyArea_<%=post.id%>"><input type="text" id="replyAreaInput_<%=post.id%>" name="replyAreaInput_<%=post.id%>" class="replyAreaInput"></input><button class="submitReplyButton" id="submitReplyButton_<%=post.id%>" name="submitReplyButton_<%=post.id%>">SEND REPLY</button></div>
</div>
<% }); %>