<% _.each(replies, function(reply){ %>
				<div class="fontSize14 clear">
					<div class="imgUsername">
						<span class="img">
							<a href="http://www.bloqly.com/profile/<%=reply.reply_by_pen_name%>"><img src="<%=reply.avatar%>" width="64" class="avatar"></a>
						</span>
						<span class="username">
							<a href="http://www.bloqly.com/profile/<%=reply.reply_by_pen_name%>"><%=reply.reply_by_real_name%></a>
							<span class="floatRight timeago" time="<%=reply.replied_at%>"><%=window.app.timeago(reply.replied_at)%></span>
						</span>
					</div>
					<div class="content">
						<div class="postContent"><%=reply.reply%></div>
						<div class="fontSize14 clear functionButtons"><% if(_.indexOf(_.pluck(reply.likes,'liked_by_id'), window.storage.get('profile').id) == -1){ %><a href="http://www.bloqly.com#" class="likeReplyButton" id="likeReplyButton_<%=reply.id%>">Like</a><% }else{ %><a href="http://www.bloqly.com#" class="unlikeReplyButton" id="unlikeReplyButton_<%=reply.id%>">Unlike</a><% } %> <a href="http://www.bloqly.com#" class="replyButton" id="replyReplyButton_<%=postid%>">Reply</a> <% if(window.storage.get('profile').id == reply.reply_by_id || window.storage.get('profile').id == reply.status_by_id){ %><a href="http://www.bloqly.com#" class="deleteReplyButton" id="deleteReplyButton_<%=reply.id%>">Delete</a><% } %></div>
						<div class="fontSize14 clear functionButtons postLikes">
							<% if(typeof reply.likes != "undefined" && reply.likes.length > 0){ %>
								<% var likesString = ''; %>
								<% _.each(reply.likes, function(like){ %>
								<% if(typeof like.liked_by_real_name != "undefined"){ %>
								<% likesString += "<a href='/profile/" + like.liked_by_pen_name +"' style='font-size:15px;'>" +like.liked_by_real_name + "</a><br/>"; %>
								<% } %>
								<% }); %>
									<div class="likesPopup" title="<%=likesString%>"><%=reply.likes.length%></div> <i class="fa fa-thumbs-o-up"></i>
							<% } %>
						</div>
					</div>
				</div>
			<% }); %>