<div class="inboxContainer storyList">
	<!--<select id="challengeFilterType" name="challengeFilterType">
		<option value="">Filter Challenges by</option>
		<% if(filter == "popular"){ %>
			<option value="popular" selected>Popular</option>
		<% }else{ %>
			<option value="popular">Popular</option>
		<% }if(filter == "soonest"){ %>
			<option value="soonest" selected>Ended Last</option>
		<% }else{ %>
			<option value="soonest">Ended Last</option>
		<% } %>
	</select>-->
	<div class="storyListHeader">
		PREVIOUS CHALLENGES
	</div>	
	<% var numChallenges = 0; %>
	<% _.each(challenges, function(challenge){ %>
	<% if(challenge.id != null){ %>
	<% numChallenges++ %>
	<div class="individualMessage" style="margin-top:10px;margin-bottom:10px;">
		<div id="threadTitle">
			<div style="border-bottom:1px dotted #cccccc;padding-bottom:10px;">
				<span class="floatLeft">
					<a href="http://www.bloqly.com/challenge/<%=challenge.id%>/<%=challenge.slug%>" style="color:#33163f;"><%=challenge.challenge_name%></a> started by <a href="http://www.bloqly.com/profile/<%=challenge.pen_name%>" style="color:#33163f;"><%=challenge.real_name%></a>
				</span>
				<span>
					<div class="" style="vertical-align:top;font-size:12px;text-align:right;">
						Ended: <%=app.timeToShort(challenge.challenge_end_date)%>
					</div>
					<div class=" clear" style="vertical-align:top;font-size:12px;text-align:right;">
						Started: <%=app.timeToShort(challenge.challenge_start_date)%>
					</div>
					<div class=" clear" style="vertical-align:top;font-size:12px;text-align:right;">
						Stories submitted: <%=challenge.story_count%>
					</div>
				</span>
			</div>
		</div>
		<div class="threadRecipients" style="margin-top:10px;padding-bottom:10px;font-size:14px;">
			<%=challenge.challenge_description%>
		</div>
	</div>
	<% } %>
	<% }); %>
	<% if(numChallenges == 0){ %>
		No challenge has ended yet. If you would like to take part in one, search for a challenge in the Active Challenges tab to the left.
	<% } %>
	<div class="page">Page:

	</div>
</div>