<% if(facebook){ %>
<a href="http://www.bloqly.com<%=facebook%>"><i class="facebook fa fa-facebook-square" target="_blank"></i></a>
<% } %>
<% if(twitter){ %>
<a href="http://www.bloqly.com<%=twitter%>"><i class="twitter fa fa-twitter-square" target="_blank"></i></a>
<% } %>
<% if(google){ %>
<a href="http://www.bloqly.com<%=google%>"><i class="google fa fa-google-plus-square" target="_blank"></i></a>
<% } %>