<div class="modalBox rateModal" style="height:165px;">
<div id="closeModal">
	<span><i class="fa fa-remove"></i><span>
</div>
<div style="text-align:center;">
	Rate this chapter:
</div>
<input type="number" class="rateChapter" isDisabled="0"/>
<div>
	<div style="text-align:center;">Would you like to leave a comment with your rating?</div>
	<input type="text" name="rateComment" id="rateComment"/>
	<button class="rateChapterButton">Rate Chapter</button>
</div>
</div>