<div class="chapterContainer">
	<div class="chapterHeader">
		<h4><%=challenge[0].challenge_name%></h4>
	</div>
	<div>
	<% if(challenge[0].challenge_by == storage.get('profile').id){ %><button class="editChallengeButton" style="margin-top:0;margin-bottom:10px;"><i class="fa fa-edit"></i> Edit Challenge</button><% } %>
	<% if(challenge[0].challenge_by != storage.get('profile').id){ %>
	<% if(challenge[0].have_i_subscribed == 0){ %>
		<button class="subscribeToChallenge" style="margin-top:0px;margin-bottom:10px;"><i class="fa fa-bookmark"></i> Subscribe</button>
	<% }else{ %>
		<button class="subscribedToChallenge" style="margin-top:0px;margin-bottom:10px;"><i class="fa fa-bookmark"></i> Subscribed</button>
	<% } %>
	<% } %>
	</div>
	<div class="chapterBy">
		started by <a href="http://www.bloqly.com/profile/<%=challenge[0].pen_name%>"><%=challenge[0].real_name%></a> 
		on <%=window.app.timeToShort(challenge[0].challenge_start_date)%> and ends <%=app.timeToShort(challenge[0].challenge_end_date)%>
	</div>
	<div class="chapterActions">
		
	</div>
	<div class="chapterBody" style="margin-bottom:0;">
		<%=challenge[0].challenge_description%>
	</div>
	<% var end_date = new Date(app.convertDate(challenge[0].challenge_end_date)).getTime(); %>
	<% var today = new Date().getTime(); %>
	<div class="chapterPreviousNext" style="margin-top:0;">
		<% if(end_date > today){ %>
		<button class="submitStoryChallenge" style="width:100%; margin-top:10px;" onclick="appRouter.navigate('/challenge/<%=challenge[0].id%>/<%=challenge[0].slug%>/submit', {trigger: true})"><i class="fa fa-pencil"></i> Submit a story to this Challenge!</button>
		<% }else{ %>
		<h3 style="text-align:center;">This story has ended! Thank you for all the submissions.</h3>
		<% } %>
	</div>
	<% _.each(challenge[0].stories, function(story){ %>
	<% if(end_date < today && story.is_winner == 1){ %>
	<div class="challengeWinner" style="margin-top:10px;margin-bottom:10px">
		<div class="commentsHeader">
			<h2>Challenge Winner:</h2> 
		</div>
		<div>
			● <a href="http://www.bloqly.com/story/<%=story.story_id%>/<%=story.slug%>"><%=story.story_name%></a> by <a href="http://www.bloqly.com/profile/<%=story.pen_name%>"><%=story.real_name%></a> with an average rating of <%=story.average_rating%>/5
		</div>
	</div>
	<% } %>
	<% }); %>
	<div class="challengeSubmissions" style="margin-top:10px;margin-bottom:10px">
		<div class="commentsHeader" style="">
			<h3>Submitted Stories <span style="font-size:14px;">(<%=challenge[0].stories.length%>)</span>:</h3>
		</div>
		<% if(challenge[0].stories.length > 0){ %>
			<% _.each(challenge[0].stories, function(story){ %>
				<div class="" style="border:0">
					● <a href="http://www.bloqly.com/story/<%=story.story_id%>/<%=story.slug%>"><%=story.story_name%></a> submitted by <a href="http://www.bloqly.com/profile/<%=story.pen_name%>"><%=story.real_name%></a> submitted on <%=window.app.timeToShort(story.submitted_at)%> <% if(story.average_rating != null){ %>(Current rating: <%=story.average_rating%>/5)<% }else{ %>(Not yet rated)<% } %>
				</div>
			<% }); %>
		<% }else{ %>
			No one has submitted any story to this challenge. To participate, press the button above!
		<% } %>
	</div>
	<div class="chapterComments">
		<div class="commentsHeader">
			Comments:
		</div>
		<div class="commentsContainer">
			<% if(challenge[0].comments.length>0){ %>
			<% _.each(challenge[0].comments, function(reply){ %>
			<div class="replies" id="reply_<%=reply.id%>">
				<div class="clear">
					<div class="imgUsername">
						<span class="img">
							<a href="http://www.bloqly.com/profile/<%=reply.pen_name%>"><img src="<%=reply.avatar%>" width="64" class="avatar"></a>
						</span>
						<span class="username" style>
							<div style="display: inline;vertical-align: top;">
							<a href="http://www.bloqly.com/profile/<%=reply.pen_name%>"><%=reply.real_name%></a> 
							</div>
							<span class="floatRight timeago" time="<%=reply.commented_at%>"><%=window.app.timeago(reply.commented_at)%></span>
						</span>

					</div>
					<div class="content">
						<div class="postContent"><%=reply.comment%></div>
						
					</div>
				</div>
			</div>
			<% }); %>
			<% }else{ %>
				No one has commented on this challenge yet. Be the first to comment or rate this chapter!
			<% } %>
		</div>
		<div class="commentBoxDiv">
			<input type="text" class="challengeComment" style="margin-top:10px;" placeholder="Comment on this chapter..."/><div class="clear"></div><button class="challengeCommentButton"><i class="fa fa-comment"></i> Comment on this Challenge</button>
		</div>
	</div>
</div>