<div class="inboxContainer storyList">
	<div class="storyListHeader">
		<%=messages[0].thread_title%>
	</div>	
	<% var messageNum = 1 %>
	<% _.each(messages, function(message){ %>
	<%console.log(message)%>
	<div class="individualMessage" style="margin-top:10px;margin-bottom:10px;">
		<div id="threadTitle">
			<div style="border-bottom:1px dotted #cccccc;margin-bottom:10px;padding-bottom:10px;">
				From: <a href="http://www.bloqly.com/profile/<%=message.message_by_pen_name%>" style="color:#33163f;"><%=message.message_by_real_name%></a>
				<div class="floatRight" style="vertical-align:top;font-size:12px;">
					<% if(app.timeago(message.message_sent_at) != "Just now!"){ %>
						Sent <%=app.timeago(message.message_sent_at)%> ago
					<% }else{ %>
						Sent just now!
					<% } %>
				</div>
			</div>
			<div class="clear" style="margin-bottom:10px;">
				<%=message.message_body%>
			</div>
		</div>
	</div>
	<% messageNum++; %>
	<% }); %>
	<div class="threadRecipients" style="margin-top:5px;">
		Recipients:<br/>
		<% _.each(messages[0].recipients, function(recipient){ %>
			<a href="http://www.bloqly.com/profile/<%=recipient.pen_name%>" style="margin-right:5px;" class="popup" title="<a href='/profile/<%=recipient.pen_name%>'><%=recipient.real_name%></a>"><img src="<%=recipient.avatar%>" width="32"/></a>
		<% }); %>
	</div>
	<div class="replyMessageDiv" style="margin-top:10px;">
		<textarea name="replyMessage" id="replyMessage" style="height:100px;">Type here to reply...</textarea>
		<div class="clear"><button id="replyMessageButton">Send Reply!</button></div>
		<div clear="clear replyMessageError"></div>
	</div>
</div>