<div class="individualMessage" style="margin-top:10px;padding:10px;">
		<div id="threadTitle">
			<div>
				<span class="floatLeft">
					<a href="http://www.bloqly.com/profile/<%=post.pen_name%>"><img src="<%=post.avatar%>" width="40"></a> <a href="http://www.bloqly.com/profile/<%=post.pen_name%>" style="color:#33163f;vertical-align:top;"><%=post.real_name%></a>
				</span>
				<span class="floatRight" style="text-align:right;">
					<%=app.timeago(post.posted_at)%> ago
				</span>
				<div class="clear"></div>
			</div>
			<div class="messageContent">
				<%=post.post_content%>
			</div>
			<div style="font-size:14px;">
					<a href="http://www.bloqly.com#" class="editReplyOpen" style="color:#33163f;" id="<%=post.post_id%>">Edit</a> | <a href="http://www.bloqly.com#" class="deleteReplyOpen" style="color:#33163f;" id="<%=post.post_id%>">Delete</a>
			</div>
		</div>
	</div>