<% console.log(post)%>
	<div class="singlePost" id="post_<%=id%>" by="<%=storage.get('profile').id%>" to="<%=storage.get('profile').id%>">
		<div class="">
			<span class="img floatLeft" style="margin-right:10px;">
				<a href="http://www.bloqly.com/profile/<%=storage.get('profile').pen_name%>"><img src="<%=storage.get('profile').avatar%>" width="64" class="avatar"></a>
			</span>
			<span class="floatRight timeago" time="<%=new Date()%>"><%=window.app.timeago(new Date().getFullYear() + '-' + parseInt(new Date().getMonth)+1 + '-' + new Date().getDay() + ' ' + new Date().getHours() + ":" + new Date().getMinutes() + ":" + new Date().getSeconds())%></span>
			<span class="username">
				<a href="http://www.bloqly.com/profile/<%=storage.get('profile').pen_name%>" style="color:#000000;"><%=storage.get('profile').real_name%></a> reposted a status from <a href="http://www.bloqly.com/profile/<%=post.by_pen_name%>" style="color:#000000;"><%=post.by_real_name%></a> 
			</span>
			<div style="margin-top:10px;">
				<%=shareText%>
			</div>
		</div>
		<div class="clear" style="margin-bottom:10px;"></div>
		<div class="statusContainer" style="border: 1px solid #cccccc; padding:10px;">
		<div class="imgUsername">
			<span class="img floatLeft" style="margin-right:10px;">
				<% if(post.avatar != null){ 
					var avatar = post.avatar;
				 }else{ 
					var avatar = post.status_by_avatar;
				 } 
				 if(post.status_by_pen_name != null){
					var pen_name = post.status_by_pen_name;
				}else{ 
					var pen_name = post.by_pen_name;
				} %>
				<a href="http://www.bloqly.com/profile/<%=pen_name%>"><img src="<%=avatar%>" width="64" class="avatar"></a>
			</span>
			<span class="floatRight timeago" time="<%=post.status_time%>"><%=window.app.timeago(post.status_time)%></span>
			<span class="username">
				<% if(post.status_by_id != post.status_to_id && post.status_to_id != null){ %>
				<a href="http://www.bloqly.com/profile/<%=post.by_pen_name%>" style="color:#000000;vertical-align:top;"><%=post.by_real_name%></a> <img src="/images/right-arrow.png" class="commentTo"> <a href="http://www.bloqly.com/profile/<%=post.status_to_pen_name%>" style="color:#000000;vertical-align:top;"><%=post.status_to_real_name%></a>
				<% }else{ %>
					<% if(post.type == "status"){ %>
						<a href="http://www.bloqly.com/profile/<%=post.by_pen_name%>" style="color:#000000;"><%=post.by_real_name%></a> 
					<% }else{ %>
						<a href="http://www.bloqly.com/profile/<%=post.status_by_pen_name%>" style="color:#000000;"><%=post.status_by_real_name%></a> 
					<% } %>
				<% if(post.type == "new_story"){ %>
					has published a new story <a href="http://www.bloqly.com/story/<%=post.story_id%>/<%=post.story_slug%>" style="color:#000000;"><%=post.story_name%></a>
				<% }else if(post.type == "new_chapter"){ %>
					has published a new chapter <a href="http://www.bloqly.com/story/<%=post.story_id%>/<%=post.story_slug%>/<%=post.chapter_slug%>" style="color:#000000;"><%=post.chapter_name%></a> under the story <a href="http://www.bloqly.com/story/<%=post.story_id%>/<%=post.story_slug%>" style="color:#000000;"><%=post.story_name%></a>
				<% }else if(post.type == "chapter_comment"){ %>
					has commented on the chapter <a href="http://www.bloqly.com/story/<%=post.story_id%>/<%=post.story_slug%>/<%=post.chapter_slug%>" style="color:#000000;"><%=post.chapter_name%></a> under the story <a href="http://www.bloqly.com/story/<%=post.story_id%>/<%=post.story_slug%>" style="color:#000000;"><%=post.story_name%></a>
				<% }else if(post.type == "challenge_submission"){ %>
					has submitted a story <a href="http://www.bloqly.com/story/<%=post.story_id%>/<%=post.story_slug%>" style="color:#000000;"><%=post.story_name%></a> to the Challenge <a href="http://www.bloqly.com/challenge/<%=post.challenge_id%>/<%=post.challenge_slug%>" style="color:#000000;"><%=post.challenge_name%></a>
				<% }else if(post.type == "challenge_comment"){ %>
					has commented on a Challenge <a href="http://www.bloqly.com/challenge/<%=post.challenge_id%>/<%=post.challenge_slug%>" style="color:#000000;"><%=post.challenge_name%></a>
				<% } %>
				<% } %>
			</span>
			<div class="clear"></div>
		</div>
		<div class="contentShare">
			<% if(post.type == "status"){ %>
				<div class="postContent"><%=post.status%></div>
			<% }else{ %>
				<% if(post.status_text.length < 200){ %>
					<div class="postContent">"<%=post.status_text%>"</div>
				<% }else{ %>
					<div class="postContent">"<%=post.status_text%>..."</div>
				<% } %>
			<% } %>
		</div>
		</div>
		<% if(post.type == "status"){ %>
			<div class="fontSize14 clear functionButtons"><% if(_.indexOf(_.pluck(post.likes,'liked_by_id'), window.storage.get('profile').id) == -1){ %><a href="http://www.bloqly.com#" class="likeStatusButton" id="likeStatusButton_<%=id%>">Like</a><% }else{ %><a href="http://www.bloqly.com#" class="unlikeStatusButton" id="unlikeStatusButton_<%=id%>">Unlike</a><% } %> | <a href="http://www.bloqly.com#" class="replyButton" id="replyButton_<%=id%>">Reply</a> | <a href="http://www.bloqly.com#" class="shareButton" id="share_<%=id%>">Repost</a> <%if(window.storage.get('profile').id == post.status_by_id || window.storage.get('profile').id == post.status_to_id) { %>| <a href="http://www.bloqly.com#" class="deleteStatusButton" id="deleteStatusButton_<%=id%>">Delete</a><% } %></div><% } %> 
			<% if(post.type == "status"){ %>
			<div class="fontSize14 clear replyArea" id="replyArea_<%=id%>"><input type="text" id="replyAreaInput_<%=id%>" name="replyAreaInput_<%=id%>" class="replyAreaInput"></input><button class="submitReplyButton" id="submitReplyButton_<%=id%>" name="submitReplyButton_<%=id%>"><i class="fa fa-reply"></i> SEND REPLY</button></div>
			<% } %>
	</div>