<div class="modalBox" style="height:405px;">
	<div id="closeModal">
		<span><i class="fa fa-times-circle"></i><span>
	</div>
	<h3 style="text-align:center;">Report Author</h3>
	<div>
	Message:
	<textarea class="reportUserMessage" id="reportUserMessage"></textarea>
	<button class="reportUserSubmit">Send Report<button>
	</div>
</div>