<div class="storyList" style="padding:10px;">
<div class="stories">
<div class="storyListHeader">
	SEARCH RESULTS
</div>	
<% var k = 0; %>
<% if(results.length > 0){ %>
<% _.each(results, function(result){ %>
<% k++; %>
<% if(k%2 == 1 && results.length > 1){ %>
<div class="storiesContainer">
<% } %>	
<% if(result.type === "user"){ %>
<div class="individualStory" style="margin-top:10px;min-height:110px;display:block;">
	<div style="padding:10px;">
		<a href="http://www.bloqly.com/profile/<%=result.pen_name%>"><img src="<%=result.avatar%>" style="float:left;margin-right:5px;width:100%"></img></a>
	</div>
	<span style="vertical-align:top;">
		<span style="vertical-align:top;">
			<a href="http://www.bloqly.com/profile/<%=result.pen_name%>" style="vertical-align:top;font-size:20px;"><%=result.real_name%></a> ● Author
			<% if(result.avg_rating != null){ %>
			<div style="margin-left:5px;vertical-align:top;margin-top">
				<i class="fa fa-star"></i> <%=Math.round(result.avg_rating*10)/10%>/5 <span style="font-size:12px;">(<%=result.num_ratings_for_author%>)</span>
				<% if(result.num_favourites > 0){ %>
					<i class="fa fa-heart" style="vertical-align:top;margin-top:3px;"></i> <%=result.num_favourites%>
				<% } %>
			</div>
			<% } %>
			<span style="font-size:12px;">
				Joined <%=window.app.timeago(result.registration_date)%> ago
			</span>
		</span>
	</span>
</div>
<% }else if(result.type == "story"){ %>
<% var authorList = _.uniq(_.map(result.chapters, function(thisChapter){
	return JSON.stringify({'written_by': thisChapter.written_by, "pen_name": thisChapter.pen_name, "real_name": thisChapter.real_name});
})); %>
<div class="individualStory">
				<div class="individualStoryHeader">
					<div style="padding:10px;">
					<a href="http://www.bloqly.com/story/<%=result.story_id%>/<%=result.story_slug%>"><img src="<%=result.album%>" style="width:100%;"/></a> 
					</div>
					<name>
						<a href="http://www.bloqly.com/story/<%=result.story_id%>/<%=result.story_slug%>" class="storyName"><%=result.story_name%></a> ● Story
						<by>
						by 
						<% var i = 1; numAuthors = authorList.length; %>
						<% _.each(authorList, function(thisAuthor){ %>
						<% var thisAuthor = JSON.parse(thisAuthor); %>
						<% if(i == 1 && i < numAuthors && numAuthors > 2){ %>
							<a href="http://www.bloqly.com/profile/<%=thisAuthor.pen_name%>"><%=thisAuthor.real_name%></a>, 
						<% }else if((i == 1 && numAuthors == 1) || (i == 1 && numAuthors == 2)){ %>
							<a href="http://www.bloqly.com/profile/<%=thisAuthor.pen_name%>"><%=thisAuthor.real_name%></a> 
						<% }else if(i == numAuthors){ %>
							and <a href="http://www.bloqly.com/profile/<%=thisAuthor.pen_name%>"><%=thisAuthor.real_name%></a> 
						<% } %>
						<% i++; %>
						<% }); %>
						</by>
					</name>
					<div class="clear"></div>
					<at>
						published on <%=window.app.timeToShort(result.story_date)%> 
					</at>
					<tags>
						<i class="fa fa-book"></i> <a href="http://www.bloqly.com/story/<%=result.pen_name%>/<%=result.story_id%>/<%=result.story_slug%>" style="background:none;color:#000000;font-size:14px;padding-left:2px;padding-right:2px;"><%=result.chapters.length%></a> 
						<!--categories-->
						<% if(result.categories.length > 0){ %>
						<i class="fa fa-folder-o" style="position:relative;top:2px;" title="Categories"></i> 
						<% _.each(result.categories, function(category){ %>
						<a href="http://www.bloqly.com/search/category/<%=category.slug%>"><%=category.category%></a>
						<% }); %>
						<% } %>
						<!--tags-->
						<% if(result.tags.length > 0){ %>
						<i class="fa fa-tags" title="Tags"></i> <% _.each(result.tags, function(tag){ %>
						<a href="http://www.bloqly.com/search/tag/<%=tag.slug%>"><%=tag.tag%></a>
						<% }); %>	
						<% } %>
						<% var numComments = 0, rating = 0, i = 0, y = 0, numRead = 0, favourite_count = 0;
						_.each(result.chapters, function(chapter){
							numRead = numRead + chapter.read_history.length;
							if(typeof chapter.favourites.favourite_count != "undefined" && chapter.favourites.favourite_count != null){
								favourite_count = favourite_count + parseInt(chapter.favourites.favourite_count);
							}
							_.each(chapter.comments, function(comment){
								if(comment.rating != null){
									rating = rating + parseFloat(comment.rating);
									i++;
								}
								numComments++;
								y++;	
							});
						}); console.log(rating + " " + i); numComments = numComments + result.comments.length; rating = rating/i%>
						<i class="fa fa-eye"></i> <%=numRead%>
						<i class="fa fa-comment-o"></i> <%=numComments%>
						<% if(i != 0 && i != null){ %>
							<i class="fa fa-star"></i> <%=Math.round(rating*10)/10%>/5
						<% } %>
						<% if(i>0){ %>
							<span style="font-size:12px;">(<%=i%>)</span>
						<% }else{ %>
							<i class="fa fa-star"></i> <span style="font-size:12px;">N/A</span>
						<% } %>
						<i class="fa fa-heart"></i> <%=favourite_count%>
					</tags>
				</div>
				<p class="individualStoryDescription clear">
					<%=result.story_description%>
				</p>
			</div>
<% }else if(result.type == "chapter"){ %>
			<div class="individualStory">
				<div class="individualStoryHeader">
					<div style="padding:10px;">
					<a href="http://www.bloqly.com/story/<%=result.story_id%>/<%=result.story_slug%>/<%=result.chapter_slug%>" ><img src="<%=result.album%>" style="width:100%"/></a>
					</div>
					<name>
						<a href="http://www.bloqly.com/story/<%=result.story_id%>/<%=result.story_slug%>/<%=result.chapter_slug%>" class="storyName"><%=result.chapter_name%></a> in <a href="http://www.bloqly.com/story/<%=result.story_id%>/<%=result.story_slug%>"><%=result.story_name%></a> ● Chapter
						<by>
						by <a href="http://www.bloqly.com/profile/<%=result.pen_name%>"><%=result.real_name%></a>
						</by>
					</name>
					<div class="clear"></div>
					<at>
						published on <%=window.app.timeToShort(result.chapter_date)%> 
					</at>
					<tags>
						<i class="fa fa-comment-o"></i> <%=result.comments.length%>
						<% var numComments = 0, rating = 0, j = result.rating_count, y = 0; ratings = result.average_rating;%>
						<% if(ratings > 0){ %>
							<i class="fa fa-star"></i> <%=Math.round(ratings*10)/10%>/5
						<% } %>
						<% if(j <= 0){ %>
							<i class="fa fa-star"></i> <span style="font-size:12px;">N/A</span>
						<% }else{ %>
							<span style="font-size:12px;">(<%=j%>)</span>
						<% } %>
						<i class="fa fa-heart"></i> <%=result.favourites%>
					</tags>
				</div>
				<p class="individualStoryDescription clear">
					<%=result.story_description%>
				</p>
			</div>
<% } %>
<% if(k%2 == 0 && results.length > 1){ %>
</div>
<% } %>	
<% }); %>
	<div class="page">Page:
	
	</div>
<% }else{ %>
	<div style="margin-top:10px;margin-bottom:10px;">
	We couldn't find anything. :(
	</div>
<% } %>
</div>
</div>