<div class="storyList" style="padding:10px;">
<div class="stories">
<div class="storyListHeader circleHeader">
	SEARCH RESULTS
</div>	
<% var j = 0; %>
<% _.each(results, function(circle){ %>
<% if(page == circle.page){ %>
<% j++; %>
<% if(j%2 == 1 && circle.length > 2){ %>
<div class="storiesContainer">
<% } %>	
<div class="individualStory" style="margin-top:10px;min-height:110px;display:block;">
	<div style="padding:5px;">
		<a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>"><img src="<%=circle.group_cover%>" width="100" style="float:left;width:100%;"></a>
	</div>
	<span style="vertical-align:top;">
		<span style="vertical-align:top;">
			<div>
			<a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>" style="vertical-align:top;font-size:20px;"><%=circle.group_name%></a>
			</div>
			<div style="padding-right:10px;">
				<%=circle.group_description%>
			</div>
			<div style="font-size:14px;">
				<% if(circle.topic_count > 0){ %>
					Last post by <a href="http://www.bloqly.com/profile/<%=circle.pen_name%>"><%=circle.real_name%></a> in <a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>/topic/<%=circle.topic_slug%>"><%=circle.topic_name%></a>
				<% }else{ %>
					Created <%=window.app.timeago(circle.group_started)%> ago
				<% } %>
			</div>
			<div style="font-size:14px;">
				<a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>/members"><i class="fa fa-user"></i> <a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>"><%=circle.count_users%></a> <a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>"><i class="fa fa-comment-o"></i> <%=circle.topic_count%></a>
			</div>
		</span>
	</span>
</div>
<% if(j%2 == 0 && circle.length > 2){ %>
</div>
<% } %>	
<% } %>	
<% }); %>
<% if(typeof results != "undefined" && results.length > 0){ %>
<% var numPages = Math.ceil(results.length/10); %>
	<div class="clear">Page:
	<% for(var i = 1; i <= numPages; i++){ %>
		<% if(page != i){ %>
		<a href="http://www.bloqly.com/circle/browse/<%=term%>/<%=i%>" style="color:#33163f;">[<%=i%>]</a> 
		<% }else{ %>
		<a href="http://www.bloqly.com/circle/browse/<%=term%>/<%=i%>" style="color:#33163f;">[<%=i%>]</a> 
		<% } %>
	<% } %>
	</div>
<% }else{ %>
	<div class="clear" style="margin-top:10px;">
		Sorry, no group has been found for your search term :(
	</div>
<% } %>
</div>
</div>