<div class="storyList" style="padding:10px;">
<div class="stories">
<% console.log(page)%>
<% if(chapters[0].type == "POPULAR"){ %>
<select type="text" id="period" name="period" style="font-size:18px;">
	<% if(period == "allTime"){ %>
	<option value="7days">
		Last 7 days
	</option>
	<option value="allTime" selected>
		All Time
	</option>
	<% }else{ %>
	<option value="7days" selected>
		Last 7 days
	</option>
	<option value="allTime">
		All Time
	</option>
	<% } %>
</select>
<% } %>
<div class="storyListHeader">
	<%= chapters[0].type %> CHAPTERS
</div>	
<% if(chapters[0].type === "POPULAR"){ %>
<% chapters = _(chapters).chain().sortBy("favourites").reverse().sortBy("average_rating").value(); %>
<% } %>
<% var numberOfPublishedChapters = 0; %>
	<% _.each(chapters, function(chapter){ %>
		<% if(chapter.status == 1){ %>
		<% numberOfPublishedChapters++; %>
		<% if(numberOfPublishedChapters%2 == 1 && chapters.length > 2){ %>
			<div class="storiesContainer">
			<% } %>	
			<div class="individualStory">
				<div class="individualStoryHeader">
					<div>
					<a href="http://www.bloqly.com/story/<%=chapter.story_id%>/<%=chapter.story_slug%>/<%=chapter.slug%>"><img src="<%=chapter.album%>" style="width:100%"/></a> 
					</div>
					<name>
						<a href="http://www.bloqly.com/story/<%=chapter.story_id%>/<%=chapter.story_slug%>/<%=chapter.slug%>" class="storyName"><%=chapter.chapter_name%></a> in <a href="http://www.bloqly.com/story/<%=chapter.story_id%>/<%=chapter.story_slug%>"><%=chapter.story_name%></a> 
						<by class="clear">
						by <a href="http://www.bloqly.com/profile/<%=chapter.pen_name%>"><%=chapter.real_name%></a>
						</by>
					</name>
					<div class="clear"></div>
					<at>
						published on <%=window.app.timeToShort(chapter.written_at)%> 
					</at>
					<tags>
						<i class="fa fa-comment-o"></i> <%=chapter.comments.length%>
						<% var numComments = 0, rating = 0, j = chapter.rating_count, y = 0; ratings = chapter.average_rating;%>
						<% if(ratings > 0){ %>
							<i class="fa fa-star"></i> <%=Math.round(ratings*10)/10%>/5
						<% } %>
						<% if(j <= 0){ %>
							<i class="fa fa-star"></i> <span style="font-size:12px;">N/A</span>
						<% }else{ %>
							<span style="font-size:12px;">(<%=j%>)</span>
						<% } %>
						<i class="fa fa-heart"></i> <%=chapter.favourites%>
					</tags>
				</div>
				<p class="individualStoryDescription clear">
					<%=chapter.story_description%>
				</p>
			</div>

	<% } %>
	<% if(numberOfPublishedChapters%2 == 0 && chapters.length > 2){ %>
	</div>
	<% } %>	
	<% }); %>
	<% if(numberOfPublishedChapters == 0){ %>
	<div>This user has not published any chapters. If you would like to encourage him to write, invite him to take one of Bloqly's challenges!</div>
	<% } %>
	<div class="page">Page:

	</div>
</div>
