<div class="storyList" style="padding:10px;">
<div class="stories">
<div class="storyListHeader">
	<%= authors[0].search_type %> AUTHORS
</div>	
<% if(authors[0].search_type === "POPULAR"){ %>
<% authors = _(authors).chain().sortBy("avg_rating").sortBy("num_favourites").reverse().value(); %>
<% } %>
<% var j = 0; %>
<% _.each(authors, function(author){ %>
<% j++; %>
<% if(j%2 == 1 && authors.length > 2){ %>
<div class="storiesContainer">
<% } %>	
<% if(authors[0].search_type !== "POPULAR"){ %>
<div class="individualStory" style="margin-top:10px;min-height:110px;display:block;">
	<div style="padding:5px;">
		<a href="http://www.bloqly.com/profile/<%=author.pen_name%>"><img src="<%=author.avatar%>" width="100" style="float:left;width:100%;"></a>
	</div>
	<span style="vertical-align:top;">
		<span style="vertical-align:top;">
			<div>
			<a href="http://www.bloqly.com/profile/<%=author.pen_name%>" style="vertical-align:top;font-size:20px;"><%=author.real_name%></a>
			</div>
			<% if(author.avg_rating != null){ %>
			<div style="margin-left:5px;vertical-align:top;margin-top">
				<i class="fa fa-star"></i> <%=Math.round(author.avg_rating*10)/10%>/5 <span style="font-size:12px;">(<%=author.num_ratings_for_author%>)</span>
				<% if(author.num_favourites > 0){ %>
					<i class="fa fa-heart" style="vertical-align:top;margin-top:3px;"></i> <%=author.num_favourites%>
				<% } %>
			</div>
			<% } %>
			<div style="font-size:12px;">
				Joined <%=window.app.timeago(author.registration_date)%> ago
			</div>
		</span>
	</span>
</div>
<% }else{ %>
<div class="individualStory" style="margin-top:10px;min-height:110px;display:block;">
	<div style="padding:10px;">
		<a href="http://www.bloqly.com/profile/<%=author.pen_name%>"><img src="<%=author.avatar%>" style="float:left;margin-right:5px;width:100%;"></img></a>
	</div>
	<span style="vertical-align:top;">
		<span style="vertical-align:top;">
			<div>
			<a href="http://www.bloqly.com/profile/<%=author.pen_name%>" style="vertical-align:top;font-size:20px;"><%=author.real_name%></a>
			</div>
			<% if(author.avg_rating != null){ %>
			<div style="margin-left:5px;vertical-align:top;margin-top">
				<i class="fa fa-star"></i> <%=Math.round(author.avg_rating*10)/10%>/5 <span style="font-size:12px;">(<%=author.num_ratings_for_author%>)</span> 
				<% if(author.num_favourites > 0){ %>
					<i class="fa fa-heart" style="vertical-align:top;margin-top:3px;"></i> <%=author.num_favourites%>
				<% } %>
			</div>
			<% } %>
			<div style="font-size:12px;">
				Joined <%=window.app.timeago(author.registration_date)%> ago
			</div>
		</span>
	</span>
</div>
<% } %>
<% if(j%2 == 0 && authors.length > 2){ %>
</div>
<% } %>	
<% }); %>
	<div class="page">Page:
	</div>
</div>
</div>