<div class="storyList" style="padding:10px;">
	<div class="stories">
	<div class="storyListHeader">
		MY <%=type.toUpperCase()%>
	</div>	
	<% var numberOfStories = 0; %>
		<% _.each(results, function(story){ %>
		<% numberOfStories++; %>
			<% if(numberOfStories%2 == 1 && results.length > 2){ %>
			<div class="storiesContainer">
			<% } %>	
			<div class="individualStory">
				<div class="individualStoryHeader">
					<div style="padding:10px;">
						<a href="http://www.bloqly.com/story/<%=story.story_id%>/<%=story.story_slug%>/<%=story.chapter_slug%>"><img src="<%=story.story_album%>" style="width:100%"/></a> 
					</div>
					<name>
						<a href="http://www.bloqly.com/story/<%=story.story_id%>/<%=story.story_slug%>/<%=story.chapter_slug%>" style="font-size:20px;"><%=story.chapter_name%></a> in <a href="http://www.bloqly.com/story/<%=story.story_id%>/<%=story.story_slug%>"><%=story.story_name%></a>
						<by class="clear">
						by <a href="http://www.bloqly.com/profile/<%=story.chapter_written_pen_name%>"><%=story.chapter_written_real_name%></a>
						</by>
					</name>
				</div>
			</div>
		<% if(numberOfStories%2 == 0 && results.length > 2){ %>
			</div>
		<% } %>	
		<% }); %>
	<% if(results.length == 0){ %>
	<div>Sorry, you have no <%=type%></div>
	<% } %>
	</div>
	</div>
</div>