<div class="storyList" style="padding:10px;">
	<div class="stories">
	<div>
	<% if(stories[0].search_type == "POPULAR"){ %>
	<select type="text" id="period" name="period" style="font-size:18px;">
		<% if(period == "allTime"){ %>
		<option value="7days">
			Last 7 days
		</option>
		<option value="allTime" selected>
			All Time
		</option>
		<% }else{ %>
		<option value="7days" selected>
			Last 7 days
		</option>
		<option value="allTime">
			All Time
		</option>
		<% } %>
	</select>
	<% } %>
	<select type="text" id="category" name="category" style="font-size:18px;">
				<option value="">Filter by Category</option>
		<% _.each(categories, function(category){ %>
			<% if(category.id == chosenCategory){ %>
				<option value='<%=category.id%>' selected><%=category.category%></option>
			<% }else{ %>
				<option value='<%=category.id%>'><%=category.category%></option>
			<% } %>
		<% }); %>
	</select>
	</div>
	<div class="storyListHeader">
		<%= stories[0].search_type %> STORIES
	</div>	
	<% if(stories[0].search_type == "POPULAR"){ %>
	<% stories = _(stories).chain().sortBy("read_count").reverse().value(); %>
	<% } %>
	<% var numberOfPublishedStories = 0; %>
	<% _.each(stories, function(story){ %>
		<% var authorList = _.uniq(_.map(story.chapters, function(thisChapter){
			return JSON.stringify({'written_by': thisChapter.written_by, "pen_name": thisChapter.pen_name, "real_name": thisChapter.real_name});
		}));
	%>
		<% if((story.is_public == 0 && story.written_by == window.storage.get('profile').id) || story.is_public == 1){ %>
		<% numberOfPublishedStories++; %>
			<% if(numberOfPublishedStories%2 == 1 && stories.length > 2){ %>
			<div class="storiesContainer">
			<% } %>	
			<div class="individualStory">
				<div class="individualStoryHeader">
					<div style="padding:10px;">
						<a href="http://www.bloqly.com/story/<%=story.id%>/<%=story.slug%>"><img src="<%=story.album%>" style="width:100%"/></a> 
					</div>
					<name>
						<a href="http://www.bloqly.com/story/<%=story.id%>/<%=story.slug%>" class="storyName"><%=story.story_name%></a> 
						<by class="clear">
						by 
						<% var i = 1; numAuthors = authorList.length; %>
						<% _.each(authorList, function(thisAuthor){ %>
						<% var thisAuthor = JSON.parse(thisAuthor); %>
						<% if(i == 1 && i < numAuthors && numAuthors > 2){ %>
							<a href="http://www.bloqly.com/profile/<%=thisAuthor.pen_name%>"><%=thisAuthor.real_name%></a>, 
						<% }else if((i == 1 && numAuthors == 1) || (i == 1 && numAuthors == 2)){ %>
							<a href="http://www.bloqly.com/profile/<%=thisAuthor.pen_name%>"><%=thisAuthor.real_name%></a> 
						<% }else if(i == numAuthors){ %>
							and <a href="http://www.bloqly.com/profile/<%=thisAuthor.pen_name%>"><%=thisAuthor.real_name%></a> 
						<% } %>
						<% i++; %>
						<% }); %>
						</by>
					</name>
					<div class="clear"></div>
					<at>
						published on <%=window.app.timeToShort(story.created_at)%> 
					</at>
					<tags>
						<i class="fa fa-book"></i> <a href="http://www.bloqly.com/story/<%=story.id%>/<%=story.slug%>" style="background:none;color:#000000;font-size:14px;padding-left:2px;padding-right:2px;"><%=story.chapters.length%></a> 
						<!--categories-->
						<% if(story.categories.length > 0){ %>
						<i class="fa fa-folder-o" style="position:relative;top:2px;" title="Categories"></i> 
						<% _.each(story.categories, function(category){ %>
						<a href="http://www.bloqly.com/search/category/<%=category.slug%>"><%=category.category%></a>
						<% }); %>
						<% } %>
						<!--tags-->
						<% if(story.tags.length > 0){ %>
						<i class="fa fa-tags" title="Tags"></i> <% _.each(story.tags, function(tag){ %>
						<a href="http://www.bloqly.com/search/tag/<%=tag.slug%>"><%=tag.tag%></a>
						<% }); %>	
						<% } %>
						<% var numComments = 0, rating = 0, i = 0, y = 0, numRead = 0, favourite_count = 0;
						_.each(story.chapters, function(chapter){
							numRead = numRead + chapter.read_history.length;
							if(typeof chapter.favourites.favourite_count != "undefined" && chapter.favourites.favourite_count != null){
								favourite_count = favourite_count + parseInt(chapter.favourites.favourite_count);
							}
							_.each(chapter.comments, function(comment){
								if(comment.rating != null){
									rating = rating + parseFloat(comment.rating);
									i++;
								}
								numComments++;
								y++;	
							});
						}); console.log(rating + " " + i); numComments = numComments + story.comments.length; rating = rating/i%>
						<i class="fa fa-eye"></i> <%=numRead%>
						<i class="fa fa-comment-o"></i> <%=numComments%>
						<% if(i != 0 && i != null){ %>
							<i class="fa fa-star"></i> <%=Math.round(rating*10)/10%>/5
						<% } %>
						<% if(i>0){ %>
							<span style="font-size:12px;">(<%=i%>)</span>
						<% }else{ %>
							<i class="fa fa-star"></i> <span style="font-size:12px;">N/A</span>
						<% } %>
						<i class="fa fa-heart"></i> <%=favourite_count%>
					</tags>
				</div>
				<p class="individualStoryDescription clear">
					<%=story.story_description%>
				</p>
			</div>
		<% } %>

		<% if(numberOfPublishedStories%2 == 0 && stories.length > 2){ %>
		</div>
		<% } %>	
	<% }); %>
	<% if(numberOfPublishedStories == 0){ %>
	<div>Sorry, no stories have been found matching your search terms! :(</div>
	<% } %>
	</div>
	<div>
	<div class="page">Page:

	</div>
</div>