<div class="inboxContainer storyList">
	<div class="storyListHeader">
		ALL TAGS
	</div>
	<div>
	<% _.each(results, function(result){ %>
		<% var pixels = 11 + (result.tag_percentage*4); %>
		<a href="http://www.bloqly.com/search/tag/<%=result.slug%>/1" class="searchTags" style="font-size:<%=pixels%>px;margin-top:5px;margin-bottom:5px;display:inline-block;"><%=result.tag%></a>
	<% }); %>
	</div>
</div>