<div class="replies">
	<div class="fontSize14 clear">
		<div class="imgUsername">
			<span class="img">
				<a href="http://www.bloqly.com"><img src="<%=window.storage.get('profile').avatar%>" width="64" class="avatar"></a>
			</span>
			<span class="username">
				<a href="http://www.bloqly.com/profile/<%=window.storage.get('profile').pen_name%>"><%=window.storage.get('profile').real_name%></a>
				<span class="floatRight timeago"><%=window.app.timeago(Date())%></span>
			</span>
		</div>
		<div class="content">
			<div class="postContent"><%=reply%></div>
			<div class="fontSize14 clear functionButtons"><a href="http://www.bloqly.com#" class="likeReplyButton" id="likeReplyButton_3">Like</a> <a href="http://www.bloqly.com#" class="replyButton" id="replyButton_6">Reply</a> </div>
		</div>
	</div>
</div>