<div class="modalBox sendMessageModal" style="height:340px;max-height:400px;">
<div style="text-align:center;width:100%;font-size:18px;" class="clear">SEND MESSAGE</div>
<div class="clear" style="font-size:18px;">To: <%=real_name%></div>
Message Title:
<input type="text" id="messageTitle" name="messageTitle"/>
<div class="clear"></div>
Message:
<textarea type="text" id="message" name="message" style="height:150px!important;"></textarea>
<div class="clear"></div>
<button class="sendMessageConfirm">Send Message</button>
<div class="clear sendMessageModalError" style="margin-top:5px;"></div>
</div>