<span class="modalBox" style="background:#ffffff;color:#000000;height:135px;">
	<div id="closeModal">
		<span><i class="fa fa-times-circle"></i><span>
	</div>
	<div class="center">
	SHARE CHAPTER
	</div>
	<div>
		URL:
		<input type="text" value="<%=document.URL%>" id="shareURL"/>
	</div>
	<div class="center">
		SHARE ON:
	</div>
	<div class="social center">
		<a href="http://www.bloqly.comhttps://www.facebook.com/sharer/sharer.php?u=<%=document.URL%>&t=Bloqly"><i class="facebook fa fa-facebook-square"></i></a> <a href="http://www.bloqly.comhttps://twitter.com/intent/tweet?url=<%=document.URL%>&original_referer=https%3A%2F%2Fbloqly.com%2F&related=Bloqly&via=Bloqly"><i class="twitter fa fa-twitter-square"></i></a> <a href="http://www.bloqly.comhttps://plus.google.com/share?url=<%=document.URL%>"><i class="google fa fa-google-plus-square"></i></a> <a href="http://www.bloqly.comhttp://www.tumblr.com/share/link?url=<%=document.URL%>"><i class="tumblr fa fa-tumblr-square"></i></a> <a href="http://www.bloqly.comhttp://reddit.com/submit?url=<%=document.URL%>"><i class="reddit fa fa-reddit-square"></i></a>
	</div>
</span>