<% if(typeof post.shared_status != "undefined"){ post = post.shared_status[0]; } %>
<div class="modalBox" style="background:#ffffff;color:#000000;">
	<div id="closeModal">
		<span><i class="fa fa-times-circle"></i><span>
	</div>
	<div class="singlePost" id="post_<%=post.id%>" by="<%=post.status_by_id%>" to="<%=post.status_to_id%>">
		<div class="statusContainer">
		<div class="imgUsername">
			<span class="img floatLeft" style="margin-right:10px;">
				<% if(post.avatar != null){ 
					var avatar = post.avatar;
				 }else{ 
					var avatar = post.status_by_avatar;
				 } 
				 if(post.status_by_pen_name != null){
					var pen_name = post.status_by_pen_name;
				}else{ 
					var pen_name = post.by_pen_name;
				} %>
				<a href="http://www.bloqly.com/profile/<%=pen_name%>"><img src="<%=avatar%>" width="64" class="avatar"></a>
			</span>
			<span class="floatRight timeago" time="<%=post.status_time%>"><%=window.app.timeago(post.status_time)%></span>
			<span class="username">
				<% if(post.status_by_id != post.status_to_id && post.status_to_id != null){ %>
				<a href="http://www.bloqly.com/profile/<%=post.by_pen_name%>" style="color:#000000;vertical-align:top;"><%=post.by_real_name%></a> <img src="/images/right-arrow.png" class="commentTo"> <a href="http://www.bloqly.com/profile/<%=post.status_to_pen_name%>" style="color:#000000;vertical-align:top;"><%=post.status_to_real_name%></a>
				<% }else{ %>
					<% if(post.type == "status"){ %>
						<a href="http://www.bloqly.com/profile/<%=post.by_pen_name%>" style="color:#000000;"><%=post.by_real_name%></a> 
					<% }else{ %>
						<a href="http://www.bloqly.com/profile/<%=post.status_by_pen_name%>" style="color:#000000;"><%=post.status_by_real_name%></a> 
					<% } %>
				<% if(post.type == "new_story"){ %>
					has published a new story <a href="http://www.bloqly.com/story/<%=post.story_id%>/<%=post.story_slug%>" style="color:#000000;"><%=post.story_name%></a>
				<% }else if(post.type == "new_chapter"){ %>
					has published a new chapter <a href="http://www.bloqly.com/story/<%=post.story_id%>/<%=post.story_slug%>/<%=post.chapter_slug%>" style="color:#000000;"><%=post.chapter_name%></a> under the story <a href="http://www.bloqly.com/story/<%=post.story_id%>/<%=post.story_slug%>" style="color:#000000;"><%=post.story_name%></a>
				<% }else if(post.type == "chapter_comment"){ %>
					has commented on the chapter <a href="http://www.bloqly.com/story/<%=post.story_id%>/<%=post.story_slug%>/<%=post.chapter_slug%>" style="color:#000000;"><%=post.chapter_name%></a> under the story <a href="http://www.bloqly.com/story/<%=post.story_id%>/<%=post.story_slug%>" style="color:#000000;"><%=post.story_name%></a>
				<% }else if(post.type == "challenge_submission"){ %>
					has submitted a story <a href="http://www.bloqly.com/story/<%=post.story_id%>/<%=post.story_slug%>" style="color:#000000;"><%=post.story_name%></a> to the Challenge <a href="http://www.bloqly.com/challenge/<%=post.challenge_id%>/<%=post.challenge_slug%>" style="color:#000000;"><%=post.challenge_name%></a>
				<% }else if(post.type == "challenge_comment"){ %>
					has commented on a Challenge <a href="http://www.bloqly.com/challenge/<%=post.challenge_id%>/<%=post.challenge_slug%>" style="color:#000000;"><%=post.challenge_name%></a>
				<% } %>
				<% } %>
			</span>

		</div>
		<div class="content">
			<% if(post.type == "status"){ %>
				<div class="postContent"><%=post.status%></div>
			<% }else{ %>
				<% if(post.status_text.length < 200){ %>
					<div class="postContent">"<%=post.status_text%>"</div>
				<% }else{ %>
					<div class="postContent">"<%=post.status_text%>..."</div>
				<% } %>
			<% } %>
		</div>
		</div>
		<div class="clear" style="text-align:right;">
		<input type="text" name="repostText" id="repostText" placeholder="Add a comment with this repost?" style="margin-bottom:0px;"/>
		<button class="repostConfirm" style="padding:5px;">Repost</button>
		</div>
	</div>
</div>