<div class="storyList" style="padding:10px;">
<div class="stories">
<div class="storyListHeader">
	THIS AUTHOR'S STORIES
</div>	
<% var k = 0; %>
<% if(results.length > 0){ %>
<% _.each(results, function(result){ %>
<% k++; %>
<% if(k%2 == 1 && results.length > 1){ %>
<div class="storiesContainer">
<% } %>	
<div class="individualStory">
				<div class="individualStoryHeader">
					<div style="padding:10px;">
					<a href="http://www.bloqly.com/story/<%=result.id%>/<%=result.slug%>"><img src="<%=result.album%>" style="width:100%;"/></a> 
					</div>
					<name>
						<a href="http://www.bloqly.com/story/<%=result.id%>/<%=result.slug%>" class="storyName"><%=result.story_name%></a>
						<by>
						by 
						<% var i = 1; numAuthors = result.authors.length; %>
						<% _.each(result.authors, function(thisAuthor){ %>
						<% if(i == 1 && i < numAuthors && numAuthors > 2){ %>
							<a href="http://www.bloqly.com/profile/<%=thisAuthor.pen_name%>"><%=thisAuthor.real_name%></a>, 
						<% }else if((i == 1 && numAuthors == 1) || (i == 1 && numAuthors == 2)){ %>
							<a href="http://www.bloqly.com/profile/<%=thisAuthor.pen_name%>"><%=thisAuthor.real_name%></a> 
						<% }else if(i == numAuthors){ %>
							and <a href="http://www.bloqly.com/profile/<%=thisAuthor.pen_name%>"><%=thisAuthor.real_name%></a> 
						<% } %>
						<% i++; %>
						<% }); %>
						</by>
					</name>
					<div class="clear"></div>
					<at>
						published on <%=window.app.timeToShort(result.created_at)%> 
					</at>
					<tags>
						<i class="fa fa-book"></i> <a href="http://www.bloqly.com/story/<%=result.pen_name%>/<%=result.story_id%>/<%=result.story_slug%>" style="background:none;color:#000000;font-size:14px;padding-left:2px;padding-right:2px;"><%=result.number_of_chapters%></a> 
						<!--categories-->
						<% if(result.categories.length > 0){ %>
						<i class="fa fa-folder-o" style="position:relative;top:2px;" title="Categories"></i> 
						<% _.each(result.categories, function(category){ %>
						<a href="http://www.bloqly.com/search/category/<%=category.slug%>"><%=category.category%></a>
						<% }); %>
						<% } %>
						<!--tags-->
						<% if(result.tags.length > 0){ %>
						<i class="fa fa-tags" title="Tags"></i> <% _.each(result.tags, function(tag){ %>
						<a href="http://www.bloqly.com/search/tag/<%=tag.slug%>"><%=tag.tag%></a>
						<% }); %>	
						<% } %>
						<i class="fa fa-eye"></i> <%=result.read_history.length%>
						<i class="fa fa-comment-o"></i> <%=result.number_of_comments%>
						<% if(result.number_of_ratings != 0 && result.number_of_ratings != null){ %>
							<i class="fa fa-star"></i> <%=Math.round(result.average_rating*10)/10%>/5
						<% } %>
						<% if(result.number_of_ratings>0){ %>
							<span style="font-size:12px;">(<%=result.number_of_ratings%>)</span>
						<% }else{ %>
							<i class="fa fa-star"></i> <span style="font-size:12px;">N/A</span>
						<% } %>
						<i class="fa fa-heart"></i> <%=result.favourites%>
					</tags>
				</div>
				<p class="individualStoryDescription clear">
					<%=result.story_description%>
				</p>
			</div>
<% if(k%2 == 0 && results.length > 1){ %>
</div>
<% } %>	
<% }); %>
<div class="page">Page:

	</div>
<% }else{ %>
	<div style="margin-top:10px;margin-bottom:10px;">
	We couldn't find anything. :(
	</div>
<% } %>
</div>
</div>