<div class="submitStatusBox step1">
	<div class="clear" style="font-weight:bold;font-size:24px;">SUBMIT A NEW STORY TO CHALLENGE</div>
	<div class="clear">&nbsp;</div>
	Story Title:*
	<div class="clear"></div>
	<div style="font-size:12px;">What would you like to call this story?</div>
	<div class="clear type">
		<input type="text" id="storyName" name="storyName"/>
	</div>
	<!--
	Chapter Title:
	<div class="clear type">
		<input type="text" id="chapterName" name="chapterName"/>
	</div>
	-->
	Story Description:*
	<div style="font-size:12px;">Tell us what this story is about</div>
	<div class="clear type">
		<input type="text" id="storyDescription" name="storyDescription"/>
	</div>
	Categories:*
	<div style="font-size:12px;">You may select a maximum of three categories</div>
	<div class="clear type">
		<select data-placeholder="Select some categories..." id="category" name="category" class="ui selection dropdown" multiple>
		<% _.each(options.categories, function(category){ %>
			<option value="<%=category.id%>"><%=category.category%></option>
		<% }); %>
		</select>
	</div>
	Tags:*
	<div style="font-size:12px;">Which keywords would you like this story to be searchable by? (Press enter to register a tag)</div>
	<div class="clear type">
		<input type="text" id="tags" name="tags" data-role="tagsinput"/>
	</div>
	Chapter Title:*
	<div style="font-size:12px;">What would you like to call this chapter?</div>
	<div class="clear type">
			<input type="text" id="chapterName" name="chapterName"/>
	</div>
	Start writing! *
	<div style="font-size:12px;">Have fun! Don't forget to save this chapter as draft or publish, or it will be lost!</div>
		<textarea name="storyContent" id="storyContent" placeholder=""></textarea>
	<button id="publishSubmission" name="publishSubmission"><i class="fa fa-newspaper-o"></i> Publish!</button>
	<div class="clear">
		<div style="font-size:12px;">Fields marked with * are required</div>
	</div>
	<div class="clear step2Error">
	</div>
</div>