
	<% _.each(notifications, function(notification){ %>
		<% if(notification.activity_type == "new_chapter"){ %>
    	<li id="<%=notification.notification_id%>"><a href="http://www.bloqly.com/story/<%=notification.chapter[0].story_id%>/<%=notification.chapter[0].story_slug%>/<%=notification.chapter[0].chapter_slug%>"><%=notification.chapter[0].real_name%> has added a new chapter to your story <%=notification.chapter[0].story_name%></a></li>
    	<% }else if(notification.activity_type == "comment_chapter"){ %>
        <li id="<%=notification.notification_id%>"><a href="http://www.bloqly.com/story/<%=notification.chapter[0].story_id%>/<%=notification.chapter[0].story_slug%>/<%=notification.chapter[0].chapter_slug%>"><%=notification.chapter[0].real_name%> has commented on your chapter <%=notification.chapter[0].chapter_name%></a></li>
        <% }else if(notification.activity_type == "rate_chapter"){ %>
        <li id="<%=notification.notification_id%>"><a href="http://www.bloqly.com/story/<%=notification.chapter[0].story_id%>/<%=notification.chapter[0].story_slug%>/<%=notification.chapter[0].chapter_slug%>"><%=notification.chapter[0].real_name%> has rated your chapter <%=notification.chapter[0].chapter_name%></a></li>
        <% }else if(notification.activity_type == "bookmark_chapter"){ %>
        <li id="<%=notification.notification_id%>"><a href="http://www.bloqly.com/story/<%=notification.chapter[0].story_id%>/<%=notification.chapter[0].story_slug%>/<%=notification.chapter[0].chapter_slug%>"><%=notification.chapter[0].real_name%> has bookmarked your chapter <%=notification.chapter[0].chapter_name%></a></li>
        <% }else if(notification.activity_type == "favourite_chapter"){ %>
        <li id="<%=notification.notification_id%>"><a href="http://www.bloqly.com/story/<%=notification.chapter[0].story_id%>/<%=notification.chapter[0].story_slug%>/<%=notification.chapter[0].chapter_slug%>"><%=notification.chapter[0].real_name%> has favourited your chapter <%=notification.chapter[0].chapter_name%></a></li>
        <% }else if(notification.activity_type == "follow_you"){ %>
        <li id="<%=notification.notification_id%>"><a href="http://www.bloqly.com/profile/<%=notification.pen_name%>"><%=notification.real_name%> has started following you</a></li>
        <% }else if(notification.activity_type == "new_your_brainstorm"){ %>
        <li id="<%=notification.notification_id%>"><a href="http://www.bloqly.com/brainstorm/<%=notification.brainstorm[0].story_id%>/<%=notification.brainstorm[0].story_slug%>/read/<%=notification.brainstorm[0].thread_id%>/<%=notification.brainstorm[0].thread_slug%>"><%=notification.real_name%> has started a discussion in one of your Brainstorms</a></li>
        <% }else if(notification.activity_type == "new_following_brainstorm"){ %>
        <li id="<%=notification.notification_id%>"><a href="http://www.bloqly.com/brainstorm/<%=notification.brainstorm[0].story_id%>/<%=notification.brainstorm[0].story_slug%>/read/<%=notification.brainstorm[0].thread_id%>/<%=notification.brainstorm[0].thread_slug%>"><%=notification.real_name%> has started a discussion in a Brainstorm you are subscribed to</a></li>
        <% }else if(notification.activity_type == "reply_your_brainstorm"){ %>
        <li id="<%=notification.notification_id%>"><a href="http://www.bloqly.com/brainstorm/<%=notification.brainstorm[0].story_id%>/<%=notification.brainstorm[0].story_slug%>/read/<%=notification.brainstorm[0].thread_id%>/<%=notification.brainstorm[0].thread_slug%>"><%=notification.real_name%> has replied to a Brainstorm topic you started</a></li>
        <% }else if(notification.activity_type == "reply_following_brainstorm"){ %>
        <li id="<%=notification.notification_id%>"><a href="http://www.bloqly.com/brainstorm/<%=notification.brainstorm[0].story_id%>/<%=notification.brainstorm[0].story_slug%>/read/<%=notification.brainstorm[0].thread_id%>/<%=notification.brainstorm[0].thread_slug%>"><%=notification.real_name%> has replied to a Brainstorm topic you are subscribed to</a></li>
        <% }else if(notification.activity_type == "submit_challenge"){ %>
        <li id="<%=notification.notification_id%>"><a href="http://www.bloqly.com/challenge/<%=notification.challenge[0].challenge_id%>/<%=notification.challenge[0].challenge_slug%>"><%=notification.real_name%> has submitted a new story to your challenge <%=notification.challenge[0].challenge_name%></a></li>
        <% }else if(notification.activity_type == "submit_challenge_subscription"){ %>
        <li id="<%=notification.notification_id%>"><a href="http://www.bloqly.com/challenge/<%=notification.challenge[0].challenge_id%>/<%=notification.challenge[0].challenge_slug%>"><%=notification.real_name%> has submitted a new story to the challenge <%=notification.challenge[0].challenge_name%></a></li>
        <% }else if(notification.activity_type == "comment_challenge"){ %>
        <li id="<%=notification.notification_id%>"><a href="http://www.bloqly.com/challenge/<%=notification.challenge[0].challenge_id%>/<%=notification.challenge[0].challenge_slug%>"><%=notification.real_name%> has left a comment on your challenge <%=notification.challenge[0].challenge_name%></a></li>
        <% }else if(notification.activity_type == "challenge_end"){ %>
        <li id="<%=notification.notification_id%>"><a href="http://www.bloqly.com/challenge/<%=notification.challenge[0].challenge_id%>/<%=notification.challenge[0].challenge_slug%>">The challenge <%=notification.challenge[0].challenge_name%> has ended</a></li>
        <% }else if(notification.activity_type == "status_to_you"){ %>
        <li id="<%=notification.notification_id%>"><a href="http://www.bloqly.com/profile/<%=storage.get('profile').pen_name%>/status/<%=notification.status[0].status_id%>"><%=notification.real_name%> has left you a message you a message on your wall</a></li>
        <% }else if(notification.activity_type == "status_share"){ %>
        <li id="<%=notification.notification_id%>"><a href="http://www.bloqly.com/profile/<%=notification.pen_name%>/status/<%=notification.status[0].status_id%>"><%=notification.real_name%> has reposted one of your statuses</a></li>
        <% }else if(notification.activity_type == "reply_status"){ %>
        <li id="<%=notification.notification_id%>"><a href="http://www.bloqly.com/profile/<%=notification.status[0].pen_name%>/status/<%=notification.status[0].status_id%>"><%=notification.real_name%> has replied to one of your statuses</a></li>
        <% }else if(notification.activity_type == "topic_reply"){ %>
            <% console.log(notification) %>
        <li id="<%=notification.notification_id%>"><a href="http://www.bloqly.com/circle/<%=notification.topic[0].group_id%>/<%=notification.topic[0].group_slug%>/topic/<%=notification.topic[0].topic_id%>/<%=notification.topic[0].topic_slug%>"><%=notification.real_name%> has replied to a Circle topic you are subscribed to</a></li>
        <% }else if(notification.activity_type == "accept_circle_request"){ %>
        <li id="<%=notification.notification_id%>"><a href="http://www.bloqly.com/circle/<%=notification.circle[0].group_id%>/<%=notification.circle[0].group_slug%>/topics"><%=notification.real_name%> has accepted your request to join a Circle</a></li>
        <% }else if(notification.activity_type == "request_circle"){ %>
        <li id="<%=notification.notification_id%>"><a href="http://www.bloqly.com/circle/<%=notification.circle[0].group_id%>/<%=notification.circle[0].group_slug%>/manage-users"><%=notification.real_name%> has requested to join a Circle</a></li>
        <% } %>
    <% }); %>
    <% if(notifications.length == 0){ %>
    	<li id="none"><a href="http://www.bloqly.com/notifications">You have no unread notifications. Click to view older ones</a></li>
    <% }else{ %>
    	<li id="none"><a href="http://www.bloqly.com/notifications">View all notifications</a></li>
    <% } %>
