<div class="modalBox" id="uploadAvatar">
	<div id="closeModal">
		<span><i class="fa fa-times-circle"></i><span>
	</div>
	<input type="hidden" id="outputUrlId"/>
	<div id="updateAvatarButton" style="width:100%;background:#e7ebf2;text-align:center;padding-top:10px;padding-bottom:10px;color:#000000;cursor:pointer;">Click to upload image</div>
</div>