<div class="verify modalBox">
	<div id="closeModal">
		<span><i class="fa fa-times-circle"></i><span>
	</div>
	<div class="instruction">Please select a pen name and password:</div>
	<div class="clear"></div>
	Pen Name:
	<div class="clear"></div>
	<input type="text" id="penname" name="penname">
	<div class="clear pennameError"></div>
	Password:
	<div class="clear"></div>
	<input type="password" id="password1" name="password1">
	<div class="clear"></div>
	Verify Password:
	<input type="password" id="password2" name="password2">
	<div class="clear"></div>
	<button type="text" id="submitPennamePassword">UPDATE</button>
</div>