<div class="modalBox" style="height:170px;">
<div id="closeModal">
	<span><i class="fa fa-times-circle"></i><span>
</div>
<div style="text-align:center;font-size:20px;">
Are you sure you would like to delete this chapter?
<div style="margin-top:10px;"><button class="verifyDeleteChapterButton">Yes, please delete this chapter!</button><button class="cancelDeleteChapterButton">No, I've changed my mind!</button></div>
</div>
</div>