<div class="storyList" style="padding:10px;">
<div class="stories">
<div class="clear">Filter by:</div>
<select id="circleType" name="circleType" style="font-size:18px;">
	<option value="overview">Overview</option>
	<% _.each(categories, function(category){ %>
		<% if(category.id == type){ category_string = category.circle_category; } %>
		<option value="<%=category.slug%>"><%=category.circle_category%></option>
	<% }); %>
	<% if(typeof category_string == "undefined" || type == "overview"){ category_string = type; } %>
</select>
<select id="orderType" name="orderType" style="font-size:18px;">
	<% if(order == "active"){ %>
		<option value="active" selected>Recently Active</option>
		<option value="popular">Most Popular</option>
		<option value="new">Newest</option>
	<% }else if(order == "popular"){ %>
		<option value="active">Recently Active</option>
		<option value="popular" selected>Most Popular</option>
		<option value="new">Newest</option>
	<% }else{ %>
		<option value="active">Recently Active</option>
		<option value="popular">Most Popular</option>
		<option value="new" selected>Newest</option>
	<% } %>
</select>
<% if(type == "overview"){ %>
<div class="storyListHeader circleHeader">
	OFFICIAL CIRCLES
</div>	
<% var j = 0; %>
<% _.each(browseCirclesOfficial, function(circle){ %>
<% if(page == circle.page){ %>
<% j++; %>
<% if(j%2 == 1 && circle.length > 2){ %>
<div class="storiesContainer">
<% } %>	
<div class="individualStory" style="margin-top:10px;min-height:110px;display:block;">
	<div style="padding:5px;">
		<a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>/topics"><img src="<%=circle.group_cover%>" width="100" style="float:left;width:100%;"></a>
	</div>
	<span style="vertical-align:top;">
		<span style="vertical-align:top;">
			<div>
			<a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>/topics" style="vertical-align:top;font-size:20px;"><%=circle.group_name%></a>
			</div>
			<div style="padding-right:10px;">
				<%=circle.group_description%>
			</div>
			<div style="font-size:14px;">
				<% if(circle.topic_count > 0){ %>
					Last post by <a href="http://www.bloqly.com/profile/<%=circle.pen_name%>"><%=circle.real_name%></a> in <a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>/topic/<%=circle.topic_id%>/<%=circle.topic_slug%>"><%=circle.topic_name%></a>
				<% }else{ %>
					Created <%=window.app.timeago(circle.group_started)%> ago
				<% } %>
			</div>
			<div style="font-size:14px;">
				<a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>/members"><i class="fa fa-user"></i> <a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>"><%=circle.count_users%></a> <a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>"><i class="fa fa-comment-o"></i> <%=circle.topic_count%></a>
			</div>
		</span>
	</span>
</div>
<% if(j%2 == 0 && circle.length > 2){ %>
</div>
<% } %>	
<% } %>	
<% }); %>
<% if(typeof browseCirclesOfficial != "undefined"){ %>
<% var numPages = Math.ceil(browseCirclesOfficial.length/10); %>
	<div class="clear">Page:
	<% for(var i = 1; i <= numPages; i++){ %>
		<% if(page != i){ %>
		<a href="http://www.bloqly.com/circle/browse/<%=category_string%>/<%=order%>/<%=i%>" style="color:#33163f;">[<%=i%>]</a> 
		<% }else{ %>
		<a href="http://www.bloqly.com/circle/browse/<%=category_string%>/<%=order%>/<%=i%>" style="color:#33163f;">[<%=i%>]</a> 
		<% } %>
	<% } %>
	</div>
<% } %>
<div class="storyListHeader circleHeader" style="margin-top:10px;">
	POPULAR CIRCLES
</div>	
<% var j = 0; %>
<% _.each(browseCirclesPopular, function(circle){ %>
<% if(page == circle.page){ %>
<% j++; %>
<% if(j%2 == 1 && circle.length > 2){ %>
<div class="storiesContainer">
<% } %>	
<div class="individualStory" style="margin-top:10px;min-height:110px;display:block;">
	<div style="padding:5px;">
		<a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>/topics"><img src="<%=circle.group_cover%>" width="100" style="float:left;width:100%;"></a>
	</div>
	<span style="vertical-align:top;">
		<span style="vertical-align:top;">
			<div>
			<a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>/topics" style="vertical-align:top;font-size:20px;"><%=circle.group_name%></a>
			</div>
			<div style="padding-right:10px;">
				<%=circle.group_description%>
			</div>
			<div style="font-size:14px;">
				<% if(circle.topic_count > 0){ %>
					Last post by <a href="http://www.bloqly.com/profile/<%=circle.pen_name%>"><%=circle.real_name%></a> in <a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>/topic/<%=circle.topic_id%>/<%=circle.topic_slug%>"><%=circle.topic_name%></a>
				<% }else{ %>
					Created <%=window.app.timeago(circle.group_started)%> ago
				<% } %>
			</div>
			<div style="font-size:14px;">
				<a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>/members"><i class="fa fa-user"></i> <a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>"><%=circle.count_users%></a> <a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>"><i class="fa fa-comment-o"></i> <%=circle.topic_count%></a>
			</div>
		</span>
	</span>
</div>
<% if(j%2 == 0 && circle.length > 2){ %>
</div>
<% } %>	
<% } %>	
<% }); %>
<% if(typeof browseCirclesPopular != "undefined" && browseCirclesPopular.length > 0){ %>
<% var numPages = Math.ceil(browseCirclesPopular.length/10); %>
	<% if(browseCirclesPopular.length > 0){ %>
	<div class="clear">Page:
	<% for(var i = 1; i <= numPages; i++){ %>
		<% if(page != i){ %>
		<a href="http://www.bloqly.com/circle/browse/<%=category_string%>/<%=order%>/<%=i%>" style="color:#33163f;">[<%=i%>]</a> 
		<% }else{ %>
		[<%=i%>] 
		<% } %>
	<% } %>
	</div>
<% } %>
<% }else{ %>
	<div class="clear">
		No one has created any group yet! If you would like to create one, click on the Create Circle link to your left!
	</div>
<% } %>
<div class="storyListHeader circleHeader" style="margin-top:10px;">
	ACTIVE CIRCLES
</div>	
<% var j = 0; %>
<% _.each(browseCirclesActive, function(circle){ %>
<% if(page == circle.page){ %>
<% j++; %>
<% if(j%2 == 1 && circle.length > 2){ %>
<div class="storiesContainer">
<% } %>	
<div class="individualStory" style="margin-top:10px;min-height:110px;display:block;">
	<div style="padding:5px;">
		<a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>/topics"><img src="<%=circle.group_cover%>" width="100" style="float:left;width:100%;"></a>
	</div>
	<span style="vertical-align:top;">
		<span style="vertical-align:top;">
			<div>
			<a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>/topics" style="vertical-align:top;font-size:20px;"><%=circle.group_name%></a>
			</div>
			<div style="padding-right:10px;">
				<%=circle.group_description%>
			</div>
			<div style="font-size:14px;">
				<% if(circle.topic_count > 0){ %>
					Last post by <a href="http://www.bloqly.com/profile/<%=circle.pen_name%>"><%=circle.real_name%></a> in <a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>/topic/<%=circle.topic_id%>/<%=circle.topic_slug%>"><%=circle.topic_name%></a>
				<% }else{ %>
					Created <%=window.app.timeago(circle.group_started)%> ago
				<% } %>
			</div>
			<div style="font-size:14px;">
				<a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>/members"><i class="fa fa-user"></i> <a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>"><%=circle.count_users%></a> <a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>"><i class="fa fa-comment-o"></i> <%=circle.topic_count%></a>
			</div>
		</span>
	</span>
</div>
<% if(j%2 == 0 && circle.length > 2){ %>
</div>
<% } %>	
<% } %>	
<% }); %>
<% if(typeof browseCirclesActive != "undefined" && browseCirclesActive.length > 0){ %>
<% var numPages = Math.ceil(browseCirclesActive.length/10); %>
	<% if(browseCirclesActive.length > 0){ %>
	<div class="clear">Page:
	<% for(var i = 1; i <= numPages; i++){ %>
		<% if(page != i){ %>
		<a href="http://www.bloqly.com/circle/browse/<%=category_string%>/<%=order%>/<%=i%>" style="color:#33163f;">[<%=i%>]</a> 
		<% }else{ %>
		[<%=i%>] 
		<% } %>
	<% } %>
	</div>
<% } %>
<% }else{ %>
	<div class="clear">
		No one has created any group yet! If you would like to create one, click on the Create Circle link to your left!
	</div>
<% } %>
<% }else{ %>
<div class="storyListHeader circleHeader" style="margin-top:10px;">
	
</div>	
<% var j = 0; %>
<% _.each(browseCircles, function(circle){ %>
<% if(page == circle.page){ %>
<% j++; %>
<% if(j%2 == 1 && circle.length > 2){ %>
<div class="storiesContainer">
<% } %>	
<div class="individualStory" style="margin-top:10px;min-height:110px;display:block;">
	<div style="padding:5px;">
		<a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>/topics"><img src="<%=circle.group_cover%>" width="100" style="float:left;width:100%;"></a>
	</div>
	<span style="vertical-align:top;">
		<span style="vertical-align:top;">
			<div>
			<a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>/topics" style="vertical-align:top;font-size:20px;"><%=circle.group_name%></a>
			</div>
			<div style="padding-right:10px;">
				<%=circle.group_description%>
			</div>
			<div style="font-size:14px;">
				<% if(circle.topic_count > 0){ %>
					Last post by <a href="http://www.bloqly.com/profile/<%=circle.pen_name%>"><%=circle.real_name%></a> in <a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>/topic/<%=circle.topic_id%>/<%=circle.topic_slug%>"><%=circle.topic_name%></a>
				<% }else{ %>
					Created <%=window.app.timeago(circle.group_started)%> ago
				<% } %>
			</div>
			<div style="font-size:14px;">
				<a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>/members"><i class="fa fa-user"></i> <a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>"><%=circle.count_users%></a> <a href="http://www.bloqly.com/circle/<%=circle.group_id%>/<%=circle.group_slug%>"><i class="fa fa-comment-o"></i> <%=circle.topic_count%></a>
			</div>
		</span>
	</span>
</div>
<% if(j%2 == 0 && circle.length > 2){ %>
</div>
<% } %>	
<% } %>	
<% }); %>
<% if(typeof browseCircles != "undefined" && browseCircles.length > 0){ %>
<% var numPages = Math.ceil(browseCircles.length/10); %>
	<% if(browseCircles.length > 0){ %>
	<div class="clear">Page:
	<% for(var i = 1; i <= numPages; i++){ %>
		<% if(page != i){ %>
		<a href="http://www.bloqly.com/circle/browse/<%=category_string%>/<%=order%>/<%=i%>" style="color:#33163f;">[<%=i%>]</a> 
		<% }else{ %>
		[<%=i%>] 
		<% } %>
	<% } %>
	</div>
<% } %>
<% }else{ %>
	<div class="clear">
		No one has created any group yet! If you would like to create one, click on the Create Circle link to your left!
	</div>
<% } %>
<% } %>
</div>
</div>