<div class="inboxContainer storyList">
	<div class="storyListHeader">
		<%=results[0].topic_name%>
	</div>	
	<div style="text-align:right;">
		<% if(circle[0].am_i_admin == 1){ %>
			<button class="editTopicButton"><i class="fa fa-edit"></i> Edit Topic</button> <% if(results[0].is_pinned == 0){%><button class="pinTopicButton"><i class="fa fa-thumb-tack"></i> Pin Topic</button><% }else{ %><button class="unpinTopicButton"><i class="fa fa-thumb-tack"></i> Unpin Topic</button> <% } %>
		<% } %>
		<% if(circle[0].have_i_joined == 1 && circle[0].status == 1 && results[0].have_i_subscribed == 0){ %>
			<button class="subscribeTopicButton"><i class="fa fa-plus"></i> Subscribe to Topic</button>
		<% }else if(circle[0].have_i_joined == 1 && circle[0].status == 1 && results[0].have_i_subscribed == 1){ %>
			<button class="unsubscribeTopicButton"><i class="fa fa-remove"></i> Unsubscribe to Topic</button>
		<% } %>
	</div>
	<div class="messageContainer">
	<% var numPosts = 0; %>
	<% _.each(results[0].posts, function(post){ %>
	<% numPosts++ %>
	<% if(page == post.page){ %>
	<div class="individualMessage" style="margin-top:10px;padding:10px;">
		<div id="threadTitle">
			<div>
				<span class="floatLeft">
					<a href="http://www.bloqly.com/profile/<%=post.pen_name%>"><img src="<%=post.avatar%>" width="40"></a> <a href="http://www.bloqly.com/profile/<%=post.pen_name%>" style="color:#33163f;vertical-align:top;"><%=post.real_name%></a>
				</span>
				<span class="floatRight" style="text-align:right;">
					<%=app.timeago(post.posted_at)%> ago
				</span>
				<div class="clear"></div>
			</div>
			<div class="messageContent">
				<%=post.post_content%>
			</div>
			<div style="font-size:14px;">
				<% if(post.author_id == storage.get('profile').id || results[0].author_id == storage.get('profile').id){ %>
					<a href="http://www.bloqly.com#" class="editReplyOpen" style="color:#33163f;" id="<%=post.post_id%>">Edit</a> <% if(results[0].posts.length > 1){ %>| <a href="http://www.bloqly.com#" class="deleteReplyOpen" style="color:#33163f;" id="<%=post.post_id%>">Delete</a><% } %>
				<% } %>
			</div>
		</div>
	</div>
	<% } %>
	<% }); %>
	</div>
	<% if(typeof results != "undefined" && results[0].posts.length > 0){ %>
	<% var numPages = Math.ceil(results[0].posts.length/10); %>
	<div class="clear" style="margin-top:10px;margin-bottom:10px;">Page:
	<% for(var i = 1; i <= numPages; i++){ %>
		<% if(page != i){ %>
		<a href="http://www.bloqly.com/circle/<%=results[0].group_id%>/<%=results[0].group_slug%>/topic/<%=results[0].topic_id%>/<%=results[0].topic_slug%>/<%=i%>" style="color:#33163f;">[<%=i%>]</a> 
		<% }else{ %>
		[<%=i%>]
		<% } %>
	<% } %>
	</div>
	<% } %>
	<div>
	<% if(circle[0].have_i_joined == 1 && circle[0].status == 1){ %>
		<textarea name="replyTopic" id="replyTopic" style="height:160px;"></textarea> <button class="replyTopicButton">Reply</button>
	<% }else{ %>
		<div style="font-size:18px;text-align:center;">You must join this circle in order to reply to this topic!</div>
	<% } %>
	</div>
	<div class="replyTopicError">

	</div>
</div>